@use "../../styles/base/colours";
@use "../../styles/base/responsive";
@use "../../styles/base/a11y";

#main-menu {
  display: flex;
  flex-direction: row;
  background-color: colours.$colour-white;
  height: 90px;
  min-height: 90px;
  @include responsive.not-desktop {
    height: 56px;
    min-height: 56px;
    position: relative;
  }
  border-bottom: 1px solid colours.$colour-bg-header;
  z-index: 1000;

  li {
    margin-bottom: 0;
    &:before {
      content: none;
    }
  }

  .mobileMenuButtonContainer {
    display: none;
    @include responsive.not-desktop {
      display: flex;
    }
    flex-direction: column;
    justify-content: center;

    button {
      background-color: unset;
      &:focus {
        outline: none;
        box-shadow: colours.$colour-utility-focus inset 0 0 0 3px;
      }
    }

    i {
      font-size: 24px;
      padding: 12px;
      cursor: pointer;
      min-width: 24px;
      min-height: 24px;
      text-align: center;
      user-select: none;
      color: colours.$colour-admiralty-blue;
    }
  }

  .branding {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    @include responsive.not-desktop {
      padding-left: 12px;
      padding-top: 12px;
      padding-bottom: 12px;
      flex-grow: 1;
    }
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    .logoImageLink {
      display: grid;
    }

    .logoImage {
      height: 100%;
      width: auto;
      @include responsive.not-desktop {
        max-width: 170px;
      }
    }

    a:focus {
      outline: 3px solid colours.$colour-utility-focus;
      outline-offset: 3px;
    }

    #vertical-separator {
      border-right: 1px solid colours.$colour-bg-header;
      margin-left: 24px;
      margin-right: 24px;
      @include responsive.not-desktop {
        margin-left: 12px;
        margin-right: 12px;
      }
    }

    h1.headerTitle {
      margin-bottom: unset !important;
      line-height: 36px !important;
      font-size: 36px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;
      user-select: none;

      @include responsive.not-desktop {
        font-size: 24px;
        line-height: 24px !important;
        white-space: pre-wrap;
      }

      a {
        font-size: 36px;
        font-weight: normal;
        cursor: pointer;
        max-width: fit-content;
        line-height: 1;
        text-decoration: unset;

        @include responsive.not-desktop {
          font-size: 24px;
        }
      }
    }
  }

  .links {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    @include responsive.not-desktop {
      display: none;
    }

    .section {
      position: relative;
      height: 100%;
      cursor: pointer;
      padding: 0px 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include responsive.desktop-only {
        min-width: 80px;
        max-width: 200px;
      }

      > button {
        background-color: unset;
        color: colours.$colour-admiralty-blue;
        font-weight: normal;
        cursor: pointer;

        &:focus {
          outline: 3px solid colours.$colour-utility-focus;
          outline-offset: 3px;
        }
      }

      .sectionDropdown {
        display: none;
      }

      &:hover {
        background-color: colours.$colour-nav-bg-hover;
      }

      &.active {
        box-shadow: inset 0px -5px colours.$colour-admiralty-blue;
        background-color: colours.$colour-nav-bg-hover;

        .sectionDropdown {
          display: unset;
          position: absolute;
          right: 0;
          top: 100%;
          z-index: 999;
          width: 300px;
          background-color: colours.$colour-white;
          border: 1px solid colours.$colour-bg-header;

          .sectionDropdownItem {
            box-sizing: border-box;
            width: 100%;

            a {
              display: block;
              padding: 12px;
              font-weight: 300;

              &:focus {
                outline: none;
                box-shadow: colours.$colour-utility-focus inset 0 0 0 3px;
              }
            }

            button {
              display: block;
              background-color: unset;
              color: colours.$colour-admiralty-blue;
              padding: 12px;
              font-weight: 300;
              cursor: pointer;
              width: 100%;
              text-align: left;

              &:focus {
                outline: none;
                box-shadow: colours.$colour-utility-focus inset 0 0 0 3px;
              }
            }

            &:hover {
              background-color: colours.$colour-nav-bg-hover;
            }
          }
        }
      }

      &:hover {
        box-shadow: inset 0px -5px colours.$colour-admiralty-blue;
      }

      &.navActive {
        box-shadow: inset 0px -5px colours.$colour-admiralty-blue;
      }

      a {
        text-decoration: none;
        color: colours.$colour-admiralty-blue;
        font-weight: normal;
        pointer-events: none;
        line-height: 1;
        text-align: center;

        &:visited {
          color: colours.$colour-admiralty-blue;
        }
        &:focus {
          outline: 3px solid colours.$colour-utility-focus;
          outline-offset: 3px;
        }
      }
    }
  }

  .mobileDropdown {
    display: unset;
    @include responsive.desktop-only {
      display: none;
    }
    box-sizing: border-box;
    position: absolute;
    top: 100%;
    z-index: 999;
    min-width: 100%;
    @include responsive.tablet-only {
      min-width: 50%;
      margin-left: 50%;
    }

    background-color: colours.$colour-white;
    border: 1px solid colours.$colour-bg-header;

    .mobileDropdownItem,
    .mobileDropdownSubItem {
      display: block;
      box-sizing: border-box;
      width: 100%;
      padding: 12px;
      cursor: pointer;
      color: colours.$colour-admiralty-blue;
      font-size: 18px;
      font-weight: 500;
      background-color: unset;
      text-align: unset;
      text-decoration: unset;

      &:hover {
        background-color: colours.$colour-nav-bg-hover;
      }
      &:focus {
        outline: none;
        box-shadow: colours.$colour-utility-focus inset 0 0 0 3px;
      }
      i {
        margin-right: 12px;
      }
    }

    .mobileDropdownSubItem {
      padding-left: 24px;
      font-weight: 300;
    }
  }
}
