<nav id="main-menu">
  <div class="branding">
    <a href="{{ logoLinkUrl }}" tabindex="0" class="logoImageLink">
      <img class="logoImage" src="{{ logoImgUrl }}" alt="{{ logoAltText }}" />
    </a>
    <div id="vertical-separator"></div>
    <h1 class="headerTitle">
      <a
        href="{{ titleLinkUrl }}"
        *ngIf="titleLinkUrl"
        tabindex="0"
        (click)="navigateTitleLink($event)"
        (keydown.enter)="navigateTitleLink($event)"
        >{{ title }}</a
      >
      <ng-container *ngIf="!titleLinkUrl">{{ title }}</ng-container>
    </h1>
  </div>

  <div class="links">
    <ul *ngFor="let item of menuItems">
      <li
        id="{{ item.title }}"
        class="section {{ item.navActive === true ? 'navActive' : '' }}"
        (click)="item.subitems?.length > 0 ? toggleDropdown($event, $event.target, item.title) : itemClickAction($event, item)"
        (mouseenter)="item.subitems?.length > 0 ? openDropdown($event.target, item.title) : null"
        (mouseleave)="item.subitems?.length > 0 ? closeDropdown() : null"
      >
        <a
          href="#0"
          *ngIf="!item.subitems"
          tabindex="0"
          (click)="itemClickAction($event, item)"
          (keydown.enter)="itemClickAction($event, item)"
          (keydown.space)="itemClickAction($event, item)"
        >
          {{ item.title }}
        </a>
        <button
          *ngIf="item.subitems"
          (click)="toggleDropdown($event, $event.target.parentElement, item.title)"
          [attr.aria-expanded]="this.activeDropdownMenu === item.title"
        >
          {{ item.title }}
        </button>
        <ul class="sectionDropdown" *ngIf="item.subitems">
          <li
            *ngFor="let subItem of item.subitems"
            (click)="itemClickAction($event, subItem)"
            class="sectionDropdownItem"
          >
            <a
              href="#0"
              tabindex="0"
              (keydown.enter)="itemClickAction($event, subItem)"
              (keydown.space)="itemClickAction($event, subItem)"
              >{{ subItem.title }}</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <div id="accountSection" *ngIf="authOptions">
      <div *ngIf="!authOptions.isSignedIn()" class="section">
        <button id="signInButton" (click)="authOptions.signInHandler()">Sign in</button>
      </div>
      <div
        id="profile"
        *ngIf="authOptions.isSignedIn()"
        class="section"
        (mouseenter)="openDropdown($event.target, 'profile')"
        (mouseleave)="closeDropdown()"
      >
        <button
          (click)="toggleDropdown($event, $event.target.parentElement, 'profile')"
          [attr.aria-expanded]="this.activeDropdownMenu === 'profile'"
          aria-describedby="signedInButtonTextDescription"
        >
          {{ authOptions.signedInButtonText }}
        </button>
        <div *ngIf="authOptions.signedInButtonTextDescription" id="signedInButtonTextDescription" class="visually-hidden">
          {{ authOptions.signedInButtonTextDescription }}
        </div>
        <ul class="sectionDropdown">
          <li class="sectionDropdownItem">
            <button id="accountButton" (click)="authOptions.userProfileHandler()">Your account</button>
          </li>
          <li class="sectionDropdownItem">
            <button id="signOutButton" (click)="authOptions.signOutHandler()">Sign out</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mobileMenuButtonContainer" *ngIf="menuItems || authOptions" role="navigation" aria-label="Menu">
    <button (click)="toggleMobileMenu()" [attr.aria-expanded]="this.mobileMenuOpen">
      <i class="fas" [ngClass]="{ 'fa-bars': !mobileMenuOpen, 'fa-times': mobileMenuOpen }"></i>
    </button>
  </div>
  <div [@inOutAnimation] class="mobileDropdown" *ngIf="mobileMenuOpen">
    <ng-container *ngFor="let item of menuItems; let i = index">
      <a id="mobileDropdownItem{{ i }}" class="mobileDropdownItem" tabindex="0">
        {{ item.title }}
      </a>
      <a
        href="#0"
        *ngFor="let subItem of item.subitems"
        class="mobileDropdownSubItem"
        (click)="itemClickAction($event, subItem)"
        (keydown.enter)="itemClickAction($event, subItem)"
        (keydown.space)="itemClickAction($event, subItem)"
        tabindex="0"
      >
        {{ subItem.title }}
      </a>
    </ng-container>
    <ukho-hr *ngIf="authOptions && menuItems"></ukho-hr>
    <div *ngIf="authOptions && !authOptions.isSignedIn()">
      <button
        id="mobileSignInButton"
        *ngIf="!authOptions.isSignedIn()"
        class="mobileDropdownItem"
        (click)="authOptions.signInHandler()"
      >
        Sign in
      </button>
    </div>
    <ng-container *ngIf="authOptions && authOptions.isSignedIn()">
      <button id="mobileProfileButton" class="mobileDropdownItem" (click)="authOptions.userProfileHandler()">
        Your account
      </button>
      <button id="mobileSignOutButton" class="mobileDropdownItem" (click)="authOptions.signOutHandler()">
        Sign out
      </button>
    </ng-container>
  </div>
</nav>
