<form>
  <mat-form-field
    appearance="outline"
    [class.disabled] = "isDisabled === true"
    [class.valid] = "isValid === true"
  >
    <mat-label>Input Label </mat-label>
    <input
      [disabled]="isDisabled"
      matInput placeholder="Favorite food"
      [(ngModel)]="textValue.value"
      [formControl]="email"
    >
    <mat-error class="error-message" *ngIf="email.invalid">Email is invalid</mat-error>
    <span 
      *ngIf="isValid || email.invalid"
      class="fa icon"
      [class.fa-check] = "isValid && !email.invalid"
      [class.fa-exclamation] = "email.invalid"
    >
    </span>
  </mat-form-field>
</form>
