@import 'side-bar-item.vars.scss';

li {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;

  &:before {
    content: '';
    display: none;
  }
}

a {
  cursor: pointer;
  margin: 12px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  user-select: none;
  text-decoration: none;
  text-align: center;
  color: $side-bar-item-text-colour;
  font-weight: $side-bar-item-font-weight;
  font-size: $side-bar-item-font-size;

  &.active {
    color: $side-bar-item-active-text-colour;
    box-shadow: 4px 0 $side-bar-item-hover-text-colour inset;
  }

  &:hover {
    color: $side-bar-item-hover-text-colour;
    background-color: $side-bar-item-hover-background-colour;
  }

  &:focus {
    outline: none;
    border: none;
    box-shadow: 4px 0 var(--admiralty-text-colour) inset;
    background-color: $side-bar-item-focus-colour;
    color: $side-bar-item-text-colour;
  }
}

.icon {
  display: flex;
  justify-content: center;
  font-size: $side-bar-item-icon-font-size;
}
