@import '../../styles/vars/globals';

$side-bar-item-text-colour: var(--admiralty-text-colour);
$side-bar-item-hover-text-colour: var(--admiralty-colour-primary);
$side-bar-item-hover-background-colour: var(--admiralty-table-row-colour);
$side-bar-item-active-text-colour: var(--admiralty-colour-primary);
$side-bar-item-focus-colour: var(--admiralty-focus-colour) !default;
$side-bar-item-font-weight: 500;
$side-bar-item-font-size: 16px;
$side-bar-item-icon-font-size: 32px;

$tertiary-link-font-weight: 300;
$tertiary-link-font-size: 300;
$tertiary-link-font-colour: var(--admiralty-colour-light-contrast);
$tertiary-link-background-hover-colour: var(--admiralty-hover-background-colour);
$tertiary-link-active-background-colour: var(--admiralty-colour-primary);
$tertiary-link-active-text-colour: var(--admiralty-colour-primary-contrast);
$tertiary-link-focus-background-colour: var(--admiralty-focus-colour);
$tertiary-link-focus-text-colour: var(--admiralty-colour-primary);
