@import '../../styles/vars/globals';

$side-bar-item-text-colour: var(--admiralty-text-colour);
$side-bar-item-hover-text-colour: var(--admiralty-colour-primary);
$side-bar-item-active-text-colour: var(--admiralty-colour-primary);
$side-bar-item-font-weight: 500;
$side-bar-item-font-size: 16px;
$side-bar-item-icon-font-size: 32px;
