@use "../../styles/base/colours";
@use "../../styles/base/icons";
@use "../form-field/form-field";

.select-container {

  select {
    appearance: none;
    width: 100%;
    height: 54px;
    border: 2px solid colours.$colour-text;
    color: colours.$colour-text;
    padding-left: 18px;
    outline: none;
    background-color: colours.$colour-white;
    position: relative;
    line-height: 3;
    box-sizing: border-box;

    @extend .form-field;
  }

  .wrapper {
    position: relative;

    &::after {
      @extend .fas;
      content: icons.fa-content(icons.$fa-var-chevron-down);
      position: absolute;
      top: 16px;
      right: 16px;
      pointer-events: none;
    }

    &.disabled:after {
      color: colours.$colour-textinput-text-disabled;
    }
  }
}

