@use "../../styles/base/colours";
@use "../../styles/base/icons";
@use "../../styles/base/typography";
@use "../form-field/form-field";

.select-container {

  select {
    width: 100%;
    border-color: colours.$colour-text;
    border-width: 2px;
    border-style: solid;
    color: colours.$colour-text;
    font-size: 18px;
    line-height: 24px;
    font-weight: typography.$font-weight-light;

    padding: 12px;
    appearance: none;
    box-sizing: border-box;

    @extend .form-field;
  }

  .wrapper {
    position: relative;

    &::after {
      @extend .fas;
      content: icons.fa-content(icons.$fa-var-chevron-down);
      position: absolute;
      top: 15px;
      right: 16px;
      pointer-events: none;
    }

    &.disabled:after {
      color: colours.$colour-textinput-text-disabled;
    }
  }
}

