@use "../../styles/base/colours";
@use "../../styles/base/responsive";

@use "../../../../node_modules/highlight.js/styles/default.css";

div.codeSnippetComponentContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 84px;
  @include responsive.not-desktop {
    min-height: 74px;
  }
  border: 1px solid colours.$colour-codesnippet-line;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  position: relative;

  div.copyCodeContainer {
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    justify-content: flex-end;
    padding: 12px 12px 0px 12px;
    background-color: colours.$colour-codesnippet-bg;
  }

  div.codeSnippetContainer {
    overflow-x: auto;
    overflow-y: auto;
    flex-grow: 1;
    background-color: colours.$colour-codesnippet-bg;

    pre {
      height: 100%;
      margin: 0;

      code {
        height: 100%;
        padding: 12px;
        box-sizing: border-box;
        font-family: monospace;
        display: block;

        span {
          font-family: monospace;
        }

        .hljs-comment {
          color: #6b6b6b;
        }

        .hljs-regexp,
        .hljs-symbol,
        .hljs-variable,
        .hljs-template-variable,
        .hljs-link,
        .hljs-selector-attr,
        .hljs-selector-pseudo {
          color: #a35353;
        }

        .hljs-literal {
          color: #527442;
        }

        .hljs-meta {
          color: #1c6488;
        }

        .hljs-meta-string {
          color: #39718d;
        }
      }
    }
  }

  div.copiedCodeModal {
    z-index: 100;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    > span {
      color: white;
      text-align: center;
      user-select: none;
      font-size: 24px;
    }
  }
}
