@use '../vars/colours';
@use 'responsive';
@use '../vars/typography';
@use 'a11y';

* {
  font-family: typography.$font-family;
  font-size: typography.$font-size-normal;
  line-height: typography.$font-line-height-normal;
  font-weight: typography.$font-weight-light;
  color: colours.$colour-text;
  @include responsive.not-desktop {
    font-size: 16px;
  }
}

a {
  color: colours.$colour-admiralty-blue;
  text-underline-offset: 0.15em;
  &:focus {
    @include a11y.focus-highlight;
  }
  &:hover {
    text-decoration-thickness: 0.15em;
  }
}

h1 {
  font-family: typography.$font-family;
  color: colours.$colour-admiralty-blue;
  font-weight: typography.$font-weight-medium;
  font-size: 48px;
  line-height: 60px;
  margin: 0 0 30px 0;
  @include responsive.not-desktop {
    font-size: 46px;
    line-height: 54px;
  }
}

h2 {
  font-family: typography.$font-family;
  color: colours.$colour-admiralty-blue;
  font-weight: typography.$font-weight-medium;
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 18px;
  @include responsive.not-desktop {
    font-size: 34px;
    line-height: 42px;
  }
}

h3,
h4,
h5 {
  font-family: typography.$font-family;
  color: colours.$colour-admiralty-blue;
  font-weight: typography.$font-weight-medium;
  font-size: 21px;
  line-height: 30px;
  margin-bottom: 12px;
  @include responsive.not-desktop {
    font-size: 20px;
    line-height: 30px;
  }
}

h6 {
  font-family: typography.$font-family;
  color: colours.$colour-admiralty-blue;
  font-weight: typography.$font-weight-medium;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 12px;
  @include responsive.not-desktop {
    font-size: 16px;
  }
}

p {
  font-family: typography.$font-family;
  margin-bottom: 30px;
}

.intro {
  font-family: typography.$font-family;
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 30px;
  @include responsive.not-desktop {
    font-size: 26px;
  }
}

.small {
  font-family: typography.$font-family;
  font-size: 16px;
  @include responsive.not-desktop {
    font-size: 14px;
    line-height: 22px;
  }
}

blockquote {
  font-family: typography.$font-family;
  line-height: 30px;
  width: 100%;
  padding: 24px 18px;
  border-left: 5px solid colours.$colour-admiralty-blue;
  margin-bottom: 30px;
  background: colours.$colour-bg-grey;
  @include responsive.not-desktop {
    line-height: 24px;
  }
}

ul {
  font-family: typography.$font-family;
  list-style: none;
  a {
    font-weight: typography.$font-weight-light;
  }

  li {
    margin-bottom: 12px;
  }

  li:before {
    content: '\25A0';
    font-size: 18px;
    color: colours.$colour-admiralty-blue;
    vertical-align: text-bottom;
    margin-right: 12px;
    @include responsive.not-desktop {
      font-size: 8px;
    }
  }
}

ol {
  font-family: typography.$font-family;
  list-style: none;
  counter-reset: li;

  a {
    font-weight: typography.$font-weight-light;
  }

  li:before {
    content: counter(li) '.';
    color: colours.$colour-dark-blue;
    font-size: 18px;
    margin-right: 12px;
  }

  li {
    counter-increment: li;
    margin-bottom: 12px;
  }
}

.white-text {
  * {
    color: colours.$colour-white;
  }
}
