@use '../../styles/base/colours';
@use '../../styles/base/icons';

:host {
  display: flex;
  border: 2px dashed colours.$colour-admiralty-blue;
  min-height: 120px;
  align-content: stretch;
  justify-content: stretch;
  background: colours.$colour-bg-grey;

  &.is-dragover {
    background: colours.$colour-white;
  }

  &.validated {
    border-color: colours.$colour-utility-success;
    background: colours.$colour-white;
  }

  &.invalid {
    border-color: colours.$colour-utility-error;
    background: colours.$colour-white;
  }

  margin-bottom: 36px;
}

label {
  display: flex;
  flex-direction: column;
  flex: 1;
  cursor: pointer;
  align-content: center;
  justify-content: center;
  span,
  i {
    color: colours.$colour-admiralty-blue;
    margin: 0.4rem 0;
    text-align: center;
    flex: 0 1;
    font-size: 18px;
  }
  i {
    font-size: 24px;
    &::before {
      @extend .fas;
      content: icons.fa-content(icons.$fa-var-upload);
    }
  }
  .instructions {
    font-weight: 400;
  }
}

input {
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.error-text {
  font-size: 12px;
  color: colours.$colour-utility-error;
  margin-left: 18px;
  margin-bottom: 0;
}
