@use '../../scss/vars/colours';
@use '../../scss/base/a11y';

:host {
  display: flex;
  align-items: center;
}

admiralty-icon {
  color: colours.$colour-utility-error;
  margin: 4px 0;
}

p {
  margin: 0;
  color: colours.$colour-utility-error;
}
