@import '../../styles/vars/globals';

$progress-bar-background-colour: var(--admiralty-background-colour-tint);
$progress-bar-text-colour: var(--admiralty-colour-primary);
$progress-bar-success-colour: var(--admiralty-colour-success);
$progress-bar-error-colour: var(--admiralty-colour-danger);
