@import 'progress-bar.vars.scss';

progress {
  appearance: none;
  background: $progress-bar-background-colour;
  border: none;
  box-sizing: border-box;
  color: $progress-bar-text-colour;
  display: inline-block;
  font-size: 18px;
  flex: 1;
  height: 1em;
  width: 100%;

  &[value].error::-webkit-progress-value {
    background-color: $progress-bar-error-colour;
  }

  &[value].error::-moz-progress-bar {
    background-color: $progress-bar-error-colour;
  }

  &[value]::-webkit-progress-value {
    background-color: $progress-bar-success-colour;
  }

  &[value]::-moz-progress-bar {
    background-color: $progress-bar-success-colour;
  }
}
