@use '../../scss/vars/colours' as colours;

progress {
  appearance: none;
  background: colours.$colour-button-secondary-hover;
  border: none;
  box-sizing: border-box;
  color: colours.$colour-admiralty-blue;
  display: inline-block;
  font-size: 18px;
  flex: 1;
  height: 1em;
  width: 100%;

  &[value].error::-webkit-progress-value,
  &[value].error::-moz-progress-bar {
    background-color: colours.$colour-utility-error;
  }

  &[value]::-webkit-progress-value,
  &[value]::-moz-progress-bar {
    background-color: colours.$colour-utility-success;
  }
}
