@import '../../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../../../node_modules/@fortawesome/fontawesome-free/scss/brands';

.new-window-link-container {
  width: 100%;
  text-align: right;
  margin-bottom: 20px;
}

.tabs {
  cursor: pointer;
}

.tab2 > label {
  @extend %fa-icon;
  @extend .fab;
  &:before {
    margin-right: 0.2rem;
    content: fa-content($fa-var-html5);
    color: #e34c26;
  }
}

.tab3 > label {
  @extend %fa-icon;
  @extend .fab;
  &:before {
    margin-right: 0.2rem;
    content: fa-content($fa-var-angular);
    color: #dd0031;
  }
}
