@import 'footer.vars';

footer {
  @include tablet-or-desktop {
    flex-direction: row;
    padding: $footer-desktop-padding;
    gap: 1rem;
  }

  padding: $footer-padding;
  border-top: $footer-border-colour 0.375rem solid;
  background: $footer-background-colour;
  display: flex;
  flex-direction: column;

  .footer-branding {
    .footer-img {
      @include tablet-or-desktop {
        height: $footer-branding-image-desktop-height; // 100px;
        margin-bottom: $footer-branding-image-desktop-margin-bottom;
      }
      height: $footer-branding-image-height; // 86px;
      margin-bottom: $footer-branding-image-margin-bottom;
      box-sizing: border-box;

      a {
        display: block;
        height: 100%;
        width: min-content;
      }

      img {
        height: 100%;
      }
    }
  }

  @media (prefers-color-scheme: dark) {
    img {
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg);
    }
  }

  .footer-content {
    @include tablet-or-desktop {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
    }
    .footer-links {
      @include tablet-or-desktop {
        flex-direction: row;
        align-self: flex-end;
        margin-left: $footer-content-links-desktop-margin-left;
        gap: 1.5rem;
      }
      display: flex;
      flex-direction: column;
      align-self: flex-start;
      margin-left: $footer-content-links-margin-left;
      gap: 0.5rem;
      flex-grow: 1;

      ::slotted(admiralty-link) {
        a {
          font-weight: $footer-links-font-weight;
        }
      }
    }

    .footer-text {
      @include tablet-or-desktop {
        align-self: flex-end;
        margin-left: $footer-content-text-desktop-margin-left;
      }
      align-self: flex-start;
      margin-left: $footer-content-text-margin-left;
      margin-top: $footer-content-text-margin-top;
      p {
        @include tablet-or-desktop {
          text-align: right;
        }
        margin: $footer-content-text-paragraph-margin;
        font-weight: $footer-text-weight;
        color: $footer-text-colour;
      }
    }
  }
}

footer.footer-compact {
  display: inline-flex;
  width: auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: $footer-compact-padding;
  gap: 0.5rem;
  opacity: .70;
  background-color: $footer-compact-background-colour;

  border-radius: 0.625rem 0 0 0;
  border-bottom: 3px solid $footer-border-colour;
  border-top: none;

  .footer-content {
    @include phone-only {
      justify-content: center;
      flex-direction: column-reverse;
    }

    @include not-desktop {
      flex-direction: column-reverse;
    }

    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;

    .footer-links {
      @include phone-only {
        place-self: flex-end;
      }

      @include not-desktop {
        row-gap: 0;

        &.text-padding {
          padding-top: $footer-compact-links-not-desktop-padding-top;
          row-gap: .2rem;
        }
      }

      font-size: $footer-compact-font-size;
      justify-content: flex-end;
      line-height: .95rem;
      flex-flow: nowrap;
      column-gap: 1.25rem; // gap
      flex-wrap: wrap;

      &.text-padding {
        margin-left: $footer-compact-links-margin-left;
      }
    }

    .footer-text {
      @include phone-only {
        margin-right: $footer-compact-content-text-phone-margin-right;
      }

      width: 14.3rem;
      height: 1.1875rem;
      flex-shrink: 0;

      align-self: flex-end;
      margin-left: $footer-compact-content-text-margin-left;
      margin-top: $footer-compact-content-text-margin-top;

      p {
        color: $footer-compact-text-colour;
        font-size: $footer-compact-font-size;
        font-style: normal;
        font-weight: $footer-compact-font-weight;
        line-height: 1.5rem;
      }
    }
  }
}
