@import "../../styles/vars/globals";

$footer-border-colour: var(--admiralty-colour-primary);
$footer-height: 148px;
$footer-background-colour: #eee; // TODO: replace with variable
$footer-text-colour: var(--admiralty-text-colour);
$footer-text-size: 16px;
$footer-text-weight: 300;
$footer-text-line-height: 24px;
