@import '../../styles/vars/globals';

$footer-border-colour: var(--admiralty-colour-primary);
$footer-background-colour: var(--admiralty-background-colour-grey);
$footer-text-colour: var(--admiralty-text-colour);
// $footer-text-size: 18px;
$footer-text-weight: 300;
// $footer-text-line-height: 27px;
