<section>
    <div class="tab1 component-example">
        <div id="invalid-input-wrap" class="text-input-wrap invalid">
            <input id="name-input4" type="text" class="form-text-input" value="example@example.com" />
            <div id="input-label4" class="input-wrap">
                <label for="name-input">Email</label>
            </div>
            <span id="invalid-icon" class="icon invalid-icon fa fa-exclamation"></span>
            <p  id="invalid-text" class="error-text">Enter a valid email address</p>
        </div>
    </div>
    <div class="tab2 component-html">
        HTML injected here
    </div>
    <div class="tab3 component-angular">
        <h5>Angular example usage:</h5>
        <pre>
            <code class="language-html">
&ltapp-textinput
[isValid]="true"
[inputText]="inputText"
[validation]="inputFormControl"
[invalidMessage]="'Email is invalid'"
>
&lt/app-textinput>
            </code>
        </pre>
    </div>
</section>
