<div class="text-input-container">
  <label [ngClass]="{ disabled: disabled }" class="form-field-label" [for]="id">{{ label }}</label>
  <input
    #input
    (blur)="onTouch()"
    (input)="onChange($event.target.value)"
    [attr.autocomplete]="autocomplete ? autocomplete : null"
    [disabled]="disabled"
    [placeholder]="placeholder || ''"
    [id]="id"
    [attr.name]="name ? name : null"
    [type]="type"
    class="form-text-input"
    [ngClass]="{ invalid: !valid && touched, disabled: disabled }"
    [attr.aria-describedby]="!valid && touched ? errorLabelId : null"
    [attr.aria-invalid]="!valid && touched"
  />
</div>
<div class="text-input-error" *ngIf="validationMessages">
  <p [id]="errorLabelId" *ngIf="!valid && touched && error" class="error-text">
    {{ validationMessages[error] }}
  </p>
</div>
