@use "../../styles/base/colours";
@use "../../styles/base/icons";
@use "../../styles/base/typography";
@use "../form-field/form-field";

.text-input-container {
  display: flex;
  flex-direction: column;

  input.form-text-input {
    border-color: colours.$colour-text;
    border-width: 2px;
    border-style: solid;
    color: colours.$colour-text;
    font-size: 18px;
    line-height: 24px;
    font-weight: typography.$font-weight-light;

    padding: 12px;

    &:focus {
      outline-offset: unset;
      outline: 3px solid colours.$colour-utility-focus;
      box-shadow: colours.$colour-text inset 0 0 0 2px;
    }

    @extend .form-field;
  }
}
