<div class="text-input-container">
  <ukho-input-header [id]="id"
                     [label]="label"
                     [hint]="hint"
                     [disabled]="disabled">
  </ukho-input-header>
  <input
    #input
    (blur)="onTouch()"
    (input)="onChange($event.target.value)"
    [attr.aria-expanded]="ariaExpanded"
    [attr.aria-owns]="ariaOwns"
    [attr.aria-autocomplete]="autocomplete ? autocomplete : null"
    autocomplete="off"
    [disabled]="disabled"
    [placeholder]="placeholder || ''"
    [id]="id"
    [attr.name]="name ? name : null"
    [type]="type"
    class="form-text-input"
    [ngClass]="{ invalid: !valid && touched, disabled: disabled }"
    attr.aria-describedby="{{ errorLabelId }} {{ ariaDescribedBy }}"
    [attr.aria-invalid]="!valid && touched"
    [attr.role]="ariaRole ? ariaRole : null"
  />
</div>
<div class="text-input-error" *ngIf="validationMessages">
  <p [id]="errorLabelId" *ngIf="!valid && touched && error" class="error-text">
    {{ validationMessages[error] }}
  </p>
</div>
