:host {
  display: inline-block;

  min-width: 1em;
  min-height: 1em;

  contain: strict;

  fill: currentColor;

  box-sizing: content-box !important;
}
.icon-inner,
svg {
  display: block;

  height: 1em;
  width: 1em;
}
