.container {
  border: 1px solid #d0d0d0;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

@media (prefers-color-scheme: dark) { /* Inverts logo colours for darkmode */
  .container {
    filter: invert(100%) brightness(100) saturate(100%);
  }
}
