@use '../../scss/vars/colours';
@use '../../scss/vars/typography';
@use '../../scss/base/responsive';

.colourBlock {
  height: 100%;
  width: 100%;
  max-width: 100%;
  padding: 30px 18px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  .content {
    flex-grow: 1;
  }

  .clickAction {
    align-self: flex-end;
    cursor: pointer;

    &:focus * {
      color: colours.$colour-text !important;
    }

    span {
      font-weight: typography.$font-weight-medium;
      font-size: 21px;
      line-height: 30px;
      @include responsive.not-desktop {
        font-size: 20px;
        line-height: 30px;
      }
    }
  }

  &.admiralty-blue {
    background-color: colours.$colour-admiralty-blue;
    * {
      color: colours.$colour-white;
    }
  }

  &.teal {
    background-color: colours.$colour-teal;
    * {
      color: colours.$colour-white;
    }
  }

  &.bright-blue {
    background-color: colours.$colour-bright-blue;
    color: colours.$colour-admiralty-blue;
    .clickAction * {
      color: colours.$colour-admiralty-blue;
    }
  }
}
