@import '../../styles/vars/globals';

/**
 * @prop --admiralty-colour-block-action-font-size: Font size of the colour block action
 * @prop --admiralty-colour-block-action-not-desktop-font-size: Font size of the colour block action when not in desktop view
 * @prop --admiralty-colour-block-action-font-weight: Font weight of the colour block action
**/

$colour-block-action-text-size: var(--admiralty-colour-block-action-font-size, var(--admiralty-font-size-0));
$colour-block-action-not-desktop-text-size: var(--admiralty-colour-block-action-not-desktop-font-size, var(--admiralty-font-size-0));
$colour-block-action-font-weight: var(--admiralty-colour-block-action-font-weight, var(--admiralty-font-weight-normal));
$colour-block-action-line-height: 30px;

$primary-colour-block-colour: var(--admiralty-colour-primary);
$primary-colour-block-text-colour: var(--admiralty-colour-primary-contrast);

$secondary-colour-block-colour: var(--admiralty-colour-secondary);
$secondary-colour-block-text-colour: var(--admiralty-colour-secondary-contrast);

$tertiary-colour-block-colour: var(--admiralty-colour-tertiary);
$tertiary-colour-block-text-colour: var(--admiralty-colour-primary);

$colour-block-focus-text-colour: var(--admiralty-text-colour) !default;
