@import '../../styles/vars/globals';

$primary-colour-block-colour: var(--admiralty-colour-primary);
$primary-colour-block-text-colour: var(--admiralty-colour-primary-contrast);

$secondary-colour-block-colour: var(--admiralty-colour-secondary);
$secondary-colour-block-text-colour: var(--admiralty-colour-secondary-contrast);

$tertiary-colour-block-colour: var(--admiralty-colour-tertiary);
$tertiary-colour-block-text-colour: var(--admiralty-text-colour);

$colour-block-action-text-size: 21px;
$colour-block-action-line-height: 30px;
$colour-block-action-font-weight: normal;

$colour-block-focus-colour: var(--admiralty-focus-outline-colour) !default;
$colour-block-focus-text-colour: var(--admiralty-text-colour) !default;
