@import 'colour-block.vars';

.colourBlock {
  height: 100%;
  width: 100%;
  max-width: 100%;
  padding: 30px 18px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  .content {
    flex-grow: 1;
  }

  .clickAction {
    align-self: flex-end;
    cursor: pointer;

    &:focus * {
      color: $colour-block-focus-text-colour !important;
    }

    span {
      font-weight: $colour-block-action-font-weight;
      font-size: $colour-block-action-text-size;
      line-height: $colour-block-action-line-height;
    }
  }

  &.admiralty-blue {
    background-color: $primary-colour-block-colour;
    * {
      color: $primary-colour-block-text-colour;
    }
  }

  &.teal {
    background-color: $secondary-colour-block-colour;
    * {
      color: $secondary-colour-block-text-colour;
    }
  }

  &.bright-blue {
    background-color: $tertiary-colour-block-colour;
    color: $tertiary-colour-block-text-colour;
    .clickAction * {
      span {
        color: $tertiary-colour-block-text-colour;
      }
    }
  }
}
