@use "../../styles/base/colours";

.checkbox-wrapper {
  position: relative;
  display: inline-block;

  input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    margin: 0;
    z-index: 1;
    cursor: pointer;
  }
  &.right-align {
    input[type="checkbox"] {
      left: unset;
      right: 0;
    }
  }

  label {
    position: relative;
    display: inline-block;
    padding-left: 42px;
    margin-bottom: 14px;
    cursor: pointer;
    user-select: none;
    line-height: 30px;
  }

  label::before,
  label::after {
    position: absolute;
    content: "";
    display: inline-block;
  }

  label::before {
    height: 26px;
    width: 26px;

    border: 2px solid colours.$colour-checkbox;
    left: 0;
    top: 0;
  }

  input[type="checkbox"]:focus + label::before {
    box-shadow: 0 0 0 3px colours.$colour-utility-focus;
  }

  label::after {
    height: 8px;
    width: 15px;
    border-left: 3px solid;
    border-bottom: 3px solid;

    transform: rotate(-45deg);

    color: colours.$colour-admiralty-blue;

    left: 6px;
    top: 7px;
  }

  &.right-align label {
    padding-left: unset;
    padding-right: 35px;

    &:before {
      left: unset;
      right: 0px;
    }
    &:after {
      left: unset;
      right: 6px;
    }
  }

  &.justify label {
    flex: 1;
  }

  input[type="checkbox"] + label::after {
    content: none;
  }

  input[type="checkbox"]:checked + label::after {
    content: "";
  }
}
