@import 'radio-group.vars';

.radio-group {
  display: flex;
  flex-direction: row;

  ::slotted(*) {
    margin-right: $radio-group-slotted-margin-right !important;
  }
}

.stack {
  flex-direction: column;

  ::slotted(*) {
    margin-bottom: $radio-group-stack-slotted-margin-bottom !important;
  }
}

fieldset {
  padding: $radio-group-fieldset-padding;
}

legend {
  margin-bottom: $radio-group-legend-margin-bottom;
  font-weight: $radio-group-legend-font-weight;
}
