@import 'radio-group.vars';

.radio-group {
  display: flex;
  flex-direction: row;

  ::slotted(*) {
    margin-right: 2em !important;
  }
}

.stack {
  flex-direction: column;

  ::slotted(*) {
    margin-bottom: 10px !important;
  }
}

fieldset {
  padding: 0;
}

legend {
  margin-bottom: 6px;
  font-weight: $radio-group-legend-font-weight;
}
