@import '../../styles/vars/globals';

/**
 * @prop --admiralty-header-profile-font-size: Font size of the header profile
 * @prop --admiralty-header-profile-font-weight: Font weight of the header profile
 * @prop --admiralty-header-profile-sub-item-font-weight: Font weight of the header profile sub item
**/

$header-profile-text-size: var(--admiralty-header-profile-font-size, var(--admiralty-font-size-0));
$header-profile-text-weight: var(--admiralty-header-profile-font-weight, var(--admiralty-font-weight-medium));
$header-profile-sub-item-text-weight: var(--admiralty-header-profile-sub-item-font-weight, var(--admiralty-font-weight-normal));

$header-profile-active-colour: var(--admiralty-colour-primary);
$header-profile-text-colour: var(--admiralty-colour-primary);
$header-profile-hover-background-colour: var(--admiralty-hover-background-colour);
$header-profile-divider-colour: var(--admiralty-colour-light);
$header-profile-line-height: var(--admiralty-header-profile-line-height, var(--admiralty-line-height-0));
