<h1>Agile principles</h1>
    
    <ol>
            <li><a href="#anchor1">We are agile first</a></li>
            <li><a href="#anchor2">We build iterative and incremental solutions</a></li>
            <li><a href="#anchor3">We trust our teams</a></li>
            <li><a href="#anchor4">We build motivated teams jointly responsible for success</a></li>
            <li><a href="#anchor5">We support a continuous improvement environment</a></li>
            <li><a href="#anchor6">We respond to feedback</a></li>
        </ol>
    
    <h3 id="anchor1">1. We are agile first</h3>
    <p>
            We deliver using Agile principles and practices, unless it is not practical do so, and expect are partners and third parties to work in the same way.
    </p>

    <h3 id="anchor2">2. We build iterative and incremental solutions</h3>
    <p>
            We deliver working solutions frequently from which we can learn and gain feedback ensuring that the solution meets the users needs.
    </p>

    <h3 id="anchor3">3. We trust our teams</h3>
    <p>
            We trust and empower our teams to deliver the given outcome, listening and respecting the teams' views on how best to undertake the work.
    </p>

    <h3 id="anchor4">4. We build motivated teams jointly responsible for success</h3>
    <p>
            We provide teams with the multi-disciplinary skill sets required to effectively delivery the given outcome, encouraging technical excellence, creativity and good design.
    </p>

    <h3 id="anchor5">5. We support a continuous improvement environment</h3>
    <p>
            We encourage teams to inspect, adapt, learn, experiment and innovate without fear of failure, ensuring that best practices are shared across teams.
    </p>

    <h3 id="anchor6">6. We respond to feedback</h3>
    <p>
            We proactively seek feedback and allow it to influence the direction of delivery ensuring that we deliver products and services that meet user need, welcoming changing requirements so that we can deliver products that delight our customers.
    </p>
