<h1>Architecture principles</h1>

<ol>
        <li><a href="#anchor1">We align the business and IT community</a></li>
        <li><a href="#anchor2">We use mainstream technologies, industry standards and open architecture</a></li>
        <li><a href="#anchor3">We ensure business continuity</a></li>
        <li><a href="#anchor4">We are compliant with the law, standards and policies</a></li>
        <li><a href="#anchor5">We protect intellectual property</a></li>
        <li><a href="#anchor6">We always re-engineer processes First</a></li>
        <li><a href="#anchor7">We always consider the total cost of ownership model</a></li>
        <li><a href="#anchor8">We all have technology responsibility</a></li>
        <li><a href="#anchor9">We ensure interoperability and reduce integration complexity</a></li>
        <li><a href="#anchor10">We maximise component reusability and simplicity</a></li>
        <li><a href="#anchor11">We ensure ease of use of applications</a></li>
        <li><a href="#anchor12">We use the right components and the right teams to deliver optimal solutions</a></li>
        <li><a href="#anchor13">We promote loosely coupled interface design</a></li>
        <li><a href="#anchor14">We use automation where possible</a></li>
        <li><a href="#anchor15">We use common use applications and solutions</a></li>
        <li><a href="#anchor16">We deliver the capabilities required to implement the corporate plan</a></li>
        <li><a href="#anchor17">We ensure capability delivery to meet the business timescales</a></li>
        <li><a href="#anchor18">We always build functionality into business and IT capabilities</a></li>
        <li><a href="#anchor19">We ensure all solutions shall consider Data centricity</a></li>
        <li><a href="#anchor20">We consider reuse before buy, buy before build </a></li>
        <li><a href="#anchor21">We seek out continuous improvement opportunities</a></li>
        <li><a href="#anchor22">We always consider the value of change</a></li>
        <li><a href="#anchor23">We think simplicity first</a></li>
    </ol>

<h3 id="anchor1">1. We align the business and IT community</h3>
<p>
        ​​Decisions are always made to benefit the whole enterprise. Changes should always look for ways to improve the existing performance and efficiency of processes. Strategic decisions for solutions must always strive to maximize benefits generated for the business at the lowest long term risks and costs.
</p>

<h3 id="anchor2">2. We use mainstream technologies, industry standards and open architecture</h3>
<p>
        Solutions must use industry proven, mainstream technologies except in those areas where advanced higher risk solutions provide a substantial benefit. Mainstream is defined to exclude unproven technologies and older technologies and systems that are identified as not part of our target architecture.
</p>

<h3 id="anchor3">3. We ensure business continuity</h3>
<p>
        Business critical systems must consider business continuity.
</p>

<h3 id="anchor4">4. We are compliant with the law, standards and policies</h3>
<p>
        Corporate information management must comply with all applicable Statutory Obligations, internal \ external policies and regulations.
</p>

<h3 id="anchor5">5. We protect intellectual property</h3>
<p>
        Organisational IP must be protected. This protection must be reflected in the IP architecture, implementation and governance process. Software and information shall maximise the IP of these artefacts to ensure the UKHO can maximise their reuse and value.
</p>

<h3 id="anchor6">6. We always re-engineer processes first</h3>
<p>
        Applications and solutions will only be built or redeveloped after business processes have been analysed, simplified or otherwise redesigned as appropriate.
</p>

<h3 id="anchor7">7. We always consider the total cost of ownership model</h3>
<p>
        A total cost of ownership model applies to applications and technologies which balance the costs of development, support, security, risk mitigation, disaster recovery and retirement against the costs of flexibility, scalability, ease of use and reduction of integration complexity.
</p>

<h3 id="anchor8">8. We all have technology responsibility</h3>
<p>
        DS&T are responsible for owning and implementing ICT processes and infrastructure and responsible for implementing applications in partnership with the business owners that enable solutions to meet user defined requirements for functionality, service levels, cost, and delivery timing.
</p>

<h3 id="anchor9">9. We ensure interoperability and reduce integration complexity</h3>
<p>
        Applications must be designed, acquired, developed and enhanced such that data and processes can be shared and integrated across the department and with our partners, recognising that some information is confidential and access to it is controlled by the business owner.
</p>

<h3 id="anchor10">10. We maximise component reusability and simplicity</h3>
<p>
        Systems must be as simple as possible to maintain yet meet all business and corporate requirements. Where it is appropriate reuse, before buy, before configuring before build to maximize existing return on investment.
</p>

<h3 id="anchor11">11. We ensure ease of use of applications</h3>
<p>
        Applications and components should be easy to use. The technology is transparent to users, so it enables them to concentrate on their tasks, rather than on system operation issues.
</p>

<h3 id="anchor12">12. We use the right components and the right teams to deliver optimal solutions</h3>
<p>
        The business rules and functionality of a system are consistent with the mission of that system. There is complete adherence to the functional domain in which the system is located.
</p>

<h3 id="anchor13">13. We promote loosely coupled interface design</h3>
<p>
        ​Interfaces have low coupling, are self described, and offer low resource and financial impact in implementing changes.
</p>

<h3 id="anchor14">14. We use automation where possible</h3>
<p>
        ​Automation of human processes to reduce errors, improve efficiency and enable business reporting.
</p>

<h3 id="anchor15">15. We use common use applications and solutions</h3>
<p>
        Development of applications and solutions used across the department is preferred over the development of similar or duplicative applications which are only provided to a particular business unit.
</p>

<h3 id="anchor16">16. We deliver the capabilities required to implement the corporate plan</h3>
<p>
        Solutions shall deliver the capabilities to align with the strategic direction of the business as defined in the Corporate Plan.
</p>

<h3 id="anchor17">17. We ensure capability delivery to meet the business timescales</h3>
<p>
        ​Solutions capabilities shall be transitioned to deliver to the agreed Divisional and project Roadmap timescales.
</p>

<h3 id="anchor18">18. We always build functionality into business and IT capabilities</h3>
<p>
        Functionality shall be grouped into capacities and corresponding IT components to ensure coherence and promote reusability.
</p>

<h3 id="anchor19">19. We ensure all solutions shall consider data centricity</h3>
<p>
        Solutions shall ensure data agility is implemented to meet emerging needs for data centric business.
</p>

<h3 id="anchor20">20. We consider reuse before buy, buy before build </h3>
<p>
        Business, application, data, technology and security decisions are to ensure the maximum benefit to the enterprise.
</p>

<h3 id="anchor21">21. We seek out continuous improvement opportunities</h3>
<p>
        Solutions shall look to improve the architecture, to futureproof and enable improvement in the design.
</p>

<h3 id="anchor22">22. We always consider the value of change</h3>
<p>
        We should evaluate the value of the architecture decisions that we are making to ensure that they remain valid options for implementation.
</p>

<h3 id="anchor23">23. We think simplicity first</h3>
<p>
        We should not over complicate the solutions that we define.
</p>