<h1>Architecture principles</h1>

<ol>
        <li><a href="#anchor1">​​We use industry standards and an open architecture</a></li>
        <li><a href="#anchor2">We always ensure appropriate ​​business continuity</a></li>
        <li><a href="#anchor3">​​We are compliant with the law, standards and policies</a></li>
        <li><a href="#anchor4">​​We maximise the use of our Intellectual Property</a></li>
        <li><a href="#anchor5">​​We always look to re-engineer processes</a></li>
        <li><a href="#anchor6">​​We always consider the total cost of ownership</a></li>
        <li><a href="#anchor7">We ensure component interoperability</a></li>
        <li><a href="#anchor8">We maximise component reusability and simplicity</a></li>
        <li><a href="#anchor9">​​​We promote loosely coupled component design</a></li>
        <li><a href="#anchor10">We use automation where possible</a></li>
        <li><a href="#anchor11">​​​We ensure all data is stored to maximise reuse</a></li>
        <li><a href="#anchor12">​​We seek out improvement opportunities</a></li>
    </ol>

<h3 id="anchor1">1. ​​We use industry standards and an open architecture</h3>
<p>
        ​​We should use industry standards and an open decoupled architecture. This to ensure we maximise interoperability internally, but also with our data consumers, external partners and ecosystems.
</p>

<h3 id="anchor2">2. We always ensure appropriate ​​business continuity</h3>
<p>
                We must ensure that all solutions that are defined ensure that the appropriate business continuity has been implemented to guarantee availability and recovery expectations of products and services.
</p>

<h3 id="anchor3">3. ​​We are compliant with the law, standards and policies</h3>
<p>
                We must ensure the way in which we hold and manage data is compliant with the law, industry standards and UKHO policies.
</p>

<h3 id="anchor4">4. ​​We maximise the use of our Intellectual Property</h3>
<p>
                When defining new components, we shall consider the Intellectual Property to ensure the UKHO can maximise their reuse and value. This should be defined in the design, licensing or support agreements.
</p>

<h3 id="anchor5">5. ​​We always look to re-engineer processes</h3>
<p>
                We must ensure applications and solutions will only be built or redeveloped after business processes have been analysed, simplified or otherwise redesigned as appropriate. Doing the same thing with a new tool may not provide efficiencies and modifying a system to meet our extant process may incur additional debt and cost.
</p>

<h3 id="anchor6">6. ​​We always consider the total cost of ownership</h3>
<p>
                We will always balance the long term costs of ownership, including development, support, training, licensing, security, risk mitigation, disaster recovery and exit strategy against the benefits.
</p>

<h3 id="anchor7">7. We ensure component interoperability</h3>
<p>
                We must ensure solutions are designed, acquired, developed and enhanced such that data and processes can be shared and integrated across the organisation and with our partners.
</p>

<h3 id="anchor8">8. We maximise component reusability and simplicity</h3>
<p>
                Where it is appropriate we should reuse, before buy, before configuring, before build to maximize existing return on investment.
</p>

<h3 id="anchor9">9. ​​​We promote loosely coupled component design</h3>
<p>
        ​​We will design our components and services to be modular with interfaces that offer low coupling, are self describing, in order to offer low resource and financial impact in implementing changes.
</p>

<h3 id="anchor10">10. We use automation where possible</h3>
<p>
        ​​​We will look to automate human processes to reduce errors, improve efficiency, improve quality and enable effective management information and business intelligence.
</p>

<h3 id="anchor11">11. ​​​We ensure all data is stored to maximise reuse</h3>
<p>
                We shall ensure data agility is implemented to facilitate emerging needs for data centric business.
</p>

<h3 id="anchor12">12. ​​We seek out improvement opportunities</h3>
<p>
                We shall always look to maximise the business value and refine the solutions to improve the implemented architecture.

</p>