<h1>Business analysis principles</h1>

<ol>
    <li><a href="#anchor1">We analyse root causes not symptoms</a></li>
    <li><a href="#anchor2">We focus on delivering business improvement not just IT change</a></li>
    <li><a href="#anchor3">We produce options not jump straight to a solution</a></li>
    <li><a href="#anchor4">We deliver SMART requirements that deliver to a consensus</a></li>
    <li><a href="#anchor5">We focus on the entire business change lifecycle, not just requirements definition</a></li>
    <li><a href="#anchor6">We implement the business strategy</a></li>
</ol>

<h3 id="anchor1">1. We analyse root causes not symptoms</h3>
<p>
    We focus on the root cause of a problem - not the symptoms. "What is the problem we are trying to solve?" is the first question.
</p>

<h3 id="anchor2">2. We focus on delivering business improvement not just IT change</h3>
<p>
    We always focus on the business case and what delivers best value to the organisation. IT systems should enable business opportunity or problem resolution, but there may be other solutions.
</p>

<h3 id="anchor3">3. We produce options not jump straight to a solution</h3>
<p>
    We present evaluated options. We consider and evaluate all options available, instead of choosing the first solution available.
</p>

<h3 id="anchor4">4. We deliver SMART requirements that deliver to a consensus</h3>
<p>
    Requirements are not a wishlist, they have to be fully evaluated (financial and time constraints) to meet the business need.
</p>

<h3 id="anchor5">5. We focus on the entire business change lifecycle, not just requirements definition</h3>
<p>
    We realise benefits by delivering change, not documenting requirements.
</p>

<h3 id="anchor6">6. We implement the business strategy</h3>
<p>
    We ensure that all requirements are aligned and prioritised in accordance with the corporate vision.
</p>