<h1>Business analysis principles</h1>

<ol>
    <li><a href="#anchor1">Root cause not symptoms</a></li>
    <li><a href="#anchor2">Business Improvement not IT change</a></li>
    <li><a href="#anchor3">Options not solutions</a></li>
    <li><a href="#anchor4">Smart requirements that deliver to a consensus (feasible, contributing)</a></li>
    <li><a href="#anchor5">Focus on the entire business change lifecycle, not just requirements definition</a></li>
    <li><a href="#anchor6">Negotiation not avoidance</a></li>
    <li><a href="#anchor7">Strategy implementation</a></li>
</ol>

<h3 id="anchor1">1. Root cause not symptoms</h3>
<p>
    Focus on Root cause of the problem.
</p>

<h3 id="anchor2">2. Business Improvement not IT change</h3>
<p>
    IT systems should enable business opportunity or problem resolution.
</p>

<h3 id="anchor3">3. Options not solutions</h3>
<p>
    Present evaluated options. Always consider and evaluate all options available, instead of choosing the first solution available.
</p>

<h3 id="anchor4">4. Smart requirements that deliver to a consensus (feasible, contributing)</h3>
<p>
    Requirements are NOT a wishlist, they have to be fully evaualted (financial and Time Contdratints) to meet the business need.
</p>

<h3 id="anchor5">5. Focus on the entire business change lifecycle, not just requirements definition</h3>
<p>
    Benefits realisation.
</p>

<h3 id="anchor6">6. Negotiation not avoidance</h3>
<p>
    Resolve the conflicts.
</p>

<h3 id="anchor7">7. Strategy implementation</h3>
<p>
    All requirements are aligned and prioritised in accordance with the corporate vision.
</p>
