<h1>Cloud principles</h1>

<ol>
        <li><a href="#anchor1">We use cloud where appropriate / cloud first</a></li>
        <li><a href="#anchor2">We adopt an opportunistic rather than programmed migration</a></li>
        <li><a href="#anchor3">We are open to all forms of cloud being adopted</a></li>
        <li><a href="#anchor4">We use Azure as the preferred platform</a></li>
        <li><a href="#anchor5">We use any deployment model, public, private or hybrid cloud can be utilised</a></li>
    </ol>

<h3 id="anchor1">1. We use cloud where appropriate / cloud first</h3>
<p>
        Quality starts at the very beginning of a project, it is not just something related to testing, we champion product quality from the very beginning.
</p>

<h3 id="anchor2">2. We adopt an opportunistic rather than programmed migration</h3>
<p>
        Testing begins before any code is written and continues through every stage ensuring that the product is tested the right way at the right time.
</p>

<h3 id="anchor3">3. We are open to all forms of cloud being adopted</h3>
<p>
        Automation is key to delivering in a Devops world, we seek to automate everything that can be, allowing us to move faster and with greater certainty.
</p>

<h3 id="anchor4">4. We use Azure as the preferred platform</h3>
<p>
        We must be flexible and adaptable , delivering  value quickly to our customers, using agile principles helps us do that.
</p>

<h3 id="anchor5">5. We use any deployment model, public, private or hybrid cloud can be utilised</h3>
<p>
        BDD helps teams focus on the most valuable work to deliver, it helps clarify and ensure that misunderstanding is reduced so that the right product is built the right way.
</p>
