<h1>Cyber principles</h1>


<p>
    1. Consumer data transiting networks should be adequately protected against tampering and eavesdropping via a combination of network protection and encryption.
</p>


<p>
    2. Consumer data, and the assets storing or processing it, should be protected against outages, physical tampering, loss, damage or seizure.
</p>


<p>
    3. Separation should exist between different consumers of the service to prevent one malicious or compromised consumer from affecting the service or data of another.
</p>


<p>
    4. The service provider should have a security governance framework that coordinates and directs their overall approach to the management of the service and information within it.
</p>


<p>
    5. The service provider should have processes and procedures in place to ensure the operational security of the service.
</p>


<p>
    6. Services should be designed and developed to identify and mitigate threats to their security.
</p>


<p>
    7. The service provider should ensure that its supply chain satisfactorily supports all of the security principles that the service claims to implement.
</p>


<p>
    8. The service should be designed to provide the tools required to help securely manage the service.
</p>


<p>
    9. All external or less trusted interfaces of the service should be identified and have appropriate protections to defend against attacks through them.
</p>


<p>
    10. The methods used by the service administrators to manage the operational service should be designed to mitigate any risk of exploitation that could undermine the security of the service.
</p>


<p>
    11. Consumers should be provided with the audit records they need to monitor access to their service and the data held within it.
</p>
