<h1>Delivery principles</h1>
<p class="intro">
    These are our overarching digital and technology standards.
</p>

<ol>
        <li><a href="#anchor1">We will put user needs first</a></li>
        <li><a href="#anchor2">We will be open</a></li>
        <li><a href="#anchor3">We will be cloud first</a></li>
        <li><a href="#anchor4">We will make things secure</a></li>
        <li><a href="#anchor5">We will share, reuse, adapt and maintain technology</a></li>
        <li><a href="#anchor6">We will use ‘just-enough’ governance</a></li>
        <li><a href="#anchor7">We will make better use of data</a></li>
        <li><a href="#anchor8">We will attract and retain great people</a></li>
    </ol>

<h3 id="anchor1">1. We will put user needs first</h3>
<p>
    In a dynamic connected world, our needs are ever changing. We must stay at the forefront of ideas and understand where value is created for users. The best way to do this is to release concepts routinely; testing and adjusting, seeking feedback and changing our delivery plans if we need to. We must be open to failing fast and adapting.																																										
</p>

<h3 id="anchor2">2. We will be open</h3>
<p>
    Sharing our code (where security and relevance allows) enables our teams to share the best of coding and practices. Not only does this reduce effort and time to delivery but enables the UKHO to demonstrate our global edge and for others to reuse our code. This will enable better interoperability for all our systems.
</p>

<h3 id="anchor3">3. We will be cloud first</h3>
<p>
    Use of the cloud enables the very best of business continuity. Working with global leaders in cloud solutions, we can leverage how others develop, deploy and use the transfer of data. The use of cloud enables speed to market and for data to reach our users as fast as possible, thereby always meeting the expectations for how our users wish to consume our data.																																										
</p>

<h3 id="anchor4">4. We will make things secure</h3>
<p>
    As a world leading Marine Geospatial Information Agency and Hydrographic Office, security is paramount. We must stay hungry and alert to delivering our products in the most secure manner, from concept to disposal.
</p>

<h3 id="anchor5">5. We will share, reuse, adapt and maintain technology</h3>
<p>
    We must strive to reduce wasted effort and “build once, use many.” This enables our teams to be constantly developing new and exciting products and services, leveraging off the enablers developed by all our teams. Our systems should ideally be “plug and play” for all, reducing perceived and subconscious barriers to technology.
</p>

<h3 id="anchor6">6. We will use ‘just enough’ governance</h3>
<p>
    Our teams should stay close throughout entire lifecycles so that all barriers to delivery are reduced. All and any blockers caused by process should be actively removed and all should work towards a common goal to deliver one programme.
</p>

<h3 id="anchor7">7. We will make better use of data</h3>
<p>
    Data is the lifeblood of our output, be it user data, geospatial data or performance data. Duplication causes unnecessary loading and delays to our system processes and all data should be sought to be a single source of truth.
</p>

<h3 id="anchor8">8. We will attract and retain great people</h3>
<p>
    Our teams are our greatest assets. We must all seek to learn, grow and question how we operate and in doing so always develop our collective strengths. We should all have the opportunity to access formal and informal training;  sharing the great things we learn across our function and with the UKHO, wider government and our global and technology partners.
</p>

