<h1>Working with partners</h1>

<p class="intro">You need to have a range of specific service delivery team roles in place to design, build and run your digital service.</p> 
    
<p>If you don’t have these in your team (or available to it), you may need to hire third parties or contractors.</p>

<p>Partners need to adopt the Design System methodology, tools and principles – which provides consistency and assurance of quality in design and usability terms.</p>

<h3>Identify the skills you need</h3>
<p>When you have an idea of the service you’re going to create, talk to your team about the skills you need.</p>

<p>Before you recruit anyone from outside the UKHO, see if you have any team members who can develop these skills.</p>

<h3>Access</h3>
<p>Partners not employed by the UKHO will gain access to the use of the Design System through the IP permissions provided at log in to the UKHO system – either in situ or remotely.</p> 

<p>If a partner wishes to access to Design System external to UKHO permissions, their IP address must be provided and approved for access top be granted.</p>

<h3>Working with contractors</h3>
<p>You should treat contractors and permanent team members equally.</p>

<p>Contractors should ideally work in the UKHO building for most of their time and sit with permanent staff. It’s important for a delivery team to share a space because:</p>
<ul>
    <li>there are fewer communication overheads</li>
    <li>there’s more informal communication and learning</li>
    <li>it’s easier to establish a shared agile culture</li>
</ul>

<h3>Transferring knowledge</h3>
<p> You must make sure you have a plan to pass knowledge from contractors to the rest of your team. This is particularly important when you move from one phase to another, or if you change supplier.</p>

<p>To make sure knowledge transfer happens, you could do things like:</p>
<ul>
    <li>encourage pairing - you might need to adjust people’s workloads so they’ve got time to do this</li>
    <li>organise sessions for contractors to share their knowledge or experiences</li>
    <li>make sure any documentation is in a good state</li>
</ul>