<h1>Software engineering principles</h1>

<ol>
    <li><a href="#anchor1">We put UKHO first</a></li>
    <li><a href="#anchor2">We seek value</a></li>
    <li><a href="#anchor3">We understand the impact of failure</a></li>
    <li><a href="#anchor4">We favour quality</a></li>
    <li><a href="#anchor5">We seek speed</a></li>
    <li><a href="#anchor6">We seek confidence</a></li>
    <li><a href="#anchor7">We seek collaboration and reuse</a></li>
    <li><a href="#anchor8">We try things and then iterate</a></li>
    <li><a href="#anchor9">We take a full-lifecycle view</a></li>
    <li><a href="#anchor10">We keep it simple</a></li>
    <li><a href="#anchor11">We seek opposing views</a></li>
    <li><a href="#anchor12">We look externally</a></li>
    <li><a href="#anchor13">We don't make decisions in isolation</a></li>
    <li><a href="#anchor14">We adapt to change</a></li>
    <li><a href="#anchor15">We are open</a></li>
</ol>

<h3 id="anchor1">1. We put UKHO first</h3>
<p>
    Quality starts at the very beginning of a project, it is not just something related to testing, we champion product quality from the very beginning.
</p>

<h3 id="anchor2">2. We seek value</h3>
<p>
    Quality starts at the very beginning of a project, it is not just something related to testing, we champion product quality from the very beginning.
</p>

<h3 id="anchor3">3. We understand the impact of failure</h3>
<p>
    Quality starts at the very beginning of a project, it is not just something related to testing, we champion product quality from the very beginning.
</p>

<h3 id="anchor4">4. We favour quality</h3>
<p>
    Quality starts at the very beginning of a project, it is not just something related to testing, we champion product quality from the very beginning.
</p>

<h3 id="anchor5">5. We seek speed</h3>
<p>
    Quality starts at the very beginning of a project, it is not just something related to testing, we champion product quality from the very beginning.
</p>

<h3 id="anchor6">6. We seek confidence</h3>
<p>
    Quality starts at the very beginning of a project, it is not just something related to testing, we champion product quality from the very beginning.
</p>

<h3 id="anchor7">7. We seek collaboration and reuse</h3>
<p>
    Quality starts at the very beginning of a project, it is not just something related to testing, we champion product quality from the very beginning.
</p>

<h3 id="anchor8">8. We try things and then iterate</h3>
<p>
    Quality starts at the very beginning of a project, it is not just something related to testing, we champion product quality from the very beginning.
</p>

<h3 id="anchor9">9. We take a full-lifecycle view</h3>
<p>
    Quality starts at the very beginning of a project, it is not just something related to testing, we champion product quality from the very beginning.
</p>

<h3 id="anchor10">10. We keep it simple</h3>
<p>
    Quality starts at the very beginning of a project, it is not just something related to testing, we champion product quality from the very beginning.
</p>

<h3 id="anchor11">11. We seek opposing views</h3>
<p>
    Quality starts at the very beginning of a project, it is not just something related to testing, we champion product quality from the very beginning.
</p>

<h3 id="anchor12">12. We look externally</h3>
<p>
    Quality starts at the very beginning of a project, it is not just something related to testing, we champion product quality from the very beginning.
</p>

<h3 id="anchor13">13. We don't make decisions in isolation</h3>
<p>
    Quality starts at the very beginning of a project, it is not just something related to testing, we champion product quality from the very beginning.
</p>

<h3 id="anchor14">14. We adapt to change</h3>
<p>
    Quality starts at the very beginning of a project, it is not just something related to testing, we champion product quality from the very beginning.
</p>

<h3 id="anchor15">15. We are open</h3>
<p>
    Quality starts at the very beginning of a project, it is not just something related to testing, we champion product quality from the very beginning.
</p>


