<h1>Testing principles</h1>

<ol>
        <li><a href="#anchor1">We utilise a 'shift left' mindset (quality is baked in)</a></li>
        <li><a href="#anchor2">We test at every stage of a product's lifecycle (continuously testing)</a></li>
        <li><a href="#anchor3">We automate 100% of what is automatable</a></li>
        <li><a href="#anchor4">We use Agile principles at every stage of our work</a></li>
        <li><a href="#anchor5">We use Behaviour Driven Development (BDD) to help us deliver value to our customers</a></li>
        <li><a href="#anchor6">We take a holistic view of a product when testing</a></li>
        <li><a href="#anchor7">We adopt a continuous improvement mentality to our skills</a></li>
        <li><a href="#anchor8">We collaborate across government to learn and to teach</a></li>
        <li><a href="#anchor9">We look to our partners to work to the same principles</a></li>
    </ol>

<h3 id="anchor1">1. We utilise a 'shift left' mindset (quality is baked in)</h3>
<p>
        We champion product quality from the beginning of a project; it is not just something related to testing. 
</p>

<h3 id="anchor2">2. We test at every stage of a product's lifecycle (continuously testing)</h3>
<p>
        Testing begins before any code is written and continues through every stage, ensuring that the product is tested the right way at the right time.
</p>

<h3 id="anchor3">3. We automate 100% of what is automatable</h3>
<p>
        Automation is key to delivering in a DevOps world. We seek to automate everything that can be, allowing us to move faster and with greater certainty.
</p>

<h3 id="anchor4">4. We use Agile principles at every stage of our work</h3>
<p>
        We must be flexible and adaptable, using agile principles to deliver value quickly to our customers. 
</p>

<h3 id="anchor5">5. We use Behaviour Driven Development (BDD) to help us deliver value to our customers</h3>
<p>
        BDD helps teams focus on the most valuable work to deliver, ensuring that the right product is built the right way. 
</p>

<h3 id="anchor6">6. We take a holistic view of a product when testing</h3>
<p>
        We look to view the product as a whole ensuring that Testing encompasses non-functional as well as the functional areas of that product.
</p>

<h3 id="anchor7">7. We adopt a continuous improvement mentality to our skills</h3>
<p>
        We are always learning. Our people are key to our delivery and by always seeking to learn, we allow ourselves to introduce new ideas, ways of working, to try new things.
</p>

<h3 id="anchor8">8. We collaborate across government to learn and to teach</h3>
<p>
        We are looking across wider government to learn from other organisations and also to pass on things that could help. 
</p>

<h3 id="anchor9">9. We look to our partners to work to the same principles</h3>
<p>
        With our teams working to the principles, working with partners who ahere to similar principles helps foster a productive working relationship.
</p>
