@import 'skip-link.vars';
.skip-link {
  @extend .visually-hidden;
  color: $skip-link-text-colour;
  display: block;
  padding: 10px 15px;

  &:focus {
    outline: 3px solid $skip-link-focus-colour;
    outline-offset: 0;
    background-color: $skip-link-focus-colour;
    position: static !important;
    width: auto !important;
    height: auto !important;
    margin: inherit !important;
    overflow: visible !important;
    clip: auto !important;
    -webkit-clip-path: none !important;
    clip-path: none !important;
    white-space: inherit !important;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }
}
