@import 'skip-link.vars.scss';

.skip-link {
  @extend .visually-hidden;
  color: $skip-link-text-colour;
  display: block;
  padding: 10px 15px;
  box-shadow: none;

  span {
    box-shadow: 0 2px $skip-link-border-colour;
  }

  &:focus {
    position: static !important;
    width: auto !important;
    height: auto !important;
    margin: inherit !important;
    overflow: visible !important;
    clip: auto !important;
    -webkit-clip-path: none !important;
    clip-path: none !important;
    white-space: inherit !important;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }
}
