<h1>Cards</h1>

<p class="intro">
    Use cards to draw users attention to specific content.
</p>

<ol>
    <li><a href="#anchor1">Highlight card</a></li>
    <li><a href="#anchor2">Section card</a></li>
</ol>

<h3 id="anchor1">1. Highlight card</h3>

<p>Use highlight cards to highlight content within a page, or to break certain snippets of content away from the rest of the page.</p>

<div class="tab-set">
    <%- partial('../../_partials/tabs', { id: 'highlight' }) %>
    <section>
        <div class="tab1 component-example">
            <section class="card">
                <h6>Highlight card heading</h6>
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pharetra est id elit auctor tristique. Aliquam vestibulum gravida mi eu ornare. Aenean tristique ac leo at eleifend.</p>
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing.</li>
                        <li>Dolore magna aliqua. Ut enim ad minim veniam.</li>
                        <li>Commodo consequat duis aute irure dolor in.</li>
                        <li>Labore et dolore magna aliqua occaecat.</li>
                    </ul>
                    <p><a href="#">Lorem ipsum dolor sit amet</a></p>
                </div>
            </section>
        </div>
        <div class="tab2 component-html">
            HTML goes here.
        </div>
        <div class="tab3 component-angular">
            <h5>Angular example usage:</h5>
            <code class="language-html">
                &lt;section class=&quot;card&quot;&gt;
                &lt;h6 *ngIf=&quot;title&quot;&gt;Highlight Info Card Heading&lt;/h6&gt;
                &lt;div&gt;
                &lt;ng-content&gt;
                &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pharetra est id elit auctor tristique.
                Aliquam vestibulum gravida mi eu ornare. Aenean tristique ac leo at eleifend. &lt;/p&gt;
                &lt;ul&gt;
                &lt;li&gt;Lorem ipsum dolor sit amet, consectetur adipiscing.&lt;/li&gt;
                &lt;li&gt;Dolore magna aliqua. Ut enim ad minim veniam.&lt;/li&gt;
                &lt;li&gt;Commodo consequat duis aute irure dolor in.&lt;/li&gt;
                &lt;li&gt;Labore et dolore magna aliqua occaecat.&lt;/li&gt;
                &lt;/ul&gt;
                &lt;p&gt;&lt;a href=&quot;#&quot;&gt;Lorem ipsum dolor sit amet&lt;/a&gt;&lt;/p&gt;
                &lt;/ng-content&gt;
                &lt;/div&gt;
                &lt;/section&gt;
            </code>
            <br />
            <br />
            <h5>Angular component:</h5>
            <pre>
                <code class="language-javascript">import {Component, Input, OnInit} from '@angular/core';

@Component({
                    selector: 'app-card',
                    templateUrl: './card.component.html',
                    styleUrls: ['./card.component.scss']
})
export class ExpansionComponent implements OnInit {
                    @Input() public title = '';

                    constructor() { }

  ngOnInit() {
  }

}
                </code>
            </pre>
            <h5>Angular template:</h5>
            <pre>
                <code class="language-html">&lt;section class=&quot;card&quot;&gt;
  &lt;h6 *ngIf=&quot;title&quot;&gt;{{ title }}&lt;/h6&gt;
  &lt;div&gt;
    &lt;ng-content&gt;&lt;/ng-content&gt;
  &lt;/div&gt;
&lt;/section&gt;
                </code>
            </pre>
        </div>
    </section>
</div>

<h3 id="anchor2">2. Section card</h3>

<p>Use section cards to break content into sections, for example, field sets on a webform.</p>

<div class="tab-set">
    <%- partial('../../_partials/tabs', { id: 'section' }) %>
    <section>
        <div class="tab1 component-example">
            <section class="card">
                <h6>Contact details</h6>
                <div>
                    <form>
                        <input type="text" placeholder="First name"/><br>
                        <input type="text" placeholder="Last name"/><br>
                        <input type="text" placeholder="Email address"/><br>
                    </form>
                </div>
            </section>
        </div>
        <div class="tab2 component-html">
            HTML goes here.
        </div>
        <div class="tab3 component-angular">
            <h5>Angular example usage:</h5>
            <code class="language-html">
                &lt;section class=&quot;card&quot;&gt;
                &lt;h6 *ngIf=&quot;title&quot;&gt;Contact details&lt;/h6&gt;
                &lt;div&gt;
                &lt;ng-content&gt;
                &lt;form&gt;
                &lt;input type=&quot;text&quot; placeholder=&quot;First name&quot;/&gt;&lt;br&gt;
                &lt;input type=&quot;text&quot; placeholder=&quot;Last name&quot;/&gt;&lt;br&gt;
                &lt;input type=&quot;text&quot; placeholder=&quot;Email address&quot;/&gt;&lt;br&gt;
                &lt;/form&gt;
                &lt;/ng-content&gt;
                &lt;/div&gt;
                &lt;/section&gt;
            </code>
            <br />
            <br />
            <h5>Angular component:</h5>
            <pre>
                <code class="language-javascript">import {Component, Input, OnInit} from '@angular/core';

@Component({
                    selector: 'app-card',
                    templateUrl: './card.component.html',
                    styleUrls: ['./card.component.scss']
})
export class ExpansionComponent implements OnInit {
                    @Input() public title = '';

                    constructor() { }

  ngOnInit() {
  }

}
                </code>
            </pre>
            <h5>Angular template:</h5>
            <pre>
                <code class="language-html">&lt;section class=&quot;card&quot;&gt;
  &lt;h6 *ngIf=&quot;title&quot;&gt;{{ title }}&lt;/h6&gt;
  &lt;div&gt;
    &lt;ng-content&gt;&lt;/ng-content&gt;
  &lt;/div&gt;
&lt;/section&gt;
                </code>
            </pre>
        </div>
    </section>
</div>
