<h1>Dialogue</h1>

<p class="intro">
    Use Search element for user search functionality.
</p>

<ol>
    <li><a href="#anchor1">Text Input</a></li>
</ol>

<p></p>

<h3 id="anchor1">1. Dialog</h3>

<h6>Standard Search</h6>
<div class="tab-set">
    <%- partial('../../_partials/tabs', { id: 'text-input' }) %>
    <section>
        <div class="tab1 component-example">
            <p class="form-label">Search</p>
            <div class="search-wrapper">
                <input type="text" class="form-text-input" placeholder="Input field" />
                <button>
                    <p>Search</p>
                </button>
            </div>
        </div>
        <div class="tab2 component-html">
            HTML goes here.
        </div>
        <div class="tab3 component-angular">
                <h5>Angular example usage:</h5>
                <code class="language-html">

                </code>
                <br />
                <br />
                <h5>Angular component:</h5>
                <pre>
                    <code class="language-javascript">
                            
                    </code>
                </pre>
                <br />
                <br />
                <h5>Angular template:</h5>
                <pre>
                    <code class="language-html">

                    </code>
                </pre>
        </div>
    </section>
</div>
