<h1>Cards</h1>

<p class="intro">
    Use expansion panels to contain content and save space on a page.
</p>

<ol>
    <li><a href="#anchor1">Highlight card</a></li>
    <li><a href="#anchor2">Section button</a></li>
</ol>

<p></p>

<h3 id="anchor1">1. Read more expansion</h3>

<p>Use the read more expansion when you want to hide a large chunk of text when space is at a premium.</p>

<div class="tab-set">
    <%- partial('../../_partials/tabs', { id: 'highlight' }) %>
    <section>
        <div class="tab1 component-example">
            <p class="form-label">Title</p>
            <div id="expansion1" class="expansion-panel">
                <div class="expansion-text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquam, augue ac finibus elementum, nisl lacus sagittis diam, eget molestie nisl nisl a nulla. Nulla vel maximus libero. Nullam non lectus est. Praesent ullamcorper massa felis, quis mollis quam egestas id. Sed posuere arcu a tempus eleifend. Mauris ut dolor vel neque pretium euismod sit amet sit amet nisl. Praesent iaculis molestie sem quis pretium. Nulla luctus eu ipsum eu fringilla. Aliquam vel eros ac sem scelerisque interdum ut sit amet mauris. Mauris sodales lacinia nisi sit amet molestie. Phasellus fermentum ligula at vehicula congue.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquam, augue ac finibus elementum, nisl lacus sagittis diam, eget molestie nisl nisl a nulla. Nulla vel maximus libero. Nullam non lectus est. Praesent ullamcorper massa felis, quis mollis quam egestas id. Sed posuere arcu a tempus eleifend. Mauris ut dolor vel neque pretium euismod sit amet sit amet nisl. Praesent iaculis molestie sem quis pretium. Nulla luctus eu ipsum eu fringilla. Aliquam vel eros ac sem scelerisque interdum ut sit amet mauris. Mauris sodales lacinia nisi sit amet molestie. Phasellus fermentum ligula at vehicula congue.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquam, augue ac finibus elementum, nisl lacus sagittis diam, eget molestie nisl nisl a nulla. Nulla vel maximus libero. Nullam non lectus est. Praesent ullamcorper massa felis, quis mollis quam egestas id. Sed posuere arcu a tempus eleifend. Mauris ut dolor vel neque pretium euismod sit amet sit amet nisl. Praesent iaculis molestie sem quis pretium. Nulla luctus eu ipsum eu fringilla. Aliquam vel eros ac sem scelerisque interdum ut sit amet mauris. Mauris sodales lacinia nisi sit amet molestie. Phasellus fermentum ligula at vehicula congue.
                    </p>
                </div>
                <div class="expand-button-wrap">
                    <p class="expand-text" onclick="expandMenu()">Read more...</p>
                </div>
            </div>
        </div>
        <div class="tab2 component-html">
            HTML goes here.
        </div>
        <div class="tab3 component-angular">
                <h5>Angular example usage:</h5>
                <code class="language-html">
                    &lt;app-expansion>&lt;/app-expansion>
                </code>
                <br />
                <br />
                <h5>Angular component:</h5>
                <pre>
                    <code class="language-javascript">
import { Component, OnInit } from '@angular/core';

@Component({
    selector: 'app-expansion',
    templateUrl: './expansion.component.html',
    styleUrls: ['./expansion.component.scss']
})
export class ExpansionComponent {

    constructor() { }

    isExpanded: boolean = false;

    expandText: string = "Read more...";
    
    toggleExpanded() {
    this.isExpanded = !this.isExpanded;
    this.expandText = this.isExpanded ? "Read less..." : "Read more...";
    }
    
}
                    </code>
                </pre>
                <br />
                <br />
                <h5>Angular template:</h5>
                <pre>
                    <code class="language-html">
&lt;div
    id="expansion1"
    class="expansion-panel"
    [class.expanded]="isExpanded"
>
    &lt;div class="expansion-text">
        &lt;p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquam, augue ac finibus elementum, nisl lacus sagittis diam, eget molestie nisl nisl a nulla. Nulla vel maximus libero. Nullam non lectus est. Praesent ullamcorper massa felis, quis mollis quam egestas id. Sed posuere arcu a tempus eleifend. Mauris ut dolor vel neque pretium euismod sit amet sit amet nisl. Praesent iaculis molestie sem quis pretium. Nulla luctus eu ipsum eu fringilla. Aliquam vel eros ac sem scelerisque interdum ut sit amet mauris. Mauris sodales lacinia nisi sit amet molestie. Phasellus fermentum ligula at vehicula congue.
        &lt;/p>
        &lt;p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquam, augue ac finibus elementum, nisl lacus sagittis diam, eget molestie nisl nisl a nulla. Nulla vel maximus libero. Nullam non lectus est. Praesent ullamcorper massa felis, quis mollis quam egestas id. Sed posuere arcu a tempus eleifend. Mauris ut dolor vel neque pretium euismod sit amet sit amet nisl. Praesent iaculis molestie sem quis pretium. Nulla luctus eu ipsum eu fringilla. Aliquam vel eros ac sem scelerisque interdum ut sit amet mauris. Mauris sodales lacinia nisi sit amet molestie. Phasellus fermentum ligula at vehicula congue.
        &lt;/p>
        &lt;p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquam, augue ac finibus elementum, nisl lacus sagittis diam, eget molestie nisl nisl a nulla. Nulla vel maximus libero. Nullam non lectus est. Praesent ullamcorper massa felis, quis mollis quam egestas id. Sed posuere arcu a tempus eleifend. Mauris ut dolor vel neque pretium euismod sit amet sit amet nisl. Praesent iaculis molestie sem quis pretium. Nulla luctus eu ipsum eu fringilla. Aliquam vel eros ac sem scelerisque interdum ut sit amet mauris. Mauris sodales lacinia nisi sit amet molestie. Phasellus fermentum ligula at vehicula congue.
        &lt;/p>
    &lt;/div>
    &lt;div class="expand-button-wrap">
        &lt;p class="expand-text" (click)="toggleExpanded()">{{expandText}}&lt;/p>
    &lt;/div>
&lt;/div>
                          
                    </code>
                </pre>
        </div>
    </section>
</div>

