<h1>Expansion Panels</h1>

<section class="collapsible">
    <input id="collapsible1" type="checkbox">
    <label for="collapsible1">Heading 1</label>
    <div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pharetra est id elit auctor tristique.
            Aliquam vestibulum gravida mi eu ornare. Aenean tristique ac leo at eleifend.
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In hac habitasse platea dictumst.
        </p>
    </div>
</section>

<section class="readmore">
    <h3>Heading 1</h3>
    <input id="readmore1" type="checkbox">
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pharetra est id elit auctor tristique..</p>
    </div>
    <div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pharetra est id elit auctor tristique.
            Aliquam vestibulum gravida mi eu ornare. Aenean tristique ac leo at eleifend.
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In hac habitasse platea dictumst.
        </p>
    </div>
    <label for="readmore1"></label>
</section>
