<h1>Expansion panels</h1>

<p class="intro">
    Use expansion panels to contain content and save space on a page.
</p>

<ol>
    <li><a href="#anchor1">Read more expansion</a></li>
    <li><a href="#anchor2">Heading expansion</a></li>
</ol>

<p></p>

<h3 id="anchor1">1. Read more expansion</h3>

<p>Use the read more expansion when you want to hide a large chunk of text when space is at a premium.</p>

<div class="tab-set">
    <%- partial('../../_partials/tabs', { id: 'readmore' }) %>
    <section>
        <div class="tab1 component-example">
            <section class="readmore">
                <h3>Heading 1</h3>
                <input id="readmore1" type="checkbox">
                <div class="readmore-intro">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pharetra est id elit auctor tristique..</p>
                </div>
                <div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pharetra est id elit auctor tristique.
                        Aliquam vestibulum gravida mi eu ornare. Aenean tristique ac leo at eleifend.
                        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In hac habitasse platea dictumst.
                    </p>
                </div>
                <label for="readmore1"></label>
            </section>
        </div>
        <div class="tab2 component-html">
            HTML injected here
        </div>
        <div class="tab3 component-angular">
            <h5>Angular example usage:</h5>
            <code class="language-html">
                &lt;app-readmore heading="Heading 1" initialExpanded="false">&lt;div>Intro text>&lt;/div>&lt;div>Read more text>&lt;/div>&lt;/app-readmore>
            </code>
        </div>
    </section>
</div>

<p></p>

<h3 id="anchor1">1. Heading expansion</h3>

<p>Use the heading expansion when you want to hide a large chunk of text when space is at a premium.</p>

<div class="tab-set">
    <%- partial('../../_partials/tabs', { id: 'expand' }) %>
    <section>
        <div class="tab1 component-example">
            <section class="expansion">
                <input id="expansion1" type="checkbox">
                <label for="expansion1"><h3>Heading 1</h3></label>
                <div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pharetra est id elit auctor tristique.
                        Aliquam vestibulum gravida mi eu ornare. Aenean tristique ac leo at eleifend.
                        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In hac habitasse platea dictumst.
                    </p>
                </div>
            </section>
            <section class="expansion">
                <input id="expansion2" type="checkbox">
                <label for="expansion2"><h3>Heading 1</h3></label>
                <div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pharetra est id elit auctor tristique.
                        Aliquam vestibulum gravida mi eu ornare. Aenean tristique ac leo at eleifend.
                        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In hac habitasse platea dictumst.
                    </p>
                </div>
            </section>
        </div>
        <div class="tab2 component-html">
            HTML injected here
        </div>
        <div class="tab3 component-angular">
            <h5>Angular example usage:</h5>
            <code class="language-html">
                &lt;app-expansion heading="Heading 1" initialExpanded="false">Main text&lt;/app-expansion>
                &lt;app-expansion heading="Heading 2" initialExpanded="false">Main text&lt;/app-expansion>
            </code>
        </div>
    </section>
</div>

