<h1>Forms</h1>

<p class="intro">
    Use form elements to obtain user input.
    They should include text that describes the action they perform.
</p>

<ol>
    <li><a href="#anchor1">Text Input</a></li>
</ol>

<p></p>

<h3 id="anchor1">1. Text Input</h3>

<p>Text input</p>

<h6>Standard input</h6>
<div class="tab-set">
    <%- partial('../../_partials/tabs', { id: 'text-input' }) %>
    <%- partial('../../_partials/inputtext', { id: 'text-input-component' }) %>
</div>
