<h1>Components</h1>
<p class="intro">
    Components form the build our products and services.
    They take our styles and create digital interactions that allow users to carry out tasks.
</p>

<%- partial("../../_partials/pagecards") %>
