<h1>Tables</h1>

<p class="intro">Use tables to make information easier for users to scan and compare.</p>

<ol>
    <li><a href="#anchor1">Responsive table</a></li>
</ol>

<p></p>

<h3 id="anchor1">1. Responsive table</h3>

<p>Responsive tables will automatically adjust their column widths to fit different screen sizes.</p>

<div class="tab-set">
    <%- partial('../../_partials/tabs') %>
    <section>
        <div class="tab1 component-example">
            <table>
                <thead>
                <tr>
                    <th>Folio</th>
                    <th>Title</th>
                    <th>From</th>
                    <th>To</th>
                </tr>
                </thead>
                <tr>
                    <td>5600</td>
                    <td>The Solent and Approaches</td>
                    <td>26/05/16</td>
                    <td>26/05/16</td>
                </tr>
                <tr>
                    <td>5600</td>
                    <td>East Devon and Dorset Coast, Exmouth to Christchurch</td>
                    <td>26/05/16</td>
                    <td>26/05/16</td>
                </tr>
                <tr>
                    <td>5600</td>
                    <td>The West Country, Falmouth to Teignmouth</td>
                    <td>26/05/16</td>
                    <td>26/05/16</td>
                </tr>
                <tr>
                    <td>5600</td>
                    <td>Falmouth to Hartland Point including the Isles of Scilly</td>
                    <td>26/05/16</td>
                    <td>26/05/16</td>
                </tr>
                <tr>
                    <td>5600</td>
                    <td>The Channel Islands</td>
                    <td>26/05/16</td>
                    <td>26/05/16</td>
                </tr>
                <tr>
                    <td>5600</td>
                    <td>Chichester to Ramsgate and Calais to Oostende</td>
                    <td>26/05/16</td>
                    <td>26/05/16</td>
                </tr>
            </table>
        </div>
        <div class="tab2 component-html">
            HTML goes here.
        </div>
        <div class="tab3 component-angular">
            <h5>Table object:</h5>
            <pre>
                <code class="language-javascript">
class Table {
    headings: string[];
    records: object[];
}


const exampleTable: Table = {
    headings: [
        'Folio',
        'Title',
        'From',
        'To',
    ],
    records: [
        {
            folio: '5600',
            title: 'The Solent and Approaches',
            from: '26/05/16',
            to: '26/05/16',
        },
        {
            folio: '5600',
            title: 'East Devon and Dorset Coast, Exmouth to Christchurch',
            from: '26/05/16',
            to: '26/05/16',
        },
        {
            folio: '5600',
            title: 'The West Country, Falmouth to Teignmouth',
            from: '26/05/16',
            to: '26/05/16',
        },
        {
            folio: '5600',
            title: 'Falmouth to Hartland Point including the Isles of Scilly',
            from: '26/05/16',
            to: '26/05/16',
        },
        {
            folio: '5600',
            title: 'The Channel Islands',
            from: '26/05/16',
            to: '26/05/16',
        },
        {
            folio: '5600',
            title: 'Chichester to Ramsgate and Calais to Oostende',
            from: '26/05/16',
            to: '26/05/16',
        },
    ]
}
                </code>
            </pre>
            <br />
            <br />
            <h5>Angular example usage:</h5>
            <code class="language-html">
                &ltapp-table [table]="exampleTable">&lt/app-table>
            </code>
            <br />
            <br />
            <h5>Angular component:</h5>
            <pre>
                <code class="language-javascript">
import { Component, Input } from '@angular/core';
import { Table } from '../mock-table-data';

@Component({
    selector: 'app-table',
    templateUrl: './table.component.html',
    styleUrls: ['./table.component.scss']
})
export class TableComponent {

    constructor() { }

    @Input() table: Table;
    
    getRecordDetails(record) {
        return Object.values(record);
    }
}
                </code>
            </pre>
            <br />
            <br />
            <h5>Angular template:</h5>
            <pre>
                <code class="language-html">
&lttable *ngIf="table">
    &ltthead>
        &lttr>
            &ltth *ngFor="let heading of table.headings">{{heading}}&lt/th>
        &lt/tr>
    &lt/thead>
    &lttbody>
        &lttr *ngFor="let record of table.records">
            &lttd *ngFor="let detail of getRecordDetails(record)">
                {{detail}}
            &lt/td>
        &lt/tr>
    &lt/tbody>
&lt/table>
                </code>
            </pre>
        </div>
    </section>
</div>
