<h1>Tables</h1>

<table>
    <thead>
        <tr>
            <th>Folio</th>
            <th>Title</th>
            <th>From</th>
            <th>To</th>
        </tr>
    </thead>
    <tr>
        <td>5600</td>
        <td>The Solent and Approaches</td>
        <td>26/05/16</td>
        <td>26/05/16</td>
    </tr>
    <tr>
        <td>5600</td>
        <td>East Devon and Dorset Coast, Exmouth to Christchurch</td>
        <td>26/05/16</td>
        <td>26/05/16</td>
    </tr>
    <tr>
        <td>5600</td>
        <td>The West Country, Falmouth to Teignmouth</td>
        <td>26/05/16</td>
        <td>26/05/16</td>
    </tr>
    <tr>
        <td>5600</td>
        <td>Falmouth to Hartland Point including the Isles of Scilly</td>
        <td>26/05/16</td>
        <td>26/05/16</td>
    </tr>
    <tr>
        <td>5600</td>
        <td>The Channel Islands</td>
        <td>26/05/16</td>
        <td>26/05/16</td>
    </tr>
    <tr>
        <td>5600</td>
        <td>Chichester to Ramsgate and Calais to Oostende</td>
        <td>26/05/16</td>
        <td>26/05/16</td>
    </tr>
</table>
