@import '../vars/colours';

.visually-hidden:not(:focus):not(:active) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  white-space: nowrap !important;
}

@mixin focus-highlight() {
  outline: 3px solid transparent;
  color: var(--admiralty-text-colour);
  background-color: var(--admiralty-focus-colour);
  box-shadow:
    0 -2px var(--admiralty-focus-colour),
    0 4px var(--admiralty-text-colour);
  text-decoration: none;
}
