@import 'colours';
@import 'fontawesome';
@import 'typography';

ul.breadcrumbs {
  width: 100%;
  display: inline-flex;
  border-bottom: 1px solid $colour-divider;
  background-color: $colour-bg;
  padding: 0 20px;
  margin-bottom: 48px;
  position: static;
  @include not-desktop {
    display: none;
    margin-bottom: 30px;
  }

  li {
    margin-bottom: 0;
    transform: unset;
    padding-right: unset;
    // chevron
    &::before {
      @extend .fa;
      @extend .fa-chevron-right:before;
      font-size: 10px;
      margin: 0 10px;
      position: static;
      left: unset;
    }
    // no chevron for first link
    &:first-child::before {
      content: none;
      display: none;
    }

    a, span {
      display: inline-block;
      line-height: 40px;
      font-size: 14px;
      font-weight: $font-weight-light;
      text-decoration: none;
      color: $colour-nav-item;
      padding: 0 2px;
    }
    a:hover {
      color: $colour-admiralty-blue;
    }
    span {
      user-select: none;
    }

    &:last-child a {
      color: $colour-admiralty-blue;
      font-weight: $font-weight-medium;
    }

  }

}
