@import 'colours';
@import 'responsive';
@import 'typography';

/* Button Wrapper */
.button-wrapper {

  display: inline-flex;
  flex-direction: column;

  .error-wrap {
    max-width: 240px;
    display: flex;
    margin-top: 11px;
    
    > span {
      color: $colour-utility-error;
      margin-left: 10px;
      font-size: 16px;
    }
  }
}

/* Primary Buttons */
button, input[type='button'] {
  display: inline-block;
  background-color: $colour-button-standard;
  color: $colour-button-text;
  border: 2px solid $colour-button-standard;
  height: 60px;
  padding: 15px 18px;
  font-weight: $font-weight-medium;
  font-size: 21px;
  white-space: nowrap;
  min-width: 200px;
  @include not-desktop {
    min-width: unset;
    max-width: 200px;
    width: 100%;
  }

  &:hover {
    background-color: $colour-button-hover;
    border: 2px solid $colour-button-hover;
  }

  &:active {
    background-color: $colour-button-selected;
    border: 2px solid $colour-button-border-selected;

    i {
      color: $colour-button-icon-selected;
    }

    p {
      color: $colour-button-text-selected;
    }
  }

  &:disabled {
    background-color: $colour-button-deselected;
    border: 2px solid $colour-button-deselected;
  }

  &.icon {
    min-width: 240px;
    display: flex;
    justify-content: space-between;
    @include not-desktop {
      min-width: unset;
      max-width: 240px;
      width: 100%;
    }
  }

  p {
    color: $colour-button-text;
    padding-top: 2px;
  }

  i {
    display: inline-block;
    font-size: 24px;
    color: $colour-button-icon;
    padding-left: 15px;
  }
}

/* Secondary Buttons */
button.secondary, input[type='button'].secondary {
  display: inline-block;
  background-color: $colour-button-secondary-standard;
  color: $colour-button-secondary-text;
  border: 2px solid $colour-button-secondary-border-standard;
  height: 60px;
  padding: 15px 18px;
  font-weight: $font-weight-medium;
  font-size: 21px;
  white-space: nowrap;
  min-width: 200px;
  @include not-desktop {
    min-width: unset;
    max-width: 200px;
    width: 100%;
  }

  &:hover {
    background-color: $colour-button-secondary-hover;
    border: 2px solid $colour-button-secondary-border-hover;
  }

  &:active {
    background-color: $colour-button-secondary-selected;
    border: 2px solid $colour-button-secondary-selected;
    
    i {
      color: $colour-button-secondary-icon-selected;
    }
    
    p {
      color: $colour-button-secondary-text-selected;
    }
  }

  &:disabled {
    background-color: $colour-button-secondary-deselected;
    border: 2px solid $colour-button-secondary-deselected;
  }

  &.icon {
    min-width: 240px;
    display: flex;
    justify-content: space-between;
    @include not-desktop {
      min-width: unset;
      max-width: 240px;
      width: 100%;
    }
  }

  p {
    color: $colour-button-secondary-text;
    padding-top: 2px;
  }

  i {
    display: inline-block;
    font-size: 24px;
    color: $colour-button-secondary-icon;
    padding-left: 15px;
  }
}
