@import 'colours';
@import 'responsive';
@import 'typography';

/* Button Wrapper */
.button-wrapper {

  display: inline-flex;
  flex-direction: column;

  > span, > div {
    color: $colour-utility-error;
  }
}

/* Primary Buttons */
button, input[type='button'] {
  display: inline-block;
  background-color: $colour-button-standard;
  color: $colour-button-text;
  border: 2px solid $colour-button-standard;
  height: 60px;
  padding: 15px 20px;
  font-weight: $font-weight-medium;
  font-size: 21px;
  white-space: nowrap;

  &:hover {
    background-color: $colour-button-hover;
    border: 2px solid $colour-button-hover;
  }

  &:active {
    background-color: $colour-button-selected;
    color: $colour-button-text-selected;
    border: 2px solid $colour-button-border-selected;
  }

  &:disabled {
    background-color: $colour-button-deselected;
    border: 2px solid $colour-button-deselected;
  }

  i {
    display: inline-block;
    font-size: 24px;
    color: $colour-button-icon;
    padding: 15px 20px 15px 0;
  }

}

/* Secondary Buttons */
button.secondary, input[type='button'].secondary {
  display: inline-block;
  background-color: $colour-button-secondary-standard;
  color: $colour-button-secondary-text;
  border: 2px solid $colour-button-secondary-border-standard;
  height: 60px;
  padding: 15px 20px;
  font-weight: $font-weight-medium;
  font-size: 21px;
  white-space: nowrap;

  &:hover {
    background-color: $colour-button-secondary-hover;
    border: 2px solid $colour-button-secondary-border-hover;
  }

  &:active {
    background-color: $colour-button-secondary-selected;
    border: 2px solid $colour-button-secondary-selected;
    color: $colour-button-secondary-text-selected;
  }

  &:disabled {
    background-color: $colour-button-secondary-deselected;
    border: 2px solid $colour-button-secondary-deselected;
  }

  i {
    display: inline-block;
    font-size: 24px;
    color: $colour-button-secondary-icon;
    padding: 15px 20px 15px 0;
  }
}
