@import 'colours';
@import 'responsive';

.card-wrapper {
  width: 100%;
  margin-bottom: 48px;
  @include not-desktop {
    margin-bottom: 30px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);

  & > h6 {
    height: 60px;
    line-height: 60px;
    border: 1px solid $colour-admiralty-blue;
    color: $colour-white;
    background-color: $colour-admiralty-blue;
    margin: 0;
    padding: 0 30px;
    @include not-desktop {
      padding: 0px 18px;
      height: 48px;
      line-height: 48px;
    }
  }

  & > div {
    border: 1px solid $colour-line;
    border-top: none;
    flex-grow: 1;
    padding: 30px;
    @include not-desktop {
      padding: 24px 18px;
    }
  }
}
