/* Core Palette */
$colour-admiralty-blue: #09315B;
$colour-black: #000000;
$colour-white: #ffffff;
$colour-dark-blue: #03284F;
$colour-bg: #ffffff;

/* Supporting Palette */
$colour-text: #333333;
$colour-line: #d0d0d0;
$colour-bg-grey: #eeeeee;
$colour-bg-text: #ffffff;
$colour-bg-header: #d8d8d8;
$colour-divider: #d8d8d8;
$colour-bg-footer: #b3bcc8;

/* Digital Product Colours */
$colour-product-raster-chart: #ef3e33;
$colour-product-list-of-lights: #00a996;
$colour-product-passage-planner: #85a4d1;
$colour-product-tide: #fcd446;
$colour-product-vector-chart: #de0076;
$colour-product-nautical-publications: #7577c0;
$colour-product-digital-publications: #83afb4;
$colour-product-digital-radio-signals: #75cff5;

/* Utility Colours */
$colour-utility-warning: #bd8832;
$colour-utility-error: #e20d0d;
$colour-utility-success: #4aab37;
$colour-utility-info: #0177c1;

/* Button Colours */
/* Primary */
$colour-button-standard: $colour-admiralty-blue;
$colour-button-border-standard: $colour-admiralty-blue;
$colour-button-hover: #03284f;
$colour-button-border-hover: #03284f;
$colour-button-deselected: #adadad;
$colour-button-border-deselected: #adadad;
$colour-button-selected: #ffffff;
$colour-button-border-selected: $colour-admiralty-blue;
$colour-button-text: #ffffff;
$colour-button-text-selected: $colour-admiralty-blue;
$colour-button-border-selected: $colour-admiralty-blue;
$colour-button-icon: #ffffff;
$colour-button-icon-selected: $colour-admiralty-blue;
/* Secondary */
$colour-button-secondary-standard: #ffffff;
$colour-button-secondary-border-standard: #05284e;
$colour-button-secondary-hover: #eeeeee;
$colour-button-secondary-border-hover: #05284e;
$colour-button-secondary-deselected: #adadad;
$colour-button-secondary-border-deselected: #adadad;
$colour-button-secondary-selected: #05284e;
$colour-button-secondary-border-selected: #05284e;
$colour-button-secondary-text: #05284e;
$colour-button-secondary-text-selected: #ffffff;
$colour-button-secondary-icon: #05284e;
$colour-button-secondary-icon-selected: #ffffff;

/* Link Colours */
$colour-link: $colour-admiralty-blue;

/* Nav colours */
$colour-nav-item: #2c2c2c;
$colour-nav-bg-hover: #f0f0f0;
$colour-nav-bg: #f8f8f8;
$colour-nav-subitem: #3a3a3a;
$colour-nav-subitem-icon: #333333;

/* Table colours */
$colour-table-row-bg: $colour-bg;
$colour-table-row-alt-bg: #eef3f4;

/* Tab colours */
$colour-tab-active: #ffffff;
$colour-tab-inactive: #eeeeee;
$colour-tab-hover: #dddddd;

/* form colours */
$colour-textinput-border: $colour-dark-blue;
$colour-textinput-border-active: $colour-utility-info;
$colour-textinput-text: $colour-dark-blue;
$colour-textinput-bg: #f6f6f6;
$colour-textinput-text: $colour-admiralty-blue;
$colour-textinput-text-active: $colour-utility-info;
