@import 'colours';
@import 'responsive';
@import 'fontawesome';

.dialog {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
  padding: 30px 18px;
  @include not-desktop {
    padding: 24px 18px;
  }

  /* info type is default */
  border-left: 5px solid $colour-utility-info;

  h3 {
    color: $colour-utility-info;

    &::before {
      color: inherit;
      @extend .fa;
      @extend .fa-info-circle, :before;
      font-size: 18px;
      margin: 0 10px 0 0;
    }
  }

  &.error {
    border-left: 5px solid $colour-utility-error;
    h3 {
      color: $colour-utility-error;
      &::before {
        @extend .fa-exclamation, :before;
      }
    }
  }
  &.success {
    border-left: 5px solid $colour-utility-success;
    h3 {
      color: $colour-utility-success;
      &::before {
        @extend .fa-check, :before;
      }
    }
  }
  &.warning {
    border-left: 5px solid $colour-utility-warning;
    h3 {
      color: $colour-utility-warning;
      &::before {
        @extend .fa-exclamation-triangle, :before;
      }
    }
  }

}
