@import 'colours';
@import 'typography';

.example1-header {

    nav#top-menu {
        z-index: 2;
        align-items: center;

        a.example1-nav-text, span.example1-nav-text {
            display: flex;
            font-size: 14px;
            color: $colour-admiralty-blue;
            font-weight: $font-weight-medium;
            text-decoration: none;
        }
        
        .header-links-wrap {
            display: flex;
            width: 33%;
            justify-content: space-between;
        }
    }
}

.text-block {
    p {
        margin: 40px 0;
    }
}

.example1-table {
    margin-top: 45px;
}

.text-input-wrap {
    margin-bottom: 18px;
}

button {
    display: block;
}