@import 'colours';
@import 'typography';
@import 'fontawesome';

section.readmore {
  > input[type='checkbox'] {
    display: none;
  }

  > label {
    @extend a;
    cursor: pointer;
    text-decoration: none;

    &::before {
      content: 'Read more...';
    }
  }

  > div + div {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
  }

  > input[type='checkbox']:checked + div + div {
    max-height: 1000px;
  }

  > input[type='checkbox']:checked + div + div + label::before {
    content: 'Read less';
  }
}

section.expansion {
  > input[type='checkbox'] {
    display: none;
  }

  > label {
    @extend h3;
    display: block;
    cursor: pointer;
    border-bottom: 1px solid $colour-divider;
    padding-bottom: 24px;

    &::after {
      @extend .fa;
      @extend .fa-chevron-down:before;
      float: right;
    }

    h3 {
      display: inline;
    }
  }

  > div {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
  }

  > input[type='checkbox']:checked + label::after {
    @extend .fa-chevron-up:before;
  }

  > input[type='checkbox']:checked + label + div {
    max-height: 1000px;
  }
}
