@import 'colours';
@import 'responsive';
@import 'typography';

footer {
  font-size: 16px;
  color: $colour-admiralty-blue;
  background-color: $colour-bg-footer;
  font-weight: $font-weight-medium;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  @include not-desktop {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
  }
}
