@import 'colours';
@import 'responsive';
@import 'typography';

.form-label {
    font-size: 21px;
    color: #333333;
    margin-bottom: 18px;

    @include not-desktop {
        font-size: 18px;
    }
}