@import 'colours';

.logos-row {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}

.logos-stacked {
    max-width: 356px;
    margin: 0 0 45px 0;
}

.logos-linear {
    max-width: 443px;
    margin: 0 0 45px 0;
}

.admiralty-logo-background {
    width: 100%;
    max-width: 378px;
    padding: 60px;
    display: flex;
}

.ukho-background {
    width: 100%;
    padding: 60px;
    display: flex;
}

.dark-logo-background {
    background-color: $colour-admiralty-blue;
}

.logo-image {
    width: 100%;
}