.mat-search-wrapper {
     // border colour
     .mat-form-field div.mat-form-field-outline div {
        border-color: $colour-textinput-border;
        border: 2px solid;
        border-radius: unset;
    }
    
    .mat-form-field.mat-focused div.mat-form-field-outline div {
        border-color: $colour-textinput-border-active;
    }

    // start border
    div.mat-form-field-outline div.mat-form-field-outline-start {
        border-right-style: none;
    }
    
    // middle border
    div.mat-form-field-outline div.mat-form-field-outline-gap {
        border-left-style: none;
        border-right-style: none;
    }
    
    .mat-form-field-should-float div.mat-form-field-outline div.mat-form-field-outline-gap {
        border-top-color: transparent;
    }
    
    // end border
    div.mat-form-field-outline div.mat-form-field-outline-end {
        border-left-style: none;
    }
    
    
    // background
    div.mat-form-field-outline {
        background: $colour-textinput-bg;
    }
    
    .mat-focused div.mat-form-field-outline,
    .disabled div.mat-form-field-outline {
        background: none;
    }

    // input
    input.mat-input-element {
        font-size: 21px;
        color: $colour-textinput-text;
    }
    
    .mat-focused input.mat-input-element {
        color: $colour-textinput-text-active;
    }

    // layout
    div.mat-form-field-flex {
        height: 50px;
    }
    
    .mat-form-field-appearance-outline div.mat-form-field-infix {
        padding: .2em;
        top: -5px;
    }
    
    .mat-form-field-appearance-outline label.mat-form-field-label {
        top: 1.22em;
    }
    
    .mat-form-field {
        min-width: 420px;
        @include not-desktop {
            min-width: unset;
            max-width: 420px;
            width: 100%;
        }
    }

    button, input[type='button'] {
        height: 50px;
    }

    .mat-form-field-appearance-outline .mat-form-field-outline {
        height: 50px;
        top: 0px;
        margin-right: 1.33333em;
    }

    button p, input[type='button'] p {
        padding-top: 0;
    }
}