
// border colour
.mat-form-field div.mat-form-field-outline div {
    border-color: $colour-textinput-border;
    border: 2px solid;
    border-radius: unset;
}

.mat-form-field.mat-focused div.mat-form-field-outline div {
    border-color: $colour-textinput-border-active;
}

.mat-form-field.disabled div.mat-form-field-outline div {
    border-color: $colour-textinput-border-disabled;
}

// start border
div.mat-form-field-outline div.mat-form-field-outline-start {
    border-right-style: none;
}

// middle border
div.mat-form-field-outline div.mat-form-field-outline-gap {
    border-left-style: none;
    border-right-style: none;
}

// end border
div.mat-form-field-outline div.mat-form-field-outline-end {
    border-left-style: none;
}


// background
div.mat-form-field-outline {
    background: $colour-textinput-bg;
}

.mat-focused div.mat-form-field-outline,
.disabled div.mat-form-field-outline {
    background: none;
}

// input
input.mat-input-element {
    font-size: 21px;
    color: $colour-textinput-text;
}

.mat-focused input.mat-input-element {
    color: $colour-textinput-text-active;
}

// label
span.mat-form-field-label-wrapper .ng-star-inserted {
    color: $colour-textinput-text;
}

.mat-focused span.mat-form-field-label-wrapper .ng-star-inserted {
    color: $colour-textinput-text-active;
}

.disabled span.mat-form-field-label-wrapper .ng-star-inserted {
    color: $colour-textinput-text-disabled;
}
