@import 'colours';
@import 'responsive';
@import 'typography';

// From https://www.w3schools.com/howto/howto_css_custom_checkbox.asp

/* Customize the label (the container) */
.radio-buttons {
  .container {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    
    /* Hide the browser's default radio button */
    .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    
    /* Create a custom radio button */
    .checkmark {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0;
      left: 0;
      height: 26px;
      width: 26px;
      background-color: $colour-white;
      border-radius: 50%;
      border: 2px solid $colour-checkbox;
    }
  
    .check-dot {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: $colour-checkbox;
      display: none;
    }
  
    .container input:checked ~ .checkmark .check-dot {
      display: block;
    }
  
    .radio-label {
        margin: 0;
        padding-top: 3px;
    }

    .stacked {
      display: flex;

      .container {
        margin-right: 65px;
      }
    }
}
