
$max-content-width: 1284px;

/* Device Sizes */
$device-size-tablet-large: 1024px;
$device-size-tablet-medium: 768px;
$device-size-tablet-small: 600px;
$device-size-mobile-large: 414px;
$device-size-mobile: 375px;

@mixin not-desktop() {
  @media (max-width: $device-size-tablet-large - 1)  { @content ; }
}

@mixin desktop-only() {
  @media (min-width: $device-size-tablet-large)  { @content ; }
}

@mixin breakpoint($point) {
  @if $point == tablet-large {
    @media (min-width: $device-size-tablet-large) { @content ; }
  }
  @else if $point == tablet-medium {
    @media (min-width: $device-size-tablet-medium) { @content ; }
  }
  @else if $point == tablet-small {
    @media (min-width: $device-size-tablet-small) { @content ; }
  }
  @else if $point == mobile-large {
    @media (min-width: $device-size-mobile-large)  { @content ; }
  }
  @else if $point == mobile {
    @media (max-width: $device-size-mobile)  { @content ; }
  }
}
