@import 'colours';
@import 'responsive';
@import 'typography';

.text-input-wrap {
  position: relative;

  label {
    position: relative;
    color: $colour-textinput-text;
    left: 0;
    top: 9px;
    transition: top .3s, font-size .3s;
  }

  .input-wrap {
    position: absolute;
    height: 100%;
    border-top: solid 2px transparent;
    padding: 5px;
    left: 13px;
    top: 0;
    transition: border-top-color .1s;
  }

  .form-text-input:focus + .input-wrap {
    border-top-color: white;

    label {
      color: $colour-textinput-text-active;
      top: -18px;
      font-size: 14px;
    }
  }

  .has-value {
    border-top-color: $colour-white;
    label {
      top: -18px;
      font-size: 14px;
    }
  }
}

.is-disabled {
  input {
    border-color: $colour-textinput-border-disabled;
    background: $colour-white;
  }

  label {
    color: $colour-textinput-text-disabled;
  }
}

.form-text-input {
    width: 420px;
    height: 50px;
    border: 2px solid $colour-textinput-border;
    color: $colour-textinput-text;
    padding-left: 18px;
    outline: none;
    background-color: $colour-textinput-bg;
    position: relative;
    line-height: 3;

    &:focus {
      border-color: $colour-textinput-text-active;
      color: $colour-textinput-text-active;
    }

    @include not-desktop {
      max-width: 420px;
      width: 100%;
    }
}