<h1>Components</h1>
<p class="intro">
    Our reusable components offer an easy-to-use and accessible solution for forms, navigation, tables and more.
</p>

<%- partial("../../_partials/pagecards") %>
