<h1>Cloud principles</h1>

<ol>
        <li><a href="#anchor1">We use cloud where appropriate / cloud first</a></li>
        <li><a href="#anchor2">We adopt an opportunistic rather than programmed migration</a></li>
        <li><a href="#anchor3">We are open to all forms of cloud being adopted</a></li>
        <li><a href="#anchor4">We will use a multiple cloud strategy</a></li>
        <li><a href="#anchor5">We use any deployment model: public, private or hybrid cloud can be utilised</a></li>
    </ol>

<h3 id="anchor1">1. We use cloud where appropriate / cloud first</h3>
<p>
        A cloud solution must always be considered first, if appropriate, for new or significantly changing functionality. 
</p>

<h3 id="anchor2">2. We adopt an opportunistic rather than programmed migration</h3>
<p>
        The opportunity to move functionality to the cloud will be taken when there are drivers to change or adopt functionality. There is no holistic re-platforming programme to migrate solutions to the cloud.
</p>

<h3 id="anchor3">3. We are open to all forms of cloud being adopted</h3>
<p>
        This includes: SaaS, PaaS and IaaS.
</p>

<h3 id="anchor4">4. We will use a multiple cloud strategy</h3>
<p>
        We will use the best cloud for the purpose, with a focus on SaaS, before PaaS, before IaaS.
</p>

<h3 id="anchor5">5. We use any deployment model: public, private or hybrid cloud can be utilised</h3>
<p>
        This is dependent on the business area scenario. Generally public cloud deployments will be preferred as this is usually the most economic approach.
</p>
