<h1>Cyber principles</h1>

<ol>
    <li><a href="#anchor1">We will establish the context before designing a system</a></li>
    <li><a href="#anchor2">We will make compromising our systems difficult</a></li>
    <li><a href="#anchor3">We will make disrupting our systems difficult</a></li>
    <li><a href="#anchor4">We will make compromise easier to detect</a></li>
    <li><a href="#anchor5">We will reduce the impact of compromise</a></li>
</ol>

<h3 id="anchor1">1. We will establish the context before designing a system</h3>
<p>
    We will understand the system, the potential risks and owners of those risks in order to address any short-comings.
</p>

<h3 id="anchor2">2. We will make compromising our systems difficult</h3>
<p>
    We will design with security in mind, utilising techniques that make it harder for attackers to compromise our systems.
</p>

<h3 id="anchor3">3. We will make disrupting our systems difficult</h3>
<p>
    We will design for resilience, including reliance on any third parties. 
</p>

<h3 id="anchor4">4. We will make compromise easier to detect</h3>
<p>
    We will monitor our systems. We will understand the normal and detect the abnormal.
</p>

<h3 id="anchor5">5. We will reduce the impact of compromise</h3>
<p>
    We will design to minimise any impact.
</p>
