<h1>Development principles</h1>
<p class="intro">
    Some intro text goes here.
</p>
<ol>
    <li><a href="#anchor1">We understand the value of our code</a></li>
    <li><a href="#anchor2">We understand the impact of failure and build appropriately</a></li>
    <li><a href="#anchor3">We write high quality code</a></li>
    <li><a href="#anchor4">We seek confidence in release</a></li>
    <li><a href="#anchor5">We seek reuse of our code</a></li>
    <li><a href="#anchor6">We take a full lifecycle view</a></li>
    <li><a href="#anchor7">We keep our designs simple</a></li>
    <li><a href="#anchor8">We seek opposing views</a></li>
    <li><a href="#anchor9">We look externally when deciding about technology</a></li>
</ol>

<h3 id="anchor1">1. We understand the value of our code</h3>
<p>
    We understand the value of the what we are delivering, using this to make decisions about how we work.
</p>

<h3 id="anchor2">2. We understand the impact of failure and build appropriately</h3>
<p>
    We build in quality and security controls appropriate to the impact of failure of the systems.
</p>

<h3 id="anchor3">3. We write high quality code</h3>
<p>
    We write code covered by automated tests and reviewed by colleagues.
</p>

<h3 id="anchor4">4. We seek confidence in release</h3>
<p>
    We favour options that will increase our confidence in releasing products and services.
</p>

<h3 id="anchor5">5. We seek reuse of our code</h3>
<p>
    We don’t create the same thing twice.  We look for opportunities to collaborate and re-use existing implementations.
</p>

<h3 id="anchor6">6. We take a full lifecycle view</h3>
<p>
    We write systems that are robust and easy to support, with appropriate monitoring and instrumentation.
</p>

<h3 id="anchor7">7. We keep our designs simple</h3>
<p>
    We favour designs that are easy to understand and communicate.
</p>

<h3 id="anchor8">8. We seek opposing views</h3>
<p>
    We strive for teams that understand and create psychologically safe environments, openly seeking views that challenge our ideas and assumptions.
</p>

<h3 id="anchor9">9. We look externally when deciding about technology</h3>
<p>
    We look externally – we look for best practice and innovative solutions elsewhere in government and industry, and reuse them in the UKHO.
</p>

