@import "breadcrumbs.vars";

.breadcrumbs {
  width: 100%;
  box-sizing: border-box;
  display: inline-flex;
  border-bottom: 1px solid $breadcrumbs-divider-colour;
  background-color: $breadcrumbs-background-colour;
  padding: 0 20px;
}
