@import 'tooltip.vars';

:host {
  display: inline;
}

.anchor {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}

:host(:hover) .tooltip,
:host(:focus-within) .tooltip {
  opacity: 1;
  visibility: visible;
  transform: translate(0,0) scale(1);
}

.trigger {
  display: inline-flex;
}

.tooltip {
  position: absolute;
  padding: 8px 12px;
  color: black;
  background: white;
  z-index: 999;
  white-space: nowrap;
  cursor: pointer;
  filter: drop-shadow(0 0 6px #b2b2b2);
  opacity: 0;
  visibility: hidden;
  transform: translate(0,0) scale(.98);
  transition: opacity 0.2s ease-in-out;
}

.arrow {
  width: 14px;
  height: 14px;
  position: absolute;
  background: #fff;
  transform: rotate(45deg);
}


/* TOP */
.tooltip[data-placement="top"] {
  bottom: calc(100% + 8px);
  left: 50%;
  border-top: 2px solid $tooltip-border-colour;
  transform: translateX(-50%) scale(.98);
}
:host(:hover) .tooltip[data-placement="top"],
:host(:focus-within) .tooltip[data-placement="top"] {
  transform: translateX(-50%) scale(1);
}
.tooltip[data-placement="top"] .arrow {
  left: 50%;
  bottom: calc(-1 * 8px / 2);
  transform: translateX(-50%) rotate(45deg);
}


/* BOTTOM */
.tooltip[data-placement="bottom"] {
  top: calc(100% + 8px);
  left: 50%;
  border-bottom: 2px solid $tooltip-border-colour;
  transform: translateX(-50%) scale(.98);
}
:host(:hover) .tooltip[data-placement="bottom"],
:host(:focus-within) .tooltip[data-placement="bottom"] {
  transform: translateX(-50%) scale(1);
}
.tooltip[data-placement="bottom"] .arrow {
  left: 50%;
  top: calc(-1 * 8px / 2);
  transform: translateX(-50%) rotate(45deg);
}


/* LEFT */
.tooltip[data-placement="left"] {
  right: calc(100% + 8px);
  top: 50%;
  border-bottom: 2px solid $tooltip-border-colour;
  transform: translateY(-50%) scale(.98);
}
:host(:hover) .tooltip[data-placement="left"],
:host(:focus-within) .tooltip[data-placement="left"] {
  transform: translateY(-50%) scale(1);
}
.tooltip[data-placement="left"] .arrow {
  top: 50%;
  right: calc(-1 * 8px / 2);
  transform: translateY(-50%) rotate(45deg);
}


/* RIGHT */
.tooltip[data-placement="right"] {
  left: calc(100% + 8px);
  top: 50%;
  border-bottom: 2px solid $tooltip-border-colour;
  transform: translateY(-50%) scale(.98);
}
:host(:hover) .tooltip[data-placement="right"],
:host(:focus-within) .tooltip[data-placement="right"] {
  transform: translateY(-50%) scale(1);
}
.tooltip[data-placement="right"] .arrow {
  top: 50%;
  left: calc(-1 * 8px / 2);
  transform: translateY(-50%) rotate(45deg);
}


/* START */
.tooltip[data-placement="top"][data-alignment="start"] .arrow,
.tooltip[data-placement="bottom"][data-alignment="start"] .arrow, {
  left: 8px;
  right: auto;
  transform: rotate(45deg);
}

/* CENTRE */
.tooltip[data-placement="top"][data-alignment="centre"] .arrow,
.tooltip[data-placement="bottom"][data-alignment="centre"] .arrow, {
  left: 50%;
  right: auto;
  transform: translateX(-50%) rotate(45deg);
}

/* END */
.tooltip[data-placement="top"][data-alignment="end"] .arrow,
.tooltip[data-placement="bottom"][data-alignment="end"] .arrow, {
  right: 8px;
  left: auto;
  transform: rotate(45deg);
}
