<table cdk-table ukho-sort [dataSource]="dataSource" (sortChange)="onSortChange($event)">
  <ng-container *ngFor="let displayedColumn of displayedColumns">
    <ng-container [cdkColumnDef]="displayedColumn.propertyName">
      <ng-container *ngIf="isHeaderDisplayed && !displayedColumn.sortable">
        <th cdk-header-cell *cdkHeaderCellDef>
          {{ displayedColumn.headerTitle }}
        </th>
      </ng-container>
      <ng-container *ngIf="isHeaderDisplayed && displayedColumn.sortable">
        <th cdk-header-cell *cdkHeaderCellDef ukho-sort-header>
          {{ displayedColumn.headerTitle }}
        </th>
      </ng-container>
      <td cdk-cell *cdkCellDef="let element">
        <div [innerHTML]="element[displayedColumn.propertyName]"></div>
      </td>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="isHeaderDisplayed">
    <tr cdk-header-row *cdkHeaderRowDef="columnProperties"></tr>
  </ng-container>
  <tr cdk-row *cdkRowDef="let row; columns: columnProperties"></tr>
</table>
