@import '../../styles/vars/globals';

/**
 * @prop --admiralty-file-input-font-size: Font size of the file input
 * @prop --admiralty-file-input-font-weight: Font weight of the file input
 * @prop --admiralty-file-input-label-font-size: Font size of the file input label
 * @prop --admiralty-file-input-label-font-weight: Font weight of the file input label
 * @prop --admiralty-file-input-icon-font-size: Font size of the file input icon
 * @prop --admiralty-file-input-icon-font-weight: Font weight of the file input icon

 * @prop --admiralty-file-input-margin: Margin for the file input.
 * @prop --admiralty-file-input-icon-margin: Margin for the file input icon.
 * @prop --admiralty-file-input-label-margin: Margin for the file input label.
**/

$file-input-font-size: var(--admiralty-file-input-font-size, var(--admiralty-font-size-0)); // TODO: need to confirm if this variable works.
$file-input-font-weight: var(--admiralty-file-input-font-weight, var(--admiralty-font-weight-normal)); // TODO: need to confirm if this variable works.
$file-input-line-height: 24px;

$file-input-background-colour: var(--admiralty-background-colour-tint);
$file-input-background-hover-colour: var(--admiralty-hover-background-colour-tint);
$file-input-border-colour: var(--admiralty-colour-primary);
$file-input-invalid-border-colour: var(--admiralty-colour-danger);
$file-input-focus-colour: var(--admiralty-focus-colour);
$file-input-focus-text-colour: var(--admiralty-text-colour);

// Icon
$file-input-icon-colour: var(--admiralty-colour-primary);
$file-input-icon-size: var(--admiralty-file-input-icon-font-size, var(--admiralty-font-size-3));
$file-input-icon-weight: var(--admiralty-file-input-icon-font-weight, var(--admiralty-font-weight-bold));

// Label
$file-input-label-colour: var(--admiralty-colour-primary);
$file-input-label-font-size: var(--admiralty-file-input-label-font-size, var(--admiralty-font-size-0));
$file-input-label-font-weight: var(--admiralty-file-input-label-font-weight, var(--admiralty-font-weight-medium));

// Spacing
$file-input-margin: var(--admiralty-file-input-margin, 6px);
$file-input-icon-margin: var(--admiralty-file-input-icon-margin, var(--admiralty-spacing-2) var(--admiralty-spacing-auto));
$file-input-label-margin: var(--admiralty-file-input-label-margin, var(--admiralty-spacing-2) var(--admiralty-spacing-0));
