@import './file-input.vars';

.admiralty-file-input {
  background: $file-input-background-colour;
  display: flex;
  position: relative;
  border: 2px dashed $file-input-border-colour;
  min-height: 120px;
  align-content: stretch;
  justify-content: stretch;
  margin-bottom: 6px;
  font-size: $file-input-font-size; // TODO: Need to confirm if this does anything.
  font-weight: $file-input-font-weight; // TODO: Need to confirm if this does anything.
  line-height: $file-input-line-height;

  &:hover {
    background-color: $file-input-background-hover-colour;
  }

  &.invalid {
    border-color: $file-input-invalid-border-colour;
  }

  &.drop_zone {
    // active when file is dragged over label
    background: $file-input-background-hover-colour !important;
  }

  .upload-icon {
    color: $file-input-icon-colour;
    font-size: $file-input-icon-size;
    font-weight: $file-input-icon-weight;
    margin: 0.4rem auto;
    text-align: center;
    flex: 0 1;
  }
}

label {
  border-image-repeat: stretch;
  border-image-width: 1;
  display: flex;
  align-content: center;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  cursor: pointer;

  span {
    color: $file-input-label-colour;
    flex: 0 1;
    font-size: $file-input-label-font-size;
    font-weight: $file-input-label-font-weight;
    text-align: center;
    margin: 0.4rem 0;
  }
}

input[type='file'] {
  align-items: baseline;
  overflow: visible;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;

  &:focus {
    outline: 3px solid $file-input-focus-colour;
    outline-offset: 2px;
  }
}

input[type='file']:focus + label {
  outline: 2px solid $file-input-focus-text-colour;
  box-shadow: $file-input-focus-text-colour inset 0 0 0 2px;
}
