@use "../../scss/vars/colours";
@use "../../scss/vars/typography";

.admiralty-file-input {
  background: #eee;
  display: flex;
  position: relative;
  border: 2px dashed colours.$colour-admiralty-blue;;
  min-height: 120px;
  align-content: stretch;
  justify-content: stretch;
  margin-bottom: 36px;
  font-family: typography.$font-family;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;

  &.drop_zone { // active when file is dragged over label
    background: #fff !important;
  }

  .upload-icon {
    color: colours.$colour-admiralty-blue;
    font-size: 24px;
    font-weight: 900;
    margin: .4rem auto;
    text-align: center;
    flex: 0 1;
  }
}

label {
  border-image-repeat: stretch;
  border-image-width: 1;
  display: flex;
  align-content: center;
  flex-direction: column;
  flex:1;
  justify-content: center;
  cursor: pointer;

  span {
    color: colours.$colour-admiralty-blue;
    flex: 0 1;
    font-size: 18px;
    font-weight: typography.$font-weight-medium;
    text-align: center;
    margin: 0.4rem 0;
  }
}

input[type=file] {
  align-items: baseline;
  overflow: visible;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;

  &:focus {
    outline: 3px solid colours.$colour-utility-focus;
    outline-offset: 2px;
  }
}
