@import 'tab-group.vars';

.tab-group-headers {
  width: 100%;
}

hr {
  width: 100%;
  height: 2px;
  margin: 6px 0;
  background-color: $tab-group-separator-colour;
}

.headers {
  display: flex;
  overflow-x: auto;

  white-space: nowrap;

  .heading {
    cursor: pointer;
    padding: 10px;
    height: 42px;
    max-width: fit-content;
    box-sizing: border-box;
    user-select: none;

    text-align: center;
    text-decoration: none;
    color: $tab-group-heading-text-colour;
    background-color: unset;
    font-weight: $tab-group-heading-text-weight;
    font-size: $tab-group-heading-text-font;
    margin-left: 4px;

    &:first-child {
      margin-left: 0;
    }

    @include not-desktop {
      font-size: $tab-group-heading-not-desktop-text-font;
      // line-height: 18px;
      padding: 8px;
      height: unset;
      width: unset;
    }

    &:focus-visible {
      box-shadow: $tab-group-focus-colour inset 0 0 0 2px;
    }

    &:focus,
    &.active:focus {
      @include focus-highlight;
      box-shadow: 0px -4px $tab-group-focus-text-colour inset;
    }

    &:hover {
      background-color: $tab-group-heading-hover-background-colour;
      color: $tab-group-heading-text-colour;
      box-shadow: unset;
    }

    &.active {
      background-color: $tab-group-active-background-colour;
      color: $tab-group-active-text-colour;
    }
  }
}
