@import '../../styles/vars/globals';

$tab-group-separator-colour: var(--admiralty-colour-light);
$tab-group-heading-text-colour: var(--admiralty-colour-primary);
$tab-group-heading-text-weight: 500;
$tab-group-heading-hover-background-colour: #f0f0f0f0;
$tab-group-focus-colour: var(--admiralty-focus-outline-colour) !default;
$tab-group-focus-text-colour: var(--admiralty-text-colour) !default;
$tab-group-active-background-colour: var(--admiralty-colour-primary);
$tab-group-active-text-colour: var(--admiralty-colour-primary-contrast);
