<h1>General Guidelines</h1>
<p class="intro">
    These guidelines underpin our usage of the Design System.
</p>
<h3>What is the Design System?</h3>
<p>Our Design System is a living collection of components, principles, standards and a toolkit to provide a consistent style and usability for all our customer-facing (and internal) products.</p> 

<p>The system underpins our user-centred approach, speeding-up releases without compromising quality. It will increase efficiency in designing products and solutions and provide brand consistency with our products.</p>

<h3>How should we use it?</h3>
<p>The UKHO Design System is intended as a guide. It is updateable and will be reviewed regularly following your feedback. It is for UKHO and approved partners to use exclusively.</p>

<p>Principles approved by UKHO teams, can be used to help define and refine practices we use. Just as consistency increases, so too does user efficiency.</p>

<p>Toolkits should enable efficient product development, provide consistent user experience and a ‘visual house style’ for products in design terms. Styles, components and Patterns in the Toolkit are ready to use in HTMl, CSS and Angular for all web-based products.</p>

<h3>Practical Advice</h3>
<p>Advice on how to use the Design System toolkit will update here</p>


