<h1>Usage guidelines</h1>
<p class="intro">
    The project is made up of two main parts: the static HTML site which documents, and uses, the design system, and the angular folder which contains the code for the Angular components which are part of the design system.
</p>
<h2>Usage in other projects</h2>
<p>The design system has been developed to be used in UKHO projects, either as Angular components or as plain HTML with some minimal Javascript augmentation. In either case there is a suite of CSS that provides styles for all aspects of the design system.</p> 

<h3>Non-Angular sites</h3>
<p>Please include all the relevant CSS in your site (see below). To implement components you should visit the relevant page in the design system site and copy the example HTML from the HTML example tab.</p>

<h3>Angular sites</h3>
<p>Please include all the relevant CSS in your site (see below). The Angular components contained in the <strong>angular</strong> folder of this repository should be published as an NPM package which can then be included in new or existing Angular projects.</p>

<h3>CSS</h3>
<p>The CSS for the design system can be found as the source SASS files in <strong>public/css</strong> and are all linked from the main <strong>all.scss</strong> file. Alternatively, building the static site results in plain CSS files in <strong>dist/css</strong> which can then be used for websites that don't support SASS.</p>

<h2>Developing the design system</h2>

<h3>Static HTML site</h3>
<p>This project uses a Node based static site generator called <a href="http://harpjs.com/">Harp</a> to compile <a href="https://ejs.co/">EJS</a> from the <strong>public</strong> folder into static HTML in <strong>dist</strong>. Harp has built-in support for SASS which is similarly compiled into plan CSS. Resources such as fonts and images in the <strong>assets</strong> folder are copied as-is.</p>
<p>The build system relies on JSON metadata which describes the basic structure of the site and is contained in <strong>harp.json</strong> at the top level (for globals) and in <strong>_data.json</strong> files in each sub-folder. This data is then available as variables in the layout, template and partial EJS files at build time.</p>

<h4>Installation</h4>
<ul>
    <li>Prerequisites: ensure that a recent release of <a href="https://nodejs.org/en/download/package-manager/">Node and NPM</a> are installed</li>
    <li>Install NPM packages, including Harp: <code>npm install</code></li>
</ul>

<h4>Development and build</h4>
<p>You can develop locally by running the Harp server which compiles and serves on-the-fly, watching for changes:</p>
<p><code>npm run start-static</code></p>
<p>The site will be available at <a href="http://localhost:9000/">http://localhost:9000/</a>.</p>
<p>If you find that Harp fails to serve the site correctly but doesn't provide a useful error message in the browser or in the terminal, you should run compile (see below) which should show more useful error messages in the terminal.</p>
<p>Once you're done with modifications you can compile the final site to the dist folder:</p>
<p><code>npm run build-static</code></p>
<p>As a static site the resulting dist can then be uploaded to any web host (e.g. GithubPages or Netlify) with no requirement for server side processing.</p>
<p>##Angular</p>
<p>This is a standard Angular (sub)project made with the ng command line tool.</p>
<p>Standard ng commands can be used to running, building and testing.</p>



