@import '../../styles/vars/globals';

$modal-backdrop-background-colour: var(--admiralty-colour-light-contrast) !default;
$modal-heading-text-colour: var(--admiralty-colour-primary) !default;
$modal-background-colour: var(--admiralty-background-colour) !default;
$modal-border-colour: var(--admiralty-colour-light) !default;
$modal-button-bar-background-colour: var(--admiralty-background-colour-tint) !default;
