@import "../../styles/vars/globals";

$modal-backdrop-background-colour: #000000 !default;
$modal-heading-text-colour: var(--admiralty-colour-primary) !default;
$modal-background-colour: var(--admiralty-background-colour) !default;
$modal-border-colour: var(--admiralty-colour-light) !default;
