@use '../../scss/base/responsive';
@use '../../scss/vars/colours';
@use '../../scss/base/typography';

.modal-backdrop {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: colours.$colour-black;
  opacity: 0.5;
}
.modal-backdrop.show {
  display: block;
}

.modal-dialog {
  display: none;
  margin: 0 auto;
  width: max-content;
  z-index: 1001;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: colours.$colour-white;
  border: 1px solid colours.$colour-divider;

  & > .modal-heading {
    padding: 42px 42px 18px 58px;

    @extend h2;
  }

  & > .modal-content {
    border-top: none;
    flex-grow: 1;
    padding: 0px 42px 42px 42px;

    ::slotted(div[slot='content']) {
      display: flex;
      align-items: start;
    }
    //Specifying the specific slot inexplicably
    //makes the selector apply to the slotted div
    ::slotted(div) > admiralty-icon {
      color: #09315b;
      display: inline-block;
      padding: 3px 10px 0px 18px;
      font-size: 24px;
    }
    //Specifying the specific slot inexplicably
    //makes the selector apply to the slotted div
    ::slotted(div) > div {
      color: #09315b;
      max-width: 500px;
      display: inline-block;
      @extend h6;
    }
  }

  & > .modal-actions {
    background-color: #d9e0e7;

    ::slotted(div[slot='actions']) {
      display: flex;
      justify-content: end;
      flex-direction: row;
    }
    //Specifying the specific slot inexplicably
    //makes the selector apply to the slotted div
    ::slotted(div) > admiralty-button {
      padding: 24px 24px 24px 0px;
    }
  }
}
.modal-dialog.show {
  display: block;
}

.text-input-form {
  .text-input-wrap {
    margin-bottom: 30px;
  }

  .text-input-wrap:last-child {
    margin-bottom: 0;
  }
}
