@import '../../styles/vars/globals';

$theme-toggle-background-colour: var(--admiralty-theme-toggle-background-colour, var(--admiralty-colour-light));
$theme-toggle-hover-background-colour: var(--admiralty-theme-toggle-hover-background-colour, var(--admiralty-colour-light-shade));
$theme-toggle-active-background-colour: var(--admiralty-theme-toggle-active-background-colour, var(--admiralty-colour-light-shade));
$theme-toggle-icon-colour: var(--admiralty-theme-toggle-icon-colour, var(--admiralty-colour-primary));
$theme-toggle-slider-background-colour: var(--admiralty-theme-toggle-slider-background-colour, var(--admiralty-colour-primary));
$theme-toggle-slider-colour: var(--admiralty-theme-toggle-slider-colour, var(--admiralty-colour-primary-contrast));
$theme-toggle-focus-colour: var(--admiralty-theme-toggle-focus-colour, var(--admiralty-focus-colour));
$theme-toggle-disabled-opacity: var(--admiralty-theme-toggle-disabled-opacity, 0.5);
$theme-toggle-size: var(--admiralty-theme-toggle-size, 44px);
$theme-toggle-border-radius: var(--admiralty-theme-toggle-border-radius, 20px);
