@import '../../styles/vars/globals';

/**
 * @prop --admiralty-dialogue-title-font-size: Font size of the dialogue title
 * @prop --admiralty-dialogue-title-icon-font-size: Font size of the dialogue title icon
 * @prop --admiralty-dialogue-title-font-weight: Font weight of the dialogue title
**/

$dialogue-title-text-size: var(--admiralty-dialogue-title-font-size, var(--admiralty-font-size-0));
$dialogue-title-icon-size: var(--admiralty-dialogue-title-icon-font-size, var(--admiralty-font-size-1));
$dialogue-title-text-weight: var(--admiralty-dialogue-title-font-weight, var(--admiralty-font-weight-medium));

$dialogue-title-text-colour: var(--admiralty-colour-primary);

$dialogue-info-colour: var(--admiralty-colour-info-background);
$dialogue-info-accent-colour: var(--admiralty-colour-info);
$dialogue-info-text-colour: var(--admiralty-colour-primary);

$dialogue-error-colour: var(--admiralty-colour-danger-background);
$dialogue-error-accent-colour: var(--admiralty-colour-danger);
$dialogue-error-text-colour: var(--admiralty-colour-primary);

$dialogue-success-colour: var(--admiralty-colour-success-background);
$dialogue-success-accent-colour: var(--admiralty-colour-success);
$dialogue-success-text-colour: var(--admiralty-colour-primary);

$dialogue-warning-colour: var(--admiralty-colour-warning-background);
$dialogue-warning-accent-colour: var(--admiralty-colour-warning);
$dialogue-warning-text-colour: var(--admiralty-colour-primary);
