@import "dialogue.vars";

.dialogue {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  padding: 30px 18px;
  overflow-wrap: break-word;
  word-wrap: break-word;

  .dialogue-title {
    font-size: $dialogue-title-text-size;
    font-weight: $dialogue-title-text-weight;
    line-height: 30px;
    display: flex;
    align-items: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin-bottom: 12px;

    .dialogue-title-icon {
      margin-right: 12px;
    }
  }

  &.info {
    border-left: 5px solid $dialogue-info-accent-colour;
    background-color: $dialogue-info-colour;
    color: $dialogue-info-text-colour
  }

  &.error {
    border-left: 5px solid $dialogue-error-accent-colour;
    background-color: $dialogue-error-colour;
    color: $dialogue-error-text-colour
  }
  &.success {
    border-left: 5px solid $dialogue-success-accent-colour;
    background-color: $dialogue-success-colour;
    color: $dialogue-success-text-colour
  }
  &.warning {
    border-left: 5px solid $dialogue-warning-accent-colour;
    background-color: $dialogue-warning-colour;
    color: $dialogue-warning-text-colour
  }
}
