@import 'dialogue.vars';

.dialogue {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  padding: 30px 18px;
  overflow-wrap: break-word;
  word-wrap: break-word;

  @include not-desktop {
    padding: 24px 18px;
  }

  .dialogue-title {
    display: flex;
    align-items: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin-bottom: 12px;

    .dialogue-title-icon {
      font-size: $dialogue-title-icon-size;
      color: $dialogue-title-text-colour;
      margin-right: 8px;
      margin-bottom: 4px;
    }

    h2 {
      color: $dialogue-title-text-colour;
      font-size: $dialogue-title-text-size;
      font-weight: $dialogue-title-text-weight;
      line-height: 30px;
      margin: 0;
    }
  }

  &.info {
    border-left: 5px solid $dialogue-info-accent-colour;
    background-color: $dialogue-info-colour;
  }

  &.error {
    border-left: 5px solid $dialogue-error-accent-colour;
    background-color: $dialogue-error-colour;
  }
  &.success {
    border-left: 5px solid $dialogue-success-accent-colour;
    background-color: $dialogue-success-colour;
  }
  &.warning {
    border-left: 5px solid $dialogue-warning-accent-colour;
    background-color: $dialogue-warning-colour;
  }
}
