<div class="text-area-container">
  <label class="form-field-label" [ngClass]="{ disabled: disabled }" [for]="id">{{ label }}</label>
  <textarea
    [ngClass]="{ invalid: !valid && touched, disabled: disabled }"
    [style.maxWidth.px]="width"
    #input
    [id]="id"
    (input)="onChange($event.target.value)"
    (blur)="onTouch()"
    [disabled]="disabled"
    >{{ text }}</textarea
  >
</div>
<div *ngIf="validationMessages" class="text-input-error">
  <p [id]="errorLabelId" *ngIf="!valid && touched && error" class="error-text">
    {{ validationMessages[error] }}
  </p>
</div>
