<h1>Access to design system</h1>
<p class="intro">
    The UKHO Design System is accessible from the Marketing Hub.
</p>

<form style="margin-bottom: 30px;">
<button class="primary icon" formaction="https://marketinghub.admiralty.co.uk/" onMouseOver="this.style.cursor='pointer'">
    <p>Go to the Marketing Hub</p>
    <i class="fa fa-chevron-right"></i>
</button>
</form>

<p>By registering and logging into the Hub you will be able to receive updates on system changes, new patterns, tools and any updated details about their usage.</p> 

<p>Please ensure anyone that you work with in the UK Hydrographic Office using the design system, or any approved partners externally, access the system from the Marketing Hub in the first instance.</p>