@use '../../styles/base/colours';
@use '../../styles/base/icons';
@use '../../styles/base/responsive';

.dialog {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  padding: 30px 18px;


  @include responsive.not-desktop {
    padding: 24px 18px;
  }

  /* info type is default */
  border-left: 5px solid colours.$colour-utility-info;
  background-color: #E0ECF3;

  h3 {

    &::before {
      color: colours.$colour-admiralty-blue;
      @extend .fas;
      content: icons.fa-content(icons.$fa-var-info-circle);
      font-size: 18px;
      margin: 0 10px 0 0;
    }
  }

  &.error {
    border-left: 5px solid colours.$colour-utility-error;
    background-color: #F7E1E1;
    h3 {
      &::before {
        @extend .fas;
        content: icons.fa-content(icons.$fa-var-exclamation);
      }
    }
  }
  &.success {
    border-left: 5px solid colours.$colour-utility-success;
    background-color: #E7F1E5;
    h3 {

      &::before {
        @extend .fas;
        content: icons.fa-content(icons.$fa-var-check);
      }
    }
  }
  &.warning {
    border-left: 5px solid colours.$colour-utility-warning;
    background-color: #F8EDE3;
    h3 {

      &::before {
        @extend .fas;
        content: icons.fa-content(icons.$fa-var-exclamation-triangle);
      }
    }
  }
}
