@import '../../styles/vars/globals';

/**
 * @prop --admiralty-input-font-size: Font size of the input
 * @prop --admiralty-input-font-weight: Font weight of the input
**/

$input-text-size: var(--admiralty-input-font-size, var(--admiralty-font-size-0));
$input-text-weight: var(--admiralty-input-font-weight, var(--admiralty-font-weight-normal));

$input-background-colour: var(--admiralty-background-colour);
$input-border-colour: var(--admiralty-text-colour);
$input-text-colour: var(--admiralty-text-colour);
$input-focus-colour: var(--admiralty-focus-colour) !default;
$input-error-border-colour: var(--admiralty-colour-danger) !default;
$input-disabled-text-colour: var(--admiralty-disabled-colour) !default;
$input-disabled-border-colour: var(--admiralty-disabled-colour) !default;
