@import 'inputs.vars';

.text-input-container {
  display: flex;
  flex-direction: column;

  input {
    background-color: $input-background-colour;
    border-color: $input-border-colour;
    border-width: 2px;
    border-style: solid;
    color: $input-text-colour;
    font-size: $input-text-size;
    line-height: 24px;
    font-weight: $input-text-weight;
    padding: $input-padding;

    &:focus {
      outline-offset: unset;
      outline: 3px solid $input-focus-colour;
      box-shadow: $input-border-colour inset 0 0 0 2px;
    }

    &.invalid {
      border-color: $input-error-border-colour;

      &:focus-visible {
        border-color: unset;
        outline: 3px solid $input-focus-colour;
      }
    }

    &.disabled {
      color: $input-disabled-text-colour;
      border-color: $input-disabled-border-colour;
      background: $input-background-colour;
    }
  }

  admiralty-input-invalid {
    margin-top: $input-invalid-margin-top;
  }
}
