<section class="filters">
  <header class="heading">
    <h2>{{ heading }}</h2>
    <div class="button-wrapper">
      <button type="reset" class="text-link" (click)="onClear()">Clear</button>
    </div>
  </header>
  <ukho-expansion
    *ngFor="let group of groups; let groupIndex = index; trackBy: trackExpansion"
    (change)="onExpansionChange(group)"
    [hideBorder]="true"
    [heading]="group.title"
    [initialExpanded]="group.expanded"
  >
    <nav class="filter-items" [attr.aria-label]="group.title">
      <ukho-checkbox
        *ngFor="let item of group.items; trackBy: trackFilterItem.bind(this, groupIndex)"
        (change)="onCheckboxChange($event, group, item)"
        [checkboxRight]="true"
        [checked]="item.selected"
        [justify]="true"
        >{{ item.title }}</ukho-checkbox
      >
    </nav>
  </ukho-expansion>
  <ukho-button (click)="onApply()">Apply filters</ukho-button>
</section>
