@import '../../styles/vars/globals';

$side-nav-item-text-colour: var(--admiralty-colour-primary);
$side-nav-item-hover-background-colour: var(--admiralty-hover-background-colour);
$side-nav-item-active-background-colour: var(--admiralty-colour-primary);
$side-nav-item-active-text-colour: var(--admiralty-colour-primary-contrast);
$side-nav-item-focus-colour: var(--admiralty-focus-colour) !default;
