@import 'side-nav-item.vars.scss';

a.section {
  cursor: pointer;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 42px;
  max-width: fit-content;
  box-sizing: border-box;
  user-select: none;

  text-align: center;
  text-decoration: none;
  color: $side-nav-item-text-colour;
  font-weight: normal;
  font-size: 16px;

  &:hover {
    background-color: $side-nav-item-hover-background-colour;
  }

  &.navActive {
    background-color: $side-nav-item-active-background-colour;
    color: $side-nav-item-active-text-colour;
  }

  &:focus {
    background-color: $side-nav-item-focus-colour;
    color: $side-nav-item-text-colour;
    box-shadow: none;
    border-top: 3px solid transparent;
    border-bottom: 3px solid $side-nav-item-text-colour;
  }
}
