<img src="assets/images/home.jpg" alt="UKHO Design System" style="width:100%"/>
<%
for (var idx1 = 0; idx1 < folders.length; idx1++) {
    var folder = folders[idx1];
    var folderInfo = public[folder]._data.index;
%>
<h2><%= folderInfo.title %></h2>
<p class="intro"><%= folderInfo.description %></p>
<%- partial('/_partials/sectioncards', { folder }) %>
<%
}
%>

