<div class="page-banner">
    <div class="banner-text">
        <p class="intro">Our design system is made up of principles, tools and guidleines that help us design and build user-centered Admiralty and UKHO products and services.</p>
    </div>
</div>

<%
for (var idx1 = 0; idx1 < folders.length; idx1++) {
    var folder = folders[idx1];
    var folderInfo = public[folder]._data.index;
%>
<h2><%= folderInfo.title %></h2>
<p class="intro"><%= folderInfo.description %></p>
<%- partial('/_partials/sectioncards', { folder }) %>
<%
}
%>

