@use '../../styles/base/colours';
nav.standard {
  display: flex;
  flex-direction: row;
  align-items: center;

  .pagination-anchor {
    width: 50px;
    height: 50px;
    border: 2px solid colours.$colour-dark-blue;
    background: #eeeeee;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .pagination-anchor:nth-of-type(1) {
    margin: 0px 6px 0px 6px;
  }
  .pagination-anchor:nth-of-type(2) {
    margin: 0px 0px 0px 6px;
  }
  .pagination-anchor.disabled {
    opacity: 0.3;
  }
  i {
    text-align: center;
  }
  p {
    padding: 0px 18px 0px 0px;
    margin-bottom: 0px;
  }
}
