$filter-title-text-colour: var(--admiralty-colour-primary);
$filter-title-text-weight: 400;
$filter-title-text-size: 36px;
$filter-title-line-height: 48px;

$filter-focus-colour: var(--admiralty-focus-colour) !default;
