@use '../../scss/vars/colours';
@use '../../scss/base/typography';

.filter-heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  .filter-title {
    @extend h2;
  }

  .button-wrapper {
    position: relative;
    margin-left: 28px;
    /* TODO: If reused, move class to button component */
    button.text-link {
      background-color: unset;
      border: none;
      color: colours.$colour-text;
      padding: 0;
      min-width: unset;
      width: unset;
      height: unset;
      font-size: 16px;
      text-decoration: underline;
      font-weight: unset;
      cursor: pointer;
    }
    button.text-link:hover {
      background-color: unset;
      border: unset;
    }
    button.text-link:focus {
      outline: none;
    }
    button.text-link:focus::after {
      content: '';
      position: absolute;
      top: -3px;
      bottom: 0;
      right: -3px;
      left: -3px;
      box-shadow: 0 0 0 3px colours.$colour-utility-focus;
    }
  }
}
