<h1>Colours</h1>
<p class="intro">
    Use the colours below for digital products and services.
    For consistency, stick to using the primary and supporting colour palettes.
</p>

<ol>
    <li><a href="#anchor1">Primary palette</a></li>
    <li><a href="#anchor2">Supporting palette</a></li>
    <li><a href="#anchor3">Secondary palette</a></li>
    <li><a href="#anchor4">Utility colours</a></li>
</ol>

<h3 id="anchor1">1. Primary palette</h3>
<p>
    ADMIRALTY Navy Blue is the colour that’s used across all of our product and marketing materials.
    It helps to deliver a recognisable and consistent look and feel for the ADMIRALTY brand.
</p>
<%-
partial('../../_partials/swatches', { swatches: [
    { name: 'ADMIRALTY Navy Blue', class: 'admiralty', colour: '#09315B' },
    { name: 'Black', class: 'black', colour: '#000000' },
    { name: 'White', class: 'white', colour: '#FFFFFF' }
]});
%>

<h3 id="anchor2">2. Supporting palette</h3>
<p>
    Use the supporting palette when building new components and patterns.
</p>
<%-
partial('../../_partials/swatches', { swatches: [
    { name: 'Text colour', class: 'text', colour: '#333333' },
    { name: 'Line / Stroke', class: 'line', colour: '#D0D0D0' },
    { name: 'BG Light Grey', class: 'background', colour: '#EEEEEE' },
    { name: 'Table row', class: 'table-row', colour: '#EEF3F4' }
]});
%>

<h3 id="anchor3">3. Secondary palette</h3>
<p>
    Use the secondary palette to enhance the primary palette when it doesn't offer enough variance.
</p>
<%-
partial('../../_partials/swatches', { swatches: [
    { name: 'Teal', class: 'teal', colour: '#007e97' },
    { name: 'Bright Blue', class: 'bright-blue', colour: '#65c4db' },
    { name: 'Green', class: 'green', colour: '#989b00' }
]});
%>

<h3 id="anchor4">4. Utility colours</h3>
<p>
    Use utility colours to convey important information.
</p>
<%-
partial('../../_partials/swatches', { swatches: [
        { name: 'Warning', class: 'warn', colour: '#EF8123' },
        { name: 'Error', class: 'error', colour: '#E20D0D' },
        { name: 'Success', class: 'success', colour: '#4AAB37' },
        { name: 'Information', class: 'info', colour: '#0177C1' }
    ]});
%>
