<h1>Icons</h1>

<p class="intro">
    Icons can be used to help users to understand an action.
</p>

<ol>
    <li><a href="#anchor1">System icons</a></li>
    <li><a href="#anchor2">Social icons</a></li>
</ol>

<p></p>

<h3 id="anchor1">1. System icons</h3>

<p>We use the Font Awesome icon font for our icons. This is a list of the most popular.</p>

<table class="icon-table">
<thead>
    <tr>
        <th>Icon</td>
        <th>Label</td>
        <th>CSS class name</td>
    </tr>
</thead>
<tr>
    <td><span class="fa fa-bars"></span></td>
    <td>Burger menu</td>
    <td>fa-bars</td>
</tr>
<tr>
    <td><span class="fa fa-phone"></span></td>
    <td>Phone</td>
    <td>fa-phone</td>
</tr>
<tr>
    <td><span class="fa fa-chevron-left"></span></td>
    <td>Chevron left</td>
    <td>fa-chevron-left</td>
</tr>
<tr>
    <td><span class="fa fa-chevron-right"></span></td>
    <td>Chevron right</td>
    <td>fa-chevron-right</td>
</tr>
<tr>
    <td><span class="fa fa-chevron-down"></span></td>
    <td>Chevron down</td>
    <td>fa-chevron-down</td>
</tr>
<tr>
    <td><span class="fa fa-chevron-up"></span></td>
    <td>Chevron up</td>
    <td>fa-chevron-up</td>
</tr>
<tr>
    <td><span class="fa fa-square-full"></span></td>
    <td>Square bullet</td>
    <td>fa-square-full</td>
</tr>
<tr>
    <td><span class="fa fa-circle"></span></td>
    <td>Circle large</td>
    <td>fa-circle</td>
</tr>
<tr>
    <td><span class="fa fa-times"></span></td>
    <td>Close</td>
    <td>fa-times</td>
</tr>
</table>