<h1>Images</h1>

<p class="intro">
    Use images for informative purposes, not simply for decoration.
</p>

<ol>
    <li><a href="#anchor1">Header image</a></li>
</ol>

<p></p>

<h3 id="anchor1">1. Header Image</h3>

<p>
    Certain pages, particularly home pages and landing pages, have space for a header image.
    Use imagery that is applicable to the rest of the content of the page or product.
</p>

<table class="images-table">
    <thead>
        <tr>
            <th>Screen size</td>
            <th>Header dimensions (scaled to width)</td>
        </tr>
    </thead>
    <tr>
        <td>Over 1024px (desktop)</td>
        <td>1240x430px</td>
    </tr>
    <tr>
        <td>769px > 1024px (landscape tablet)</td>
        <td>1024x355px</td>
    </tr>
    <tr>
        <td>601px > 768px</td>
        <td>768x422px</td>
    </tr>
    <tr>
        <td>415px > 600px</td>
        <td>600x329px</td>
    </tr>
    <tr>
        <td>376px > 414px</td>
        <td>414x261px</td>
    </tr>
    <tr>
        <td>Up to 375px</td>
        <td>375x236px</td>
    </tr>
</table>

<div class="tab-set">
    <%- partial('../../_partials/tabs', { id: 'primary-action', noAngular: true }) %>
    <section>
        <div class="tab1 component-example">
            <img class="header-image" src="/assets/images/beach-image-example-compressor.jpg" />
        </div>
        <div class="tab2 component-html">
            HTML goes here.
        </div>
    </section>
</div>