<h1>Styles</h1>
<p class="intro">
    Styles form the basis of our products and services.
    They include guidance on how to use our logos and brand colours, as well as
    information on typography and functional elements.
</p>

<%- partial("../../_partials/pagecards") %>
