<h1>Logos</h1>

<p class="intro">
    Use the appropriate logos below on digital products and services,
    paying attention to how they should be used.
</p>

<ol>
    <li><a href="#anchor1">ADMIRALTY wordmark</a></li>
    <li><a href="#anchor2">UKHO logo</a></li>
</ol>

<p></p>

<h3 id="anchor1">1. Admiralty wordmark</h3>

<p>The ADMIRALTY wordmark should be used on all consumer-facing digital products. It should only be used once, in the navigation.</p>

<div class="logos-row">
    <img src="/assets/images/Admiralty stacked logo.svg" />
    <img src="/assets/images/Admiralty stacked logo.svg" />
</div>
<div class="logos-row">
    <img src="/assets/images/Admiralty stacked logo.svg" />
    <img src="/assets/images/Admiralty stacked logo.svg" />
</div>


<h3 id="anchor2">2. UKHO logo</h3>

<p>Use this logo for services related to the UK Hydrographic office. This logo also features in the footer.</p>

<h6>Stacked</h6>
<div class="logos-stacked">
    <img src="/assets/images/Admiralty stacked logo.svg" />
    <img src="/assets/images/Admiralty stacked logo.svg" />
</div>

<h6>Linear</h6>
<div class="logos-linear">
    <img src="/assets/images/Admiralty stacked logo.svg" />
    <img src="/assets/images/Admiralty stacked logo.svg" />
</div>
