<h1>Typography</h1>

<p style="intro">
    ITC Johnston is our core font. It is used for all printed marketing and product materials and for online display copy.
</p>

<ol>
    <li><a href="#anchor1">Font</a></li>
    <li><a href="#anchor2">Typographic scale</a></li>
</ol>

<h3 id="anchor1">1. Font</h3>

<p>
    We use ITC Johnston in two weights: light and medium.
</p>

<div class="tab-set">
    <%- partial('../../_partials/tabs', { noAngular: true }) %>
    <section>
        <div class="tab1 component-example typography-example">
            <span>Aa</span>
            <span>Aa</span>
            <span>Johnston ITC</span>
            <span>Light</span>
            <span>Medium</span>
        </div>
        <div class="tab2 component-html">
            title.
        </div>
    </section>
</div>

<h3 id="anchor1">2. Typographic scale</h3>

<p>
    Use the following scales for typography across different screen sizes. All spacing is based on our 6px baseline.
</p>

<h6>Desktop (over 1024px)</h6>

<table>
    <thead>
    <tr>
        <th> </th><th>Font weight</th><th>Font size</th><th>Line height</th><th>Margins (top is always 0px)</th>
    </tr>
    </thead>
    <tr><td>Heading 1</td><td>Medium</td><td>48px</td><td>60px</td><td>Bottom 30px</td></tr>
    <tr><td>Heading 2</td><td>Medium</td><td>36px</td><td>48px</td><td>Bottom 18px</td></tr>
    <tr><td>Heading 3, 4, 5</td><td>Medium</td><td>21px</td><td>30px</td><td>Bottom 12px</td></tr>
    <tr><td>Heading 6</td><td>Medium</td><td>18px</td><td>24px</td><td>Bottom 12px</td></tr>
    <tr><td>Intro text</td><td>Light</td><td>28px</td><td>36px</td><td>Bottom 30px</td></tr>
    <tr><td>Paragraph</td><td>Light</td><td>18px</td><td>24px</td><td>Bottom 30px</td></tr>
    <tr><td>Small text</td><td>Light</td><td>16px</td><td>24px</td><td>n/a</td></tr>
    <tr><td>Navigation link</td><td>Medium</td><td>18px</td><td>24px</td><td>n/a</td></tr>
    <tr><td>Text link</td><td>Medium</td><td>18px</td><td>24px</td><td>n/a</td></tr>
    <tr><td>Text link small</td><td>Light</td><td>16px</td><td>24px</td><td>n/a</td></tr>
    <tr><td>Quote</td><td>Light</td><td>18px</td><td>30px</td><td>18px</td></tr>
    <tr><td>Bulleted list</td><td>Light</td><td>18px</td><td>36px</td><td>30px</td></tr>
    <tr><td>Numbered list</td><td>Light</td><td>18px</td><td>36px</td><td>30px</td></tr>
</table>

<h6>Tablet and mobile (up to 1024px)</h6>

<table>
    <thead>
    <tr>
        <th> </th><th>Font weight</th><th>Font size</th><th>Line height</th><th>Margins (top is always 0px)</th>
    </tr>
    </thead>
    <tr><td>Heading 1</td><td>Medium</td><td>46px</td><td>54px</td><td>Bottom 30px</td></tr>
    <tr><td>Heading 2</td><td>Medium</td><td>34px</td><td>42px</td><td>Bottom 18px</td></tr>
    <tr><td>Heading 3, 4, 5</td><td>Medium</td><td>20px</td><td>30px</td><td>Bottom 12px</td></tr>
    <tr><td>Heading 6</td><td>Medium</td><td>16px</td><td>24px</td><td>Bottom 12px</td></tr>
    <tr><td>Intro text</td><td>Light</td><td>26px</td><td>36px</td><td>Bottom 30px</td></tr>
    <tr><td>Paragraph</td><td>Light</td><td>16px</td><td>24px</td><td>Bottom 30px</td></tr>
    <tr><td>Small text</td><td>Light</td><td>14px</td><td>22px</td><td>n/a</td></tr>
    <tr><td>Navigation link</td><td>Medium</td><td>16px</td><td>24px</td><td>n/a</td></tr>
    <tr><td>Text link</td><td>Medium</td><td>16px</td><td>24px</td><td>n/a</td></tr>
    <tr><td>Text link small</td><td>Light</td><td>14px</td><td>22px</td><td>n/a</td></tr>
    <tr><td>Quote</td><td>Light</td><td>16px</td><td>24px</td><td>18px</td></tr>
    <tr><td>Bulleted list</td><td>Light</td><td>16px</td><td>30px</td><td>30px</td></tr>
    <tr><td>Numbered list</td><td>Light</td><td>16px</td><td>30px</td><td>30px</td></tr>
</table>

<div class="tab-set">
    <%- partial('../../_partials/tabs', { noAngular: true, id: 'example2' }) %>
    <section>
        <div class="tab1 component-example typography-example2">

            <section>
                <h6>Heading 1</h6>
                <h1>The quick brown fox jumps over the lazy dog</h1>
            </section>

            <section>
                <h6>Heading 2</h6>
                <h2>The quick brown fox jumps over the lazy dog</h2>
            </section>

            <section>
                <h6>Heading 3, 4, 5</h6>
                <h3>The quick brown fox jumps over the lazy dog</h3>
            </section>

            <section>
                <h6>Heading 6</h6>
                <h6>The quick brown fox jumps over the lazy dog</h6>
            </section>

            <section>
                <h6>Intro text</h6>
                <p class="intro">
                    The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.
                    The quick brown fox jumps over the lazy dog.
                </p>
            </section>

            <section>
                <h6>Paragraph</h6>
                <p>
                    The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.
                    The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.
                    The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.
                    The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.
                </p>
            </section>

            <section>
                <h6>Small</h6>
                <p class="small">
                    The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.
                    The quick brown fox jumps over the lazy dog.
                </p>
            </section>

            <section>
                <h6>Navigation link</h6>
                <nav><a href="#">The quick brown fox jumps over the lazy dog.</a></nav>
            </section>

            <section>
                <h6>Text link medium</h6>
                <a href="#">The quick brown fox jumps over the lazy dog.</a>
            </section>

            <section>
                <h6>Text link small</h6>
                <a href="#" class="small">The quick brown fox jumps over the lazy dog.</a>
            </section>

            <section>
                <h6>Pullout quote</h6>
                <blockquote>
                    The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.
                    The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.
                    The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.
                </blockquote>
            </section>

            <section>
                <h6>Bulleted list</h6>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing.</li>
                    <li>Dolore magna aliqua. Ut enim ad minim veniam.</li>
                    <li>Commodo consequat duis aute irure dolor in.</li>
                    <li>Labore et dolore magna aliqua occaecat.</li>
                </ul>
            </section>

            <section>
                <h6>Numbered list</h6>
                <ol>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing.</li>
                    <li>Dolore magna aliqua. Ut enim ad minim veniam.</li>
                    <li>Commodo consequat duis aute irure dolor in.</li>
                    <li>Labore et dolore magna aliqua occaecat.</li>
                </ol>
            </section>

        </div>
        <div class="tab2 component-html">
            title.
        </div>
    </section>
</div>

