@import '../../styles/vars/globals';

/**
 * @prop --admiralty-text-link-font-weight: Font weight for text link
 * @prop --admiralty-text-link-is-main-font-weight: Font weight for text link that is a main link
 * @prop --admiralty-text-link-active-font-weight: Font weight for text link active

 * @prop --admiralty-side-bar-item-font-weight: Font weight for the side bar item
 * @prop --admiralty-side-bar-item-font-size: Font size for the side bar item
 * @prop --admiralty-side-bar-item-icon-font-size: Font size for the side bar item icon
**/

$text-side-bar-item-text-colour: var(--admiralty-text-colour);
$side-bar-item-hover-text-colour: var(--admiralty-colour-primary);
$side-bar-item-hover-background-colour: var(--admiralty-table-row-colour);
$side-bar-item-active-text-colour: var(--admiralty-colour-primary);
$side-bar-item-focus-colour: var(--admiralty-focus-colour) !default;

$expandable-side-bar-item-font-weight: var(--admiralty-side-bar-item-font-weight ,var(--admiralty-font-weight-medium)); // 500;
$expandable-side-bar-item-font-size: var(--admiralty-side-bar-item-font-size ,var(--admiralty-font-size-0)); // 16px;
$expandable-side-bar-item-icon-font-size: var(--admiralty-side-bar-item-icon-font-size ,var(--admiralty-font-size-4)); // 32px;

$text-link-font-weight: var(--admiralty-text-link-font-weight, var(--admiralty-font-weight-normal));
$text-link-is-main-font-weight: var(--admiralty-text-link-is-main-font-weight, var(--admiralty-font-weight-medium));
$text-link-font-colour: var(--admiralty-colour-light-contrast);
$text-link-background-hover-colour: var(--admiralty-hover-background-colour);

$text-link-active-background-colour: var(--admiralty-colour-primary);
$text-link-active-text-colour: var(--admiralty-colour-primary-contrast);
$text-link-active-font-weight: var(--admiralty-text-link-active-font-weight, var(--admiralty-font-weight-medium));

$text-link-focus-background-colour: var(--admiralty-focus-colour);
$text-link-focus-text-colour: var(--admiralty-colour-primary);
