@use '../../scss/vars/colours' as colours;
@use '../../scss/base/responsive';
@use '../../scss/vars/typography';

@mixin active {
  box-shadow: inset 0 -5px colours.$colour-admiralty-blue;
}

.menu-item {
  cursor: pointer;

  a {
    font-size: typography.$font-size-normal;
    font-weight: typography.$font-weight-medium;
    text-decoration: none;
    outline-offset: 3px;
    color: colours.$colour-admiralty-blue;
  }
}

@include responsive.desktop-only {
  .menu-item {
    display: flex;
    flex: 0;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    line-height: 1.33em;
    margin-bottom: 0;
    min-width: 4em;
    max-width: 11.1em;
    padding: 0 1.65em;
    position: relative;
    text-align: center;

    &:hover {
      @include active;
      background-color: colours.$colour-nav-bg-hover;
    }

    &.active {
      @include active;
    }
  }
}

@include responsive.not-desktop {
  .menu-item {
    display: block;
    box-sizing: border-box;

    background-color: unset;
    text-align: unset;
    text-decoration: unset;
    padding: 12px;

    a {
      font-weight: typography.$font-weight-medium;
      &:focus {
        box-shadow:
          0 -4px colours.$colour-utility-focus,
          0 4px colours.$colour-text;
      }
    }

    &:hover {
      background-color: colours.$colour-nav-bg-hover;
    }
  }
}
