@import "../../styles/vars/globals";

$header-menu-link-active-colour : var(--admiralty-colour-primary) !default;
$header-menu-link-text-size: 18px !default;
$header-menu-link-font-weight: normal !default;
$header-menu-link-text-colour: var(--admiralty-colour-primary) !default;
$header-menu-link-hover-background-colour: #f0f0f0 !default;


