<h1>Example one</h1>

<p class="intro">
    This pattern shows how you use a range of components together that may be useful for creating a user interface to display patterns.
</p>

<section class="card">
    <div class="tab1 component-example">
        <header class="example1-header">
            <nav id="top-menu">
                <span class="example1-nav-text">Site name</span>
                <div class="header-links-wrap">
                    <span class="example1-nav-text">Link one</span>
                    <span class="example1-nav-text">Link two</span>
                    <span class="example1-nav-text">Link three</span>
                </div>
            </nav>
        </header>
    </div>
</section>