<h1>Patterns</h1>
<p class="intro">
    Use patterns to create solutions for common tasks such as logging in, completing forms or adding contact details.
</p>

<%- partial("../../_partials/pagecards") %>
