<h1>Styles</h1>
<p class="intro">
    *** <%= title %> ***
    Styles form the basis of our products and services.
    They include guidance on how to use our logos and brand colours, as well as
    information on typography and functional elements.
</p>
<!--    <div class="row">-->
<!--      <div class="col col-lg-3 col-sm-3">Left menu</div>-->
<!--      <div class="col col-lg-9 col-sm-9">-->
<!--        <p>Main content</p>-->
<!--        <p>Main content</p>-->
<!--        <p>Main content</p>-->
<!--        <p>Main content</p>-->
<!--        <p>Main content</p>-->
<!--        <p>Main content</p>-->
<!--        <p>Main content</p>-->
<!--        <p>Main content</p>-->
<!--        <p>Main content</p>-->
<!--        <p>Main content</p>-->
<!--      </div>-->
<!--    </div>-->
