<h1>User login</h1>

<p class="intro">
    Use this pattern to provide users with a consistent approach to logging in to their account.
</p>

<section class="card">
    <div class="tab1 component-example example1-tab">
        <section class="card">
            <h6>Log in to your account</h6>
            <div>
                <div class="text-input-wrap">
                    <input id="name-input" type="text" class="form-text-input" />
                    <div id="input-label" class="input-wrap">
                        <label for="name-input">Username</label>
                    </div>
                </div>
                <div class="text-input-wrap">
                    <input id="name-input" type="password" class="form-text-input" />
                    <div id="input-label" class="input-wrap">
                        <label for="name-input">Password</label>
                    </div>
                </div>
                <button>
                    <p>Log in</p>
                </button>                    
            </div>
        </section>
    </div>
</section>