@import "../../styles/vars/globals";

/**
 * @prop --admiralty-table-header-cell-font-size: Font size for the table header cell
 * @prop --admiralty-table-header-cell-font-weight: Font weight for the table header cell
**/

$table-header-cell-text-size: var(--admiralty-table-header-cell-font-size, var(--admiralty-font-size-0));
$table-header-cell-text-weight: var(--admiralty-table-header-cell-font-weight, var(--admiralty-font-weight-medium));

$table-header-cell-text-colour: var(--admiralty-colour-primary);
$table-header-cell-border-colour: var(--admiralty-colour-primary);
