@import 'table-header-cell.vars';

:host {
  display: table-cell;
  color: $table-header-cell-text-colour;
  font-size: $table-header-cell-text-size;
  line-height: $table-header-cell-line-height;
  padding: 6px 20px;
  text-align: left;
  font-weight: $table-header-cell-text-weight;
  border-bottom: 5px solid $table-header-cell-border-colour;
}
