@import "../../styles/vars/globals";

$table-header-cell-text-colour: var(--admiralty-colour-primary);
$table-header-cell-text-weight: 500;
$table-header-cell-border-colour: var(--admiralty-colour-light);
