<h1>Logos</h1>

<p class="intro">
    Use the appropriate logos below on digital products and services,
    paying attention to how they should be used.
</p>

<ol>
    <li><a href="#anchor1">ADMIRALTY wordmark</a></li>
    <li><a href="#anchor2">UKHO logo</a></li>
</ol>

<h3 id="anchor1">1. Admiralty wordmark</h3>

<p>The ADMIRALTY wordmark should be used on all consumer-facing digital products. It should only be used once, in the navigation.</p>
<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 logo-container">
            <img class="logo-img admiralty-stacked" src="/images/Admiralty stacked logo.svg" />
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 logo-container">
            <img style="background-color: #09315B;" class="logo-img admiralty-stacked" src="/images/Admiralty_white_logo.svg" />
        </div>


</div>
</div>

<h3 id="anchor2">2. UKHO logo</h3>

<p>Use this logo for services related to the UK Hydrographic office. This logo also features in the footer.</p>

<h6>Stacked</h6>
<img class="logo-img ukho-stacked" src="/images/UKHO stacked logo.svg" />

<h6>Linear</h6>
<img class="logo-img ukho-linear" src="/images/UKHO linear logo.svg" />

<h3 id="anchor3">3. Product logos</h3>

<p>Use product logos for the relevant ADMIRALTY digital product.</p>
<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 logo-container">
            <img class="product-logo-img" src="/images/Digital List of Lights.svg" />
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 logo-container">
            <img class="product-logo-img" src="/images/Digital Publications.svg" />
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 logo-container">
            <img class="product-logo-img" src="/images/Digital Radio Signals.svg" />
        </div>

        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 logo-container">
            <img class="product-logo-img" src="/images/e-nautical publications.svg" />
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 logo-container">
            <img class="product-logo-img" src="/images/Passage Planner.svg" />
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 logo-container">
            <img class="product-logo-img" src="/images/Raster Chart Service.svg" />
        </div>

        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 logo-container">
            <img class="product-logo-img" src="/images/Total Tide.svg" />
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 logo-container">
            <img class="product-logo-img" src="/images/Vector chart service.svg" />
        </div>
    
    
    </div>

    <div class="mdc-layout-grid__inner" style="background-color: #09315B;">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 logo-container">
                <img class="product-logo-img" src="/images/Digital List of Lights White.svg" />
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 logo-container">
                <img class="product-logo-img" src="/images/Digital Publications White.svg" />
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 logo-container">
                <img class="product-logo-img" src="/images/Digital Radio Signals White.svg" />
            </div>
    
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 logo-container">
                <img class="product-logo-img" src="/images/e-nautical publications White.svg" />
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 logo-container">
                <img class="product-logo-img" src="/images/Passage Planner White.svg" />
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 logo-container">
                <img class="product-logo-img" src="/images/Raster Chart Service White.svg" />
            </div>
    
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 logo-container">
                <img class="product-logo-img" src="/images/Total Tide White.svg" />
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 logo-container">
                <img class="product-logo-img" src="/images/Vector chart service White.svg" />
            </div>
        
        
        </div>

</div>
