
<ul class="breadcrumbs">
    <li><a href="/">Design System</a></li>
    <%
        if (typeof url !== 'undefined' && url) {
            var scope = public;
            var slugs = url.split('/');
            for (var slug of slugs) {
                if (!slug || !scope) break;
                var newScope = scope[slug];
                var page = newScope ? newScope._data.index : scope._data[slug];
                if (!page) console.error('Breadcrumbs partial: no page data for ' + JSON.stringify({ slug, url }));
    %>
    <li><a href="/<%= page.url %>"><%= page.title %></a></li>
    <%
                scope = newScope;
            }
        }
    %>
</ul>
