<section>
    <div class="tab1 component-example">
        <div class="text-input-wrap validated">
            <input id="name-input3" type="text" class="form-text-input" />
            <div id="input-label3" class="input-wrap">
                <label for="name-input">Valid field</label>
            </div>
            <span class="icon validated-icon fa fa-check"></span>
        </div>
    </div>
    <div class="tab2 component-html">
        HTML injected here
    </div>
    <div class="tab3 component-angular">
        <h5>Angular example usage:</h5>
        <pre>
            <code class="language-html">
&ltapp-textinput
[isValid]="true"
[inputText]="inputText"
[validation]="inputFormControl"
[invalidMessage]="'Email is invalid'"
>
&lt/app-textinput>
            </code>
        </pre>
    </div>
</section>
