<%
var page = typeof page !== 'undefined' && page || '/popup/popup.html';
var linkText = typeof linkText !== 'undefined' && linkText || 'Open in a new window';
var noContentInjection = (typeof noContentInjection !== 'undefined' && noContentInjection) || 'false';
var injectContentFrom = (typeof injectContentFrom !== 'undefined' && injectContentFrom) || 'parent';
%>

<div class="new-window-link-container">
    <a target="_blank" href="<%= page %>" data-no-content-injection="<%= noContentInjection %>" data-inject-content-from="<%= injectContentFrom %>"><%= linkText %></a>
</div>
