<%
var cards = [];
if (typeof url !== 'undefined' && url) {
    var scope = public;
    var slugs = url.split('/');
    for (var slug of slugs) {
        if (!slug || !scope) break;
        scope = scope[slug];
        if (!scope) console.error('Subsection-cards partial: scope not found ' + JSON.stringify({ slug, public }));
    }
    scope = scope._data;
    for (var page in scope) {
        if (!scope.hasOwnProperty(page) || page === 'index' || page === 'meta') continue;
        var pageData = scope[page];
        if (!pageData) console.error('Subsection-cards partial: page data not found ' + JSON.stringify({ page, scope }));
        cards.push({
            name: page,
            title: pageData.title,
            order: pageData.order || 99,
            url: '/' + (pageData.url || (subsectionHref + '/' + page)) + '.html',
            description: pageData.description
        });
        cards.sort(function(a, b) {
            return a.order - b.order;
        });
    }
}
%>
<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
        <%
        for (var idx = 0; idx < cards.length; idx++) {
            var card = cards[idx];
        %>
        <section class="card mdc-layout-grid__cell">
            <h6><%= card.title %></h6>
            <div>
                <p><%= card.description %></p>
                <a href="<%= card.url %>">View <%= card.title.toLowerCase() %></a>
            </div>
        </section>
        <%
        }
        %>
    </div>
</div>
