<%
var menuItems = [];
var slugs = url.split('/');
if (slugs.length > 0) {

    var folder = slugs[0];
    var section = public[folder];
    var sectionIndex = section._data.index;
    var sectionTitle = sectionIndex.title;
    var sectionMeta = section._data.meta;
    var sectionHref = '/' + section._data.index.url;



    var sectionName = slugs[0];
    var subsectionName = slugs.length > 1 ? slugs[1] : '';
    var sectionFolders = public[sectionName]._data.meta.folders;

    for (var idx1 = 0; idx1 < sectionFolders.length; idx1++) {
        var 
    }

}

var cards = [];
if (typeof url !== 'undefined' && url) {
    var scope = public;
    var slugs = url.split('/');
    for (var slug of slugs) {
        if (!slug || !scope) break;
        scope = scope[slug];
        if (!scope) console.error('Subsection-cards partial: scope not found ' + JSON.stringify({ slug, public }));
    }
    scope = scope._data;
    for (var page in scope) {
        if (!scope.hasOwnProperty(page) || page === 'index' || page === 'meta') continue;
        var pageData = scope[page];
        if (!pageData) console.error('Subsection-cards partial: page data not found ' + JSON.stringify({ page, scope }));
        cards.push({
            name: page,
            title: pageData.title,
            order: pageData.order || 99,
            url: '/' + (pageData.url || (subsectionHref + '/' + page)) + '.html',
            description: pageData.description
        });
    }
}
%>

<nav id="side-menu" aria-label="Submenu">
    <%
    for (var idx2 = 0; idx2 < sectionMeta.folders.length; idx2++) {
        var subfolder = sectionMeta.folders[idx2];
        var subsection = section[subfolder];
        var subsectionIndex = subsection._data.index;
        if (!subsectionIndex) {
            console.error('Menu partial: No index page definition for subsection ' + JSON.stringify(subsection));
        }
        var subsectionTitle = subsectionIndex.title;
        var subsectionHref = '/' + subsectionIndex.url;
    %>
    <section>
        <h2><a href="<%= subsectionHref %>"><%= subsectionTitle %></a></h2>
        <%
            var pages = [];
            for (var page in subsection._data) {
                if (!subsection._data.hasOwnProperty(page) || page === 'index' || page === 'meta') continue;
                var pageData = subsection._data[page];
                pages.push({
                    name: page,
                    title: pageData.title,
                    order: pageData.order || 99,
                    url: '/' + (pageData.url || (subsectionHref + '/' + page)) + '.html'
                });
            }
        if (pages.length > 0) {
            pages.sort(function(a, b) {
                return a.order - b.order;
            });
        %>
        <ul>
            <%
            for (var idx3 = 0; idx3 < pages.length; idx3++) {
                var menuItem = pages[idx3];
            %>
            <li>
                <a href="<%= menuItem.url %>"><%= menuItem.title %></a>
            </li>
            <%
            }
            %>
        </ul>
        <%
        }
        %>
    </section>
    <%
    }
    %>
</nav>

