<input class="tab1selector" type="radio" id="tabsetid-tab1" name="tabsetid" checked="checked" />
<input class="tab2selector" type="radio" id="tabsetid-tab2" name="tabsetid" />
<input class="tab3selector" type="radio" id="tabsetid-tab3" name="tabsetid" />
<nav>
    <ul>
        <li class="tab1">
            <label for="tabsetid-tab1">Visual example</label>
        </li>
        <li class="tab2">
            <label for="tabsetid-tab2">HTML</label>
        </li>
        <li class="tab3">
            <label for="tabsetid-tab3">Angular</label>
        </li>
    </ul>
</nav>
