<section>
    <div class="tab1 component-example">
        <p class="form-label">Tell us about yourself</p>
        <div class="text-area-wrap">
            <textarea placeholder="Type here"></textarea>
            <span class="resizer-arrow-wrap">
                <span class="resizer-arrow"></span>
            </span>
        </div>
    </div>
    <div class="tab2 component-html">
        HTML injected here
    </div>
    <div class="tab3 component-angular">
            <h5>Angular example usage:</h5>
            <code class="language-html">
                &ltapp-textarea [textareaText]="textareaText">&lt/app-textarea>
            </code>
            <br />
            <br />
            <h5>Angular component:</h5>
            <pre>
                <code class="language-javascript">
import { Component, Input } from '@angular/core';

@Component({
    selector: 'app-textarea',
    templateUrl: './textarea.component.html',
    styleUrls: ['./textarea.component.scss']
})
export class TextareaComponent {

    constructor() { }

    @Input() textareaText: { value: string };
}
                </code>
            </pre>
            <br />
            <br />
            <h5>Angular template:</h5>
            <pre>
                <code class="language-html">
&ltdiv class="mat-textarea-wrapper">
    &ltmat-form-field appearance="outline">
        &lttextarea
        matInput
        placeholder="Textarea"
        [(ngModel)]="textareaText.value"
        >&lt/textarea>
        &ltspan class="resizer-arrow-wrap">
        &ltspan class="resizer-arrow">&lt/span>
        &lt/span>
    &lt/mat-form-field>
&lt/div>
                </code>
            </pre>
    </div>
</section>
