@import 'text-side-bar.vars';

:host {
  border-right: 1px solid $side-bar-right-border-colour;
}

@media(prefers-color-scheme: dark) { // Changes browser scrollbar to dark
  :host {
    color-scheme: dark;
  }
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: $side-bar-background-colour;
}

ul {
  display: flex;
  flex-direction: column;
}

.logo {
  height: 50px;
  margin: 24px 0 20px;
}
