@import './paginator.vars';

nav.standard {
  display: flex;
  flex-direction: row;
  align-items: center;

  admiralty-button {
    margin: $paginator-button-margin;
  }

  p {
    padding: $paginator-paragraph-padding;
    margin-bottom: $paginator-paragraph-margin-bottom;
  }
}
