<section class="readmore {{ initialExpanded ? 'expanded' : '' }}">
  <h3>{{ heading }}</h3>
  <div>
    <ng-content select=".readmore-intro"></ng-content>
  </div>
  <div
    [id]="contentId"
    [attr.aria-labelledby]="headerId"
    [hidden]="!initialExpanded"
  >
    <ng-content></ng-content>
  </div>
  <ukho-button
    variant="text"
    [id]="headerId"
    [attr.aria-expanded]="initialExpanded"
    [attr.aria-controls]="contentId"
    (click)="onToggle()"
  >
    <div>Read {{ initialExpanded ? "less" : "more"}}...</div>
  </ukho-button>
</section>
