@import 'phase-banner.vars';

.phase-banner {
  display: block;
  line-height: 40px;
  padding: $phase-banner-padding;

  @include desktop-only {
    padding: $phase-banner-desktop-padding;
  }

  strong {
    border: 2px solid;
    font-weight: $phase-banner-font-weight;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $phase-banner-text-colour;
    padding: $phase-banner-strong-padding;
    margin-right: $phase-banner-strong-margin;
  }
}
