@import 'phase-banner.vars';

.phase-banner {
  display: block;
  line-height: 40px;
  padding: 0 18px;
  @include desktop-only {
    padding: 0 20px;
  }

  strong {
    border: 2px solid;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $phase-banner-text-colour;
    padding: 6px 8px 3px;
    margin-right: 10px;
  }
}
