@use '../../styles/vars/colours';

/**
 * @prop --admiralty-pill-background-colour: Background colour of the pill
 * @prop --admiralty-pill-item-text-colour: Item text colour of the pill
 * @prop --admiralty-pill-item-number-colour: Colour for the pill's item number
 * @prop --admiralty-pill-item-number-background-colour: Background colour for the pill's item number
 * @prop --admiralty-pill-item-selected-icon: Colour of the icon for the pill

 * @prop --admiralty-secondary-pill-background-colour: Background colour of the secondary pill
 * @prop --admiralty-secondary-pill-border-colour: border colour of the secondary pill
 * @prop --admiralty-secondary-pill-item-text-colour: Item text colour of the secondary pill
 * @prop --admiralty-secondary-pill-item-number-colour: Colour for the secondary pill's item number
 * @prop --admiralty-secondary-pill-item-number-background-colour: Background colour for the secondary pill's item number
 * @prop --admiralty-secondary-pill-item-selected-icon: Colour of the icon for the secondary pill

 * @prop --admiralty-tertiary-pill-background-colour: Background colour of the tertiary pill
 * @prop --admiralty-tertiary-pill-item-text-colour: Item text colour of the tertiary pill
 * @prop --admiralty-tertiary-pill-item-number-colour: Colour for the tertiary pill's item number
 * @prop --admiralty-tertiary-pill-item-number-background-colour: Background colour for the tertiary pill's item number
 * @prop --admiralty-tertiary-pill-item-selected-icon: Colour of the icon for the tertiary pill
**/

$pill-background-colour: var(--admiralty-pill-background-colour, #{colours.$primary});
$pill-item-text-colour: var(--admiralty-pill-item-text-colour, #{colours.$light-text});
$pill-item-number-background-colour: var(--admiralty-pill-item-number-background-colour, #{colours.$light-text});
$pill-item-number-colour: var(--admiralty-pill-item-number-colour, #{colours.$primary});
$pill-item-selected-icon-colour: var(--admiralty-pill-item-number-colour, #{colours.$light-text});

$secondary-pill-background-colour: var(--admiralty-secondary-pill-background-colour, #{colours.$light-text});
$secondary-pill-border-colour: var(--admiralty-secondary-pill-border-colour, #{colours.$primary});
$secondary-pill-item-text-colour: var(--admiralty-secondary-pill-item-text-colour, #{colours.$primary});
$secondary-pill-item-number-background-colour: var(--admiralty-secondary-pill-item-number-background-colour, #{colours.$primary});
$secondary-pill-item-number-colour: var(--admiralty-secondary-pill-item-number-colour, #{colours.$light-text});
$secondary-pill-item-selected-icon-colour: var(--admiralty-secondary-pill-item-number-colour, #{colours.$primary});

$tertiary-pill-background-colour: var(--admiralty-tertiary-pill-background-colour, #{colours.$info});
$tertiary-pill-item-text-colour: var(--admiralty-tertiary-pill-item-text-colour, #{colours.$light-text});
$tertiary-pill-item-number-background-colour: var(--admiralty-tertiary-pill-item-number-background-colour, #{colours.$light-text});
$tertiary-pill-item-number-colour: var(--admiralty-tertiary-pill-item-number-colour, #{colours.$info});
$tertiary-pill-item-selected-icon-colour: var(--admiralty-tertiary-pill-item-number-colour, #{colours.$light-text});
