@import "../css/typography";

.typography-example {

  span {
    line-height: 150px;
    margin-right: 40px;
  }

  span:nth-child(1) {
    font-size: 112px;
    font-weight: $font-weight-medium;
  }

  span:nth-child(2) {
    font-size: 112px;
    font-weight: $font-weight-light;
  }

  span:nth-child(3) {
    font-size: 30px;
    font-weight: $font-weight-medium;
  }

  span:nth-child(4) {
    font-size: 20px;
    font-weight: $font-weight-light;
  }

  span:nth-child(5) {
    font-size: 20px;
    font-weight: $font-weight-medium;
  }

}

.typography-example2 {
  section {
    margin-bottom: 50px;
  }
}
