@use "../../styles/base/colours";
@use "../../styles/base/responsive";
@use "../../styles/base/icons";
@use "../form-field/form-field";

.text-area-container {

  textarea {
    position: relative;
    width: 100%;
    min-height: 170px;
    border: 2px solid colours.$colour-text;
    color: colours.$colour-text;
    padding: 12px 18px;
    outline: none;
    resize: vertical;
    overflow: auto;
    box-sizing: border-box;
    vertical-align: top;

    @extend .form-field;
  }
}

