@use '../../scss/vars/colours' as colours;
@use '../../scss/base/responsive';
@use '../../scss/vars/typography';
@use '../../scss/base/a11y';

@mixin active {
  background-color: colours.$colour-nav-bg-hover;
}

.header-sub-menu-item {
  background-color: colours.$colour-bg;

  .title {
    font-size: typography.$font-size-normal;
    font-weight: typography.$font-weight-light;
  }

  &:focus {
    outline: none;

    span {
      @include a11y.focus-highlight;
    }
  }

  @include responsive.desktop-only {
    box-sizing: border-box;
    color: colours.$colour-admiralty-blue;
    display: block;
    margin-bottom: 0;
    padding: 10px;
    text-align: left;
    width: 300px;

    .title {
      display: block;
    }

    &:hover {
      @include active;
    }
  }

  @include responsive.not-desktop {
    display: block;
    box-sizing: border-box;
    padding: 12px 24px;
    cursor: pointer;
    color: colours.$colour-admiralty-blue;
    font-weight: 500;
    background-color: unset;
    text-align: unset;
    text-decoration: unset;

    &:hover {
      @include active;
    }

    &:focus {
      .title {
        box-shadow:
          0 -4px colours.$colour-utility-focus,
          0 4px colours.$colour-text;
      }
    }
  }
}
