@import 'header-sub-menu-item.vars';

@mixin active {
  background-color: $header-sub-menu-item-hover-background-colour;
}

.header-sub-menu-item {
  background-color: $header-sub-menu-item-background-colour;

  .title {
    font-size: $header-sub-menu-item-text-size;
    font-weight: $header-sub-menu-item-text-weight;
  }

  &:focus {
    outline: none;

    span {
      @include focus-highlight;
    }
  }

  @include desktop-only {
    box-sizing: border-box;
    color: $header-sub-menu-item-text-colour;
    display: block;
    margin-bottom: 0;
    padding: 10px;
    text-align: left;
    width: 300px;

    .title {
      display: block;
    }

    &:hover {
      @include active;
    }
  }

  @include not-desktop {
    display: block;
    box-sizing: border-box;
    padding: 12px 24px;
    cursor: pointer;
    color: $header-sub-menu-item-text-colour;
    font-weight: 500;
    background-color: unset;
    text-align: unset;
    text-decoration: unset;

    &:hover {
      @include active;
    }

    &:focus {
      .title {
        box-shadow:
          0 -4px $header-sub-menu-item-focus-colour,
          0 4px $header-sub-menu-item-text-colour;
      }
    }
  }
}
