@import '../../styles/vars/globals';

$header-sub-menu-item-focus-colour: var(--admiralty-focus-colour);
$header-sub-menu-item-text-colour: var(--admiralty-colour-primary);
$header-sub-menu-item-text-size: 18px;
$header-sub-menu-item-text-weight: 300;
$header-sub-menu-item-background-colour: var(--admiralty-background-colour);
$header-sub-menu-item-hover-background-colour: var(--admiralty-hover-background-colour);
