@import "header-sub-menu-item.vars";

@mixin active {
  background-color: $header-sub-menu-item-hover-background-colour;
}

.header-sub-menu-item {
  .title {
    font-size: $header-sub-menu-item-text-size;
    font-weight: $header-sub-menu-item-text-weight;
  }

  &:focus {
    outline: none;
    box-shadow: $header-sub-menu-item-focus-colour inset 0 0 0 3px;
  }

  @include desktop-only {
    box-sizing: border-box;
    color: $header-sub-menu-item-text-colour;
    display: block;
    margin-bottom: 0;
    padding: 0 0.66em;
    text-align: center;
    width: 300px;

    .title {
      display: block;
      padding: 10px;
      text-align: center;
    }

    &:hover {
      @include active;
    }
  }

  @include not-desktop {
    display: block;
    box-sizing: border-box;
    padding: 12px 24px;
    cursor: pointer;
    color: $header-sub-menu-item-text-colour;
    font-weight: 500;
    background-color: unset;
    text-align: unset;
    text-decoration: unset;

    &:hover {
      @include active;
    }

    &:focus {
      outline: none;
      box-shadow: $header-sub-menu-item-focus-colour inset 0 0 0 3px;
    }
  }
}
