@import '../../styles/vars/globals';

/**
 * @prop --admiralty-header-sub-menu-item-font-size: Font size of the header sub menu item.
 * @prop --admiralty-header-sub-menu-item-font-weight: Font weight of the header sub menu item.
**/

$header-sub-menu-item-text-size: var(--admiralty-header-sub-menu-item-font-size, var(--admiralty-font-size-0));
$header-sub-menu-item-text-weight: var(--admiralty-header-sub-menu-item-font-weight, var(--admiralty-font-weight-normal));

$header-sub-menu-item-focus-colour: var(--admiralty-focus-colour);
$header-sub-menu-item-text-colour: var(--admiralty-colour-primary);
$header-sub-menu-item-background-colour: var(--admiralty-background-colour);
$header-sub-menu-item-hover-background-colour: var(--admiralty-hover-background-colour);
