@import "breadcrumb.vars";

:host {
  display: flex;
  align-items: center;
}

.breadcrumb-icon {
  margin: $breadcrumb-icon-margin;
  font-size: $breadcrumb-icon-font-size;
  color: $breadcrumb-separator-colour;
}

a {
  display: inline-block;
  font-size: $breadcrumb-font-size;
  font-weight: $breadcrumb-font-weight;
  text-decoration: none;
  color: $breadcrumb-font-colour;
  margin: $breadcrumb-href-margin;

  &:hover {
    color: $breadcrumb-font-colour-hover;
    text-decoration: underline;
    text-underline-offset: 0.15em;
    text-decoration-thickness: 0.15em;
  }

  &:focus {
    text-decoration: none;
  }

  &.active {
    color: $breadcrumb-font-colour-active;
    font-weight: $breadcrumb-font-weight-active;
  }
}
