$breadcrumb-font-weight: 300 !default;
$breadcrumb-font-weight-active: 400 !default;
$breadcrumb-font-size: 14px !default;
$breadcrumb-font-colour: var(--admiralty-text-colour) !default;
$breadcrumb-font-colour-hover: var(--admiralty-colour-primary) !default;
$breadcrumb-font-colour-active: var(--admiralty-colour-primary) !default;
$breadcrumb-separator-colour: var(--admiralty-colour-primary) !default;
