@import "breadcrumb.vars";

:host {
  display: flex;
  align-items: center;
}

.breadcrumb-icon {
  margin: 0 10px;
  font-size: 12px;
  color: $breadcrumb-separator-colour;
}

a {
  display: inline-block;
  font-size: $breadcrumb-font-size;
  font-weight: $breadcrumb-font-weight;
  text-decoration: none;
  color: $breadcrumb-font-colour;
  margin: 10px 2px;

  &:hover {
    color: $breadcrumb-font-colour-hover;
  }

  &.active {
    color: $breadcrumb-font-colour-active;
    font-weight: $breadcrumb-font-weight-active;
  }
}
