<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= siteName %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/site-css/all.css">
    <link rel="stylesheet" href="/site-css/prism.css">
    <style>
        body {
            margin: 20px;
            border: 1px solid gray;
            min-height: auto;
            padding: 10px;
        }
        .new-window-link-container {
            visibility: hidden;
            display: none;
        }
    </style>
    <script>
        function setBody(html) {
            document.body.innerHTML = html;
        }
    </script>
</head>
<body>

</body>
</html>
