/* Device Sizes - matching layout breakpoints */
@media (max-width: 1023px) {
  .desktop-only {
    display: none;
  }
}

@media (min-width: 1024px) {
  .not-desktop {
    display: none;
  }
}

@media (min-width: 1024px) {
  .tablet-only {
    display: none;
  }
}

@media (max-width: 479px) and (min-width: 0px) {
  .tablet-only {
    display: none;
  }
}

@media (max-width: 479px) and (min-width: 0px) {
  .tablet-or-desktop {
    display: none;
  }
}

@media (min-width: 1024px) {
  .phone-or-tablet {
    display: none;
  }
}

@media (min-width: 1024px) {
  .phone-only {
    display: none;
  }
}

@media (max-width: 1023px) and (min-width: 480px) {
  .phone-only {
    display: none;
  }
}

/* Core Palette */
/* Supporting Palette */
/* Secondary Palette */
/* Digital Product Colours */
/* Utility Colours */
/* Button Colours */
/* Primary */
/* Secondary */
/* Link Colours */
/* Nav colours */
/* Table colours */
/* Tab colours */
/* form text input colours */
/* form textarea colours */
/* radio button */
/* checkbox */
body {
  margin: 30px;
}

.wrapper {
  width: 100%;
  height: auto;
  background: #eeeeee;
  padding-left: 30px;
  padding-top: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 30px;
  overflow: none;
}

.checkout-btn {
  width: 100%;
  margin-bottom: 30px;
}

.total-cost {
  font-familY: Johnston ITC Std, arial, sans-serif, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 45px;
  color: #333333;
}

.cost-label {
  font-family: Johnston ITC Std, arial, sans-serif, Arial, Helvetica, sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.basket-items {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.cost {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 270px;
}

.costs-right {
  margin-top: 20px;
}

.costs-right p {
  text-align: end;
}

.order-container {
  background: #ffffff;
  width: 100%;
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 150px;
  height: auto;
}

.order-overview {
  font-family: Johnston ITC Std, arial, sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  color: #333333;
}

@media only screen and (max-width: 768px) {
  .box-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .box-3 p {
    padding: 0;
  }
}
/*# sourceMappingURL=basket.css.map */