@import "responsive";
@import "colours";
@import '_typography';



body{
    margin: 30px;
}

.wrapper{
    width: 100%;
    height:auto;
    background: $colour-bg-grey;
    padding-left: 30px;
    padding-top: 30px;
    align-items: center;
    padding-right:30px;
    overflow: none;
}

.checkout-btn{
    width:100%;
    margin-bottom: 30px;
}

.total-cost{
    // font-familY: $main-font, Arial, Helvetica, sans-serif;
    font-family: $default-text;
    font-style: normal;
    font-weight:500;
    font-size: 3rem;
    line-height: 45px;
    color:$colour-text;
}

.cost-label{
    font-family: $default-text;
.container{
    display:flex;
    flex-direction: column;
    // align-items: flex-start;
}

}
.header-text{
    flex:1;
    order:1;
}

.basket-items{
    flex:2;
    order:2;
}

.cost{
    flex:1;
    order:3;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top:270px;
}

.costs-right{
    margin-top:20px;
    p{
    text-align: end;
    }
}

.order-container {
    background: $colour-white;
        width: 100%;
        padding: 30px;
        margin-top: 30px;
        margin-bottom: 150px;
        height:auto;


      }

.order-overview{
    font-family: $main-font;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
    color: $colour-text;
}