$mainfont: 'Johnston ITC Std', arial, sans-serif;
@import "colours";

body{
    padding-left: 2%;
    padding-top: 3.125rem;
    padding-bottom:5.625rem;
}
.intro{
    padding-top:1.875rem;
    padding-bottom:1.875rem;
    width:49.375rem;
    color:$colour-text;
    
}

.get-verification-button{
width:18.75rem;

    button{
        margin-left:6.75rem;
    }
}

// button.get-verification-button {
//     margin-left:108px;
// }

.text-input-wrap{
    width:25.625rem;
}

.verification-button{
   width:9.875rem;
}
.send-code-link{
 color:$colour-admiralty-blue;
 font-family: $mainfont;
 font-style: normal;
 font-weight: 300;
 font-size: 1rem;
 line-height: 1.875rem;
 display: flex;
 align-items: center;
 padding-top: 0.75rem;
 padding-bottom: 0.75rem;
}

button.verification-button{
    margin-left: 13.125rem;
}

.send-verification-button{
    width:15.9375rem;
    margin-left:9.375rem;
}