name: 'Test Core Spec'
description: 'Test Core Spec'
runs:
  using: 'composite'
  steps:
    - name: Install Packages
      run: |
        pnpm install --frozen-lockfile
      shell: bash
    - name: Test
      run: npm run test:spec -- --ci
      shell: bash
      working-directory: ./packages/core
