@use "../../styles/base/colours";
@use "../../styles/base/icons";
section.readmore {
  > input[type="checkbox"] {
    display: none;
  }

  > label {
    cursor: pointer;
    text-decoration: none;

    &::before {
      content: "Read more...";
    }
  }

  > div + div {
    max-height: 0;
    overflow: hidden;
  }

  > input[type="checkbox"]:checked + div + div {
    max-height: none;
  }

  > input[type="checkbox"]:checked + div + div + label::before {
    content: "Read less...";
  }
}

section.expansion {
  &.bordered {
    border-bottom: 1px solid colours.$colour-divider;
  }
  .expansion-checkbox {
    display: none;
  }

  .expansion-label {
    @extend h3;
    display: block;
    cursor: pointer;
    margin-bottom: unset;
    padding: 12px 0 12px;
    display: flex;
    align-items: baseline;
    &::after {
      @extend .fas;
      content: icons.fa-content(icons.$fa-var-chevron-down);
      float: right;
      display: flex !important;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-left: 30px;
    }
    h3 {
      flex-grow: 1;

      &.expansion-heading-right-align {
        text-align: right;
      }
    }
  }

  .expansion-content {
    max-height: 0;
    overflow: hidden;
  }

  .expansion-checkbox:checked {
    ~ .expansion-label::after {
      @extend .fas;
      content: icons.fa-content(icons.$fa-var-chevron-up);
    }
  }

  .expansion-checkbox:checked {
    ~ .expansion-content {
      max-height: none;
      padding-bottom: 12px;
    }
  }
}
