<section class="expansion {{ !hideBorder ? 'bordered' : '' }} {{ initialExpanded ? 'expanded' : '' }}">
  <button
    [id]="headerId"
    type="button"
    [attr.aria-expanded]="initialExpanded"
    [attr.aria-controls]="contentId"
    (click)="onToggle()"
  >
    <h3 class="{{ alignHeadingRight ? 'expansion-heading-right-align' : '' }}">{{ heading }}</h3>
    <span class="visually-hidden">, {{ initialExpanded ? "Hide" : "Show"}} this section</span>
  </button>
  <div
    class="expansion-content"
    [id]="contentId"
    [attr.aria-labelledby]="headerId"
    [hidden]="!initialExpanded"
  >
    <ng-content></ng-content>
  </div>
</section>
