@import 'radio.vars';

.admiralty-radio {
  input {
    appearance: none;
    border: 2px solid $radio-border-colour;
    border-radius: 1rem;
    height: 1.5rem;
    width: 1.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    margin-right: 18px;

    &.invalid {
      border-color: $radio-invalid-border-colour;

      &:focus-visible {
        border-color: unset;
        outline: 3px solid $radio-focus-colour;
      }
    }

    &:checked:after {
      border-radius: 100%;
      background-color: $radio-checked-background-colour;
      width: .8rem;
      height: .8rem;
      content: " ";
    }

    &:disabled {
      border: 2px solid $radio-disabled-border-colour;
    }

    &:focus {
      outline: 3px solid $radio-focus-colour;
      outline-offset: 0;
    }
  }
  label {
    font-weight: $radio-text-weight;
    position: relative;
    top: 2px;
  }
}
