@import "../../styles/vars/globals";

$radio-border-colour: var(--admiralty-colour-primary);
$radio-invalid-border-colour: var(--admiralty-colour-danger);
$radio-focus-colour: var(--admiralty-focus-outline-colour) !default;
$radio-checked-background-colour: var(--admiralty-colour-primary);
$radio-disabled-border-colour: var(--admiralty-disabled-colour) !default;
$radio-text-weight: 300;
