name: 'Build Design System Website'
description: 'Build Design System Website'
runs:
  using: 'composite'
  steps:
    - name: Install Packages
      run: |
        pnpm install --frozen-lockfile
      shell: bash
    - name: Build
      run: pnpm build:website
      shell: bash
    - uses: ./.github/workflows/actions/upload-archive
      with:
        name: website
        output: ./packages/website/website.zip
        paths: ./packages/website/out
