@import "button.vars";

@mixin button-defaults {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-size: $button-font-size;
  line-height: $button-line-height;
  font-weight: $button-font-weight;
  background-color: unset;
  cursor: pointer;

  &:focus {
    outline: 3px solid $button-focus-colour;
  }

  &:disabled {
    cursor: default;
    * {
      pointer-events: none;
    }
  }

  i {
    display: inline-block;
    font-size: 24px;
    color: $button-icon-colour;
    padding-left: 15px;
  }
}

@mixin button {
  @include button-defaults;
  height: 60px;
  padding: 15px 18px;
  white-space: nowrap;
  min-width: 200px;

  @include not-desktop {
    min-width: unset;
    max-width: 200px;
    width: 100%;
    height: 50px;
    padding: 10px 18px;
  }

  i {
    display: inline-block;
    font-size: 24px;
    color: $button-icon-colour;
    padding-left: 15px;
  }
}

/* Primary Buttons */
button.primary {
  @include button;
  background-color: $button-colour-standard;
  color: $button-text-colour-standard;
  border: 2px solid $button-border-colour-standard;

  &:hover {
    background-color: $button-hover-colour-standard;
    border: 2px solid $button-hover-colour-standard;
  }

  &:enabled:active {
    background-color: $button-active-colour-standard;
    border: 2px solid $button-active-border-colour-standard;
    color: $button-active-text-colour-standard;

    i {
      color: $button-active-text-colour-standard;
    }

    p {
      color: $button-active-text-colour-standard;
    }
  }

  &:disabled {
    background-color: $button-colour-deselected;
    border: 2px solid $button-border-colour-deselected;
  }
}

/* Secondary Buttons */
button.secondary {
  @include button;
  background-color: $button-colour-secondary;
  color: $button-text-colour-secondary;
  border: 2px solid $button-border-colour-secondary;

  &:hover {
    background-color: $button-hover-colour-secondary;
    border: 2px solid $button-hover-border-colour-secondary;
  }

  &:enabled:active {
    background-color: $button-active-colour-secondary;
    border: 2px solid $button-active-border-colour-secondary;
    color: $button-active-text-colour-secondary;

    i {
      color: $button-active-text-colour-secondary;
    }

    p {
      color: $button-active-text-colour-secondary;
    }
  }

  &:disabled {
    background-color: $button-colour-deselected;
    border: 2px solid $button-border-colour-deselected;
  }

  i {
    color: $button-text-colour-secondary;
  }
}

/* Warning Buttons */
button.warning {
  @include button;
  background-color: $button-colour-warning;
  color: $button-text-colour-warning;
  border: 2px solid $button-colour-warning;

  &:hover {
    background-color: $button-hover-colour-warning;
    border: 2px solid $button-hover-border-colour-warning;
  }

  &:enabled:active {
    background-color: $button-active-colour-warning;
    border: 2px solid $button-active-border-colour-warning;
    color: $button-active-text-colour-warning;

    i {
      color: $button-active-text-colour-warning;
    }

    p {
      color: $button-active-text-colour-warning;
    }
  }

  &:disabled {
    background-color: $button-colour-deselected;
    border: 2px solid $button-border-colour-deselected;
    & > * {
      opacity: 0.5;
    }
  }

  i {
    color: $button-text-colour-warning;
  }
}

/* Text Buttons */
button.text {
  @include button-defaults;
  color: $button-text-colour-secondary;

  &:enabled:active {
    color: $button-text-colour-secondary;

    i {
      color: $button-text-colour-secondary;
    }

    p {
      color: $button-text-colour-secondary;
    }
  }

  &:disabled {
    color: $button-colour-deselected;
    & > * {
      opacity: 0.5;
    }
  }

  &:focus {
    outline-offset: 3px;
  }

  i {
    color: $button-text-colour-secondary;
  }
}

/* Icon Buttons */
button.icon {
  @include button-defaults;
  min-height: 50px;
  min-width: 50px;
  padding: 10px 10px;

  background-color: $button-colour-icon;
  color: $button-text-colour-icon;
  border: 2px solid $button-border-colour-icon;

  &:hover {
    background-color: $button-hover-colour-icon;
    border: 2px solid $button-hover-border-colour-icon;
  }

  &:enabled:active {
    background-color: $button-active-colour-icon;
    color: $button-active-text-colour-icon;
    border: 2px solid $button-active-border-colour-icon;
  }

  &:disabled {
    background-color: $button-colour-deselected;
    border: 2px solid $button-active-border-colour-icon;
    & > * {
      opacity: 0.5;
    }
  }

  &:active:disabled {
    background-color: $button-colour-deselected;
    border: 2px solid $button-active-border-colour-icon;
    & > * {
      opacity: 0.5;
    }
  }

  i {
    margin: auto;
    font-size: unset;
    color: unset;
    padding-left: unset;
  }
}
