@import 'button.vars';

@mixin button-defaults {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-size: $button-font-size;
  line-height: $button-line-height;
  font-weight: $button-font-weight;
  background-color: unset;
  cursor: pointer;

  &:focus {
    outline: none;
    color: $button-focus-text-colour;
    background-color: $button-focus-colour;
    border: none;
    border-bottom: 4px solid $button-focus-text-colour;
    padding: 12px 18px 8px;

    ::slotted(*) {
      color: $button-focus-text-colour !important;
    }
  }

  &:disabled {
    cursor: default;
    * {
      pointer-events: none;
    }
  }

  i {
    display: inline-block;
    font-size: $button-font-size;
    color: $button-icon-colour;
    padding: 10px 16px;
  }
}

@mixin button {
  @include button-defaults;
  height: 44px;
  padding: 10px 16px;
  white-space: nowrap;
  min-width: 50px;

  @include not-desktop {
    min-width: unset;
    max-width: 200px;
    width: 100%;
    height: 44px;
    padding: 10px 16px;
  }

  i {
    display: inline-block;
    font-size: $button-idiomatic-font-size;
    color: $button-icon-colour;
    padding-left: 15px;
  }
}

/* Primary Buttons */
button.primary {
  @include button;
  background-color: $button-colour-standard;
  color: $button-text-colour-standard;
  border: 2px solid $button-border-colour-standard;

  &:hover {
    background-color: $button-hover-colour-standard;
    border: 2px solid $button-hover-colour-standard;
    color: $button-hover-text-colour-standard;
    border-color: $button-hover-border-colour-standard;
    padding: 10px 16px;
  }

  &:hover:focus {
    padding: 12px 18px 8px;
  }

  &:hover:focus:active {
    padding: 10px 16px;
  }

  &:enabled:active {
    background-color: $button-active-colour-standard;
    border: 2px solid $button-active-border-colour-standard;
    color: $button-active-text-colour-standard;

    i {
      color: $button-active-text-colour-standard;
    }

    p {
      color: $button-active-text-colour-standard;
    }
  }

  &:disabled {
    background-color: $button-colour-deselected;
    border: 2px solid $button-border-colour-deselected;
  }
}

/* Secondary Buttons */
button.secondary {
  @include button;
  background-color: $button-colour-secondary;
  color: $button-text-colour-secondary;
  border: 2px solid $button-border-colour-secondary;

  &:hover {
    background-color: $button-hover-colour-secondary;
    color: $button-hover-text-colour-secondary;
    border: 2px solid $button-hover-border-colour-secondary;
    padding: 10px 16px;
  }

  &:enabled:active {
    background-color: $button-active-colour-secondary;
    border: 2px solid $button-active-border-colour-secondary;
    color: $button-active-text-colour-secondary;

    i {
      color: $button-active-text-colour-secondary;
    }

    p {
      color: $button-active-text-colour-secondary;
    }
  }

  &:disabled {
    background-color: $button-colour-deselected;
    border: 2px solid $button-border-colour-deselected;
  }

  i {
    color: $button-text-colour-secondary;
  }
}

/* Warning Buttons */
button.warning {
  @include button;
  background-color: $button-colour-warning;
  color: $button-text-colour-warning;
  border: 2px solid $button-border-colour-warning;

  &:hover {
    background-color: $button-hover-colour-warning;
    color: $button-text-colour-warning;
    border: 2px solid $button-hover-border-colour-warning;
    padding: 10px 16px;
  }

  &:enabled:active {
    background-color: $button-active-colour-warning;
    border: 2px solid $button-active-border-colour-warning;
    color: $button-active-text-colour-warning;

    i {
      color: $button-active-text-colour-warning;
    }

    p {
      color: $button-active-text-colour-warning;
    }
  }

  &:disabled {
    background-color: $button-colour-deselected;
    border: 2px solid $button-border-colour-deselected;
    & > * {
      opacity: 0.5;
    }
  }

  i {
    color: $button-text-colour-warning;
  }
}

/* Text Buttons */
button.text {
  @include button-defaults;
  color: $button-text-colour-secondary;

  &:enabled:active {
    color: $button-text-colour-secondary;

    i {
      color: $button-text-colour-secondary;
    }

    p {
      color: $button-text-colour-secondary;
    }
  }

  &:disabled {
    color: $button-colour-deselected;
    & > * {
      opacity: 0.5;
    }
  }

  &:focus {
    border: none;
    box-shadow:
      0 -2px $button-focus-colour,
      0 4px $button-focus-text-colour;
    text-decoration: none;
    padding: 0;
    ::slotted(*) {
      color: $button-focus-text-colour !important;
    }
  }

  i {
    color: $button-text-colour-secondary;
  }
}

/* Icon Buttons */
button.icon {
  @include button-defaults;
  min-height: 44px;
  min-width: 50px;

  background-color: $button-colour-icon;
  color: $button-text-colour-icon;
  border: 2px solid $button-border-colour-icon;
  padding: 9px;

  &:focus {
    padding: 12px 16px 8px;
  }

  &:hover {
    background-color: $button-hover-colour-icon;
    border: 2px solid $button-hover-border-colour-icon;
    padding: 9px;
  }

  &:enabled:active {
    background-color: $button-active-colour-icon;
    color: $button-active-text-colour-icon;
    border: 2px solid $button-active-border-colour-icon;
    border: 2px solid transparent;

    admiralty-icon {
      color: $button-active-text-colour-icon !important;
    }
  }

  &:disabled {
    background-color: $button-disabled-colour-icon;
    border: 2px solid $button-active-border-colour-icon;
    opacity: 0.3;
  }

  &:active:disabled {
    background-color: $button-colour-deselected;
    border: 2px solid $button-active-border-colour-icon;
    opacity: 0.3;
  }

  i {
    margin: auto;
    font-size: unset;
    color: unset;
    padding-left: unset;
  }
}
