@import 'table-body.vars';
:host {
  display: table-row-group;
}

::slotted(:nth-child(odd)) {
  background-color: $table-body-background-colour;
}

::slotted(:nth-child(even)) {
  background-color: $table-body-alt-background-colour;
}

