@import '../vars/colours';
@import '../utils/colour-functions';
// JohnstonITCPro font imported from CDN
@import url('https://cdn.fonts.net/kit/aa1c2560-9670-43e2-85b0-f27b25f69c56/aa1c2560-9670-43e2-85b0-f27b25f69c56_enhanced.css');

// Reset browser defaults
* {
  margin: 0;
  padding: 0;
  border: 0;
}

// Admiralty Font Family
// -----------------

html {
  --admiralty-font-family: 'JohnstonITCPro', Helvetica, sans-serif;
  --admiralty-font-weight: var(--admiralty-font-weight-normal);
  --admiralty-font-size: 18px;
  --admiralty-line-height: 24px;
}

body {
  background: var(--admiralty-background-colour);
  color: var(--admiralty-text-colour);
  &:focus {
    color: var(--admiralty-focus-contrast);
  }
}

// Admiralty Colours
// --------------------------------------------------
// Generates the colour classes and variables based on the
// colours map

@mixin generate-colour($colour-name) {
  $value: map-get($colours, $colour-name);

  $base: map-get($value, base);
  $contrast: map-get($value, contrast);
  $shade: map-get($value, shade);
  $tint: map-get($value, tint);

  --admiralty-colour-base: var(--admiralty-colour-#{$colour-name}, #{$base}) !important;
  --admiralty-colour-base-rgb: var(--admiralty-colour-#{$colour-name}-rgb, #{colour-to-rgb-list($base)}) !important;
  --admiralty-colour-contrast: var(--admiralty-colour-#{$colour-name}-contrast, #{$contrast}) !important;
  --admiralty-colour-contrast-rgb: var(--admiralty-colour-#{$colour-name}-contrast-rgb, #{colour-to-rgb-list($contrast)}) !important;
  --admiralty-colour-shade: var(--admiralty-colour-#{$colour-name}-shade, #{$shade}) !important;
  --admiralty-colour-tint: var(--admiralty-colour-#{$colour-name}-tint, #{$tint}) !important;
}

@each $colour-name, $value in $colours {
  .admiralty-colour-#{$colour-name} {
    @include generate-colour($colour-name);
  }
}
