@use '../utils/a11y';
@use '../utils/responsive';

$heading-font-weight: 400;
$list-item-font-weight: 300;

html {
  font-family: var(--admiralty-font-family);
  font-size: var(--admiralty-font-size);
  line-height: var(--admiralty-line-height);
  font-weight: var(--admiralty-font-weight);
}

a {
  color: var(--admiralty-colour-primary);
  text-underline-offset: 0.15em;
  &:focus {
    outline: 3px solid var(--admiralty-focus-colour);
    outline-offset: 1px;
    @include a11y.focus-highlight;
  }
  &:hover {
    text-decoration-thickness: 0.15em;
  }
}

h1 {
  color: var(--admiralty-colour-primary);
  font-weight: $heading-font-weight;
  font-size: 48px;
  line-height: 60px;
  margin: 0 0 30px 0;
  @include responsive.not-desktop {
    font-size: 46px;
    line-height: 54px;
  }
}

h2 {
  color: var(--admiralty-colour-primary);
  font-weight: $heading-font-weight;
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 18px;
  @include responsive.not-desktop {
    font-size: 34px;
    line-height: 42px;
  }
}

h3,
h4,
h5 {
  color: var(--admiralty-colour-primary);
  font-weight: $heading-font-weight;
  font-size: 21px;
  line-height: 30px;
  margin-bottom: 12px;
  @include responsive.not-desktop {
    font-size: 20px;
    line-height: 30px;
  }
}

h6 {
  color: var(--admiralty-colour-primary);
  font-weight: $heading-font-weight;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 12px;
  @include responsive.not-desktop {
    font-size: 16px;
  }
}

p {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 30px;
  @include responsive.not-desktop {
    font-size: 16px;
  }
}

.intro {
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 30px;
  @include responsive.not-desktop {
    font-size: 26px;
  }
}

.small {
  font-size: 16px;
  @include responsive.not-desktop {
    font-size: 14px;
    line-height: 22px;
  }
}

blockquote {
  line-height: 30px;
  width: 100%;
  padding: 24px 18px;
  border-left: 5px solid var(--admiralty-colour-primary);
  margin-bottom: 30px;
  background: var(--admiralty-background-colour-tint);
  @include responsive.not-desktop {
    line-height: 24px;
  }
}

ul {
  list-style: none;
  a {
    font-weight: $list-item-font-weight;
  }

  li {
    margin-bottom: 12px;
  }

  li:before {
    content: '\25A0';
    font-size: 18px;
    color: var(--admiralty-colour-primary);
    vertical-align: text-bottom;
    margin-right: 12px;
    @include responsive.not-desktop {
      font-size: 8px;
    }
  }
}

ol {
  list-style: none;
  counter-reset: li;

  a {
    font-weight: $list-item-font-weight;
  }

  li:before {
    content: counter(li) '.';
    color: var(--admiralty-colour-primary);
    font-size: 18px;
    margin-right: 12px;
  }

  li {
    counter-increment: li;
    margin-bottom: 12px;
  }
}

.white-text {
  * {
    color: var(--admiralty-colour-primary-contrast);
  }
}
