@use '../utils/a11y';
@use '../utils/responsive';

$heading-font-weight: var(--admiralty-font-weight-medium);
$list-item-font-weight: var(--admiralty-font-weight-normal);

html {
  font-family: var(--admiralty-font-family);
  font-size: var(--admiralty-font-size);
  line-height: var(--admiralty-line-height);
  font-weight: var(--admiralty-font-weight);
}

a {
  color: var(--admiralty-colour-primary);
  text-underline-offset: 0.15em;
  &:focus {
    outline: 3px solid var(--admiralty-focus-colour);
    color: var(--admiralty-focus-contrast);
    outline-offset: 1px;
    @include a11y.focus-highlight;
  }
  &:hover {
    text-decoration-thickness: 0.15em;
  }
}

h1 {
  color: var(--admiralty-colour-primary);
  font-weight: $heading-font-weight;
  font-size: var(--admiralty-font-size-6); /** OLD: 48px = 3rem, NEW: 2.75rem = 44px **/;
  line-height: 60px;
  margin: 0 0 30px 0;
  @include responsive.not-desktop {
    font-size: var(--admiralty-font-size-6); /** OLD: 46px = 2.875rem, NEW: 2.75rem = 44px **/
    line-height: 54px;
  }
}

h2 {
  color: var(--admiralty-colour-primary);
  font-weight: $heading-font-weight;
  font-size: var(--admiralty-font-size-3); /** OLD: 36px, NEW: 1.75rem = 28px **/;
  line-height: 48px;
  margin-bottom: 18px;
  @include responsive.not-desktop {
    font-size: var(--admiralty-font-size-3); /** OLD: 34px = 2.125rem, NEW: 1.75rem = 28px **/;
    line-height: 42px;
  }
}

h3,
h4,
h5 {
  color: var(--admiralty-colour-primary);
  font-weight: $heading-font-weight;
  font-size: var(--admiralty-font-size-0); /** OLD: 21px = 1.313rem, NEW: 1rem = 16px **/;
  line-height: 30px;
  margin-bottom: 12px;
  @include responsive.not-desktop {
    font-size: var(--admiralty-font-size-0); /** OLD: 20px = 1.25rem, NEW: 1rem = 16px **/
    line-height: 30px;
  }
}

h6 {
  color: var(--admiralty-colour-primary);
  font-weight: $heading-font-weight;
  font-size: var(--admiralty-font-size--1); /** OLD: 18px = 1.125rem, NEW 0.875 = 14px **/;
  line-height: 24px;
  margin-bottom: 12px;
  @include responsive.not-desktop {
    font-size: var(--admiralty-font-size--1); /** OLD: 16px, NEW 0.875 = 14px **/
  }
}

p {
  font-size: var(--admiralty-font-size-0); /** OLD: 18px = 1.125rem, NEW 1rem = 16px **/;
  line-height: 24px;
  margin-bottom: 30px;
  @include responsive.not-desktop {
    font-size: var(--admiralty-font-size-0); /** OLD: 16px **/;
  }
}

.intro {
  font-size: var(--admiralty-font-size-3); /** OLD: 28px **/
  line-height: 36px;
  margin-bottom: 30px;
  @include responsive.not-desktop {
    font-size: var(--admiralty-font-size-2); /** OLD: 26px = 1.625rem, NEW: 1.5rem = 24px **/
  }
}

.small {
  font-size: var(--admiralty-font-size-0); /** OLD: 16px **/
  @include responsive.not-desktop {
    font-size: var(--admiralty-font-size--1); /** OLD: 14px **/
    line-height: 22px;
  }
}

blockquote {
  line-height: 30px;
  width: 100%;
  padding: 24px 18px;
  border-left: 5px solid var(--admiralty-colour-primary);
  margin-bottom: 30px;
  background: var(--admiralty-background-colour-tint);
  @include responsive.not-desktop {
    line-height: 24px;
  }
}

ul {
  list-style: none;
  a {
    font-weight: $list-item-font-weight;
  }

  li {
    margin-bottom: 12px;
  }

  li:before {
    content: '\25A0';
    font-size: var(--admiralty-font-size-0); /** OLD: 18px = 1.125rem, NEW: 1rem = 16px **/
    color: var(--admiralty-colour-primary);
    vertical-align: text-bottom;
    margin-right: 12px;
    @include responsive.not-desktop {
      font-size: var(--admiralty-font-size-0); /** OLD: 8px = 0.5rem, NEW: 0.688rem = 11px **/
    }
  }
}

ol {
  list-style: none;
  counter-reset: li;

  a {
    font-weight: $list-item-font-weight;
  }

  li:before {
    content: counter(li) '.';
    color: var(--admiralty-colour-primary);
    font-size: var(--admiralty-font-size-0); /** OLD: 18px = 1.125rem, NEW: 1rem = 16px **/
    margin-right: 12px;
  }

  li {
    counter-increment: li;
    margin-bottom: 12px;
  }
}

.white-text {
  * {
    color: var(--admiralty-colour-primary-contrast);
  }
}
