@use '../utils/a11y';
@use '../utils/responsive';

$heading-font-weight: var(--admiralty-font-weight-medium);
$list-item-font-weight: var(--admiralty-font-weight-normal);

@mixin typography-style($style) {
  font-size: var(--admiralty-typography-#{$style}-font-size);
  line-height: var(--admiralty-typography-#{$style}-line-height);
  font-weight: var(--admiralty-typography-#{$style}-font-weight);
  letter-spacing: var(--admiralty-typography-#{$style}-letter-spacing);
}

@mixin typography-body($size) {
  font-size: var(--admiralty-typography-body-#{$size}-font-size);
  line-height: var(--admiralty-typography-body-#{$size}-line-height);
  font-weight: var(--admiralty-typography-body-#{$size}-font-weight);
}

@mixin typography-supporting($size) {
  font-family: var(--admiralty-font-family-supporting);
  font-size: var(--admiralty-typography-supporting-#{$size}-font-size);
  line-height: var(--admiralty-typography-supporting-#{$size}-line-height);
  font-weight: var(--admiralty-typography-supporting-#{$size}-font-weight);
}

@mixin typography-label($size) {
  font-family: var(--admiralty-font-family-supporting);
  font-size: var(--admiralty-typography-label-#{$size}-font-size);
  line-height: var(--admiralty-typography-label-#{$size}-line-height);
  font-weight: var(--admiralty-typography-label-#{$size}-font-weight);
  letter-spacing: var(--admiralty-typography-label-#{$size}-letter-spacing);
}

html {
  font-family: var(--admiralty-font-family);
  font-size: var(--admiralty-font-size);
  line-height: var(--admiralty-line-height);
  font-weight: var(--admiralty-font-weight);
}

a {
  color: var(--admiralty-colour-primary);
  text-underline-offset: 0.15em;
  &:focus {
    outline-offset: 1px;
    @include a11y.focus-highlight;
  }
  &:hover {
    text-decoration-thickness: 0.15em;
  }
}

h1 {
  color: var(--admiralty-colour-primary);
  @include typography-style(title);
  margin: 0 0 30px 0;
}

h2 {
  color: var(--admiralty-colour-primary);
  @include typography-style(heading);
  margin-bottom: 18px;
}

h3 {
  color: var(--admiralty-colour-primary);
  @include typography-style(subheading);
  margin-bottom: 12px;
}

h4 {
  color: var(--admiralty-colour-primary);
  @include typography-style(card);
  margin-bottom: 12px;
}

h5,
h6 {
  color: var(--admiralty-colour-primary);
  @include typography-style(component);
  margin-bottom: 12px;
}

label {
  @include typography-label(default);
}

.admiralty-typography-hero {
  @include typography-style(hero);
}

.admiralty-typography-title {
  @include typography-style(title);
}

.admiralty-typography-heading {
  @include typography-style(heading);
}

.admiralty-typography-subheading {
  @include typography-style(subheading);
}

.admiralty-typography-card {
  @include typography-style(card);
}

.admiralty-typography-component {
  @include typography-style(component);
}

.admiralty-typography-body-small {
  @include typography-body(small);
}

.admiralty-typography-body-default {
  @include typography-body(default);
}

.admiralty-typography-body-large {
  @include typography-body(large);
}

.admiralty-typography-label-default {
  @include typography-label(default);
}

.admiralty-typography-label-small {
  @include typography-label(small);
}

.admiralty-typography-label-small-uppercase {
  @include typography-label(small-uppercase);
  text-transform: uppercase;
}

.admiralty-typography-supporting-small {
  @include typography-supporting(small);
}

.admiralty-typography-supporting-small-uppercase {
  @include typography-supporting(small-uppercase);
  letter-spacing: var(--admiralty-typography-supporting-small-uppercase-letter-spacing);
  text-transform: uppercase;
}

.admiralty-typography-pair-hero > :first-child {
  margin-bottom: var(--admiralty-spacing-2);
}

.admiralty-typography-pair-title > :first-child {
  margin-bottom: var(--admiralty-spacing-4);
}

.admiralty-typography-pair-heading > :first-child,
.admiralty-typography-pair-subheading > :first-child {
  margin-bottom: var(--admiralty-spacing-4);
}

.admiralty-typography-pair-component > :first-child,
.admiralty-typography-pair-supporting > :first-child {
  margin-bottom: var(--admiralty-spacing-1);
}

.admiralty-typography-pair-title + .admiralty-typography-pair-title > :first-child,
.admiralty-typography-pair-title + .admiralty-typography-pair-hero > :first-child {
  margin-top: 64px;
}

.admiralty-typography-pair-hero + .admiralty-typography-pair-title > :first-child {
  margin-top: 72px;
}

.admiralty-typography-pair-component + .admiralty-typography-pair-component > :first-child {
  margin-top: var(--admiralty-spacing-6);
}

.admiralty-typography-pair-title-section > :first-child {
  margin-bottom: var(--admiralty-spacing-12);
}

.admiralty-typography-pair-hero-section > :first-child {
  margin-bottom: var(--admiralty-spacing-16);
}

.admiralty-typography-pair-component-section > :first-child {
  margin-bottom: var(--admiralty-spacing-8);
}

p {
  @include typography-body(default);
  margin-bottom: var(--admiralty-spacing-6);
}

p + h2,
p + h3,
p + h4,
p + h5,
p + h6,
.admiralty-typography-body-default + .admiralty-typography-heading,
.admiralty-typography-body-default + .admiralty-typography-subheading {
  margin-top: var(--admiralty-spacing-8);
}

.intro {
  font-size: var(--admiralty-font-size-3); /** OLD: 28px **/
  line-height: 36px;
  margin-bottom: 30px;
  @include responsive.not-desktop {
    font-size: var(--admiralty-font-size-2); /** OLD: 26px = 1.625rem, NEW: 1.5rem = 24px **/
  }
}

.small {
  font-size: var(--admiralty-font-size-0); /** OLD: 16px **/
  @include responsive.not-desktop {
    font-size: var(--admiralty-font-size--1); /** OLD: 14px **/
    line-height: 22px;
  }
}

blockquote {
  line-height: 30px;
  width: 100%;
  padding: 24px 18px;
  border-left: 5px solid var(--admiralty-colour-primary);
  margin-bottom: 30px;
  background: var(--admiralty-background-colour-tint);
  @include responsive.not-desktop {
    line-height: 24px;
  }
}

ul {
  list-style: none;
  a {
    font-weight: $list-item-font-weight;
  }

  li {
    margin-bottom: 12px;
  }

  li:before {
    content: '\25A0';
    font-size: var(--admiralty-font-size-0); /** OLD: 18px = 1.125rem, NEW: 1rem = 16px **/
    color: var(--admiralty-colour-primary);
    vertical-align: text-bottom;
    margin-right: 12px;
    @include responsive.not-desktop {
      font-size: var(--admiralty-font-size-0); /** OLD: 8px = 0.5rem, NEW: 0.688rem = 11px **/
    }
  }
}

ol {
  list-style: none;
  counter-reset: li;

  a {
    font-weight: $list-item-font-weight;
  }

  li:before {
    content: counter(li) '.';
    color: var(--admiralty-colour-primary);
    font-size: var(--admiralty-font-size-0); /** OLD: 18px = 1.125rem, NEW: 1rem = 16px **/
    margin-right: 12px;
  }

  li {
    counter-increment: li;
    margin-bottom: 12px;
  }
}

.white-text {
  * {
    color: var(--admiralty-colour-primary-contrast);
  }
}
