.banner-image {
  width: 100vw;
  max-width: 100%;
  background-color: #09315b;
  padding: 3rem 0;

  .banner-title {
    display: flex;
  }

  .ukho {
    width: 400px;
    height: 150px;
    filter: invert(100%) brightness(100) saturate(100%);
    background-image: url("/svg/UKHO stacked logo.svg");
    background-repeat: no-repeat;
    margin-left: 142px;
  }

  .button-container {
    margin-left: 142px;
    display: inline-block;
  }

  & h1 {
    width: 900px;
    color: #ffffff;
    margin-left: 142px;
    margin-top: 30px;
  }

  & p {
    width: 850px;
    color: #ffffff;
    margin-left: 142px;
  }

  & a:not(:focus) {
    color: #ffffff;
  }

}

@media (prefers-color-scheme: dark) {
    .banner-image {
        background-color: var(--admiralty-background-colour);
    }
}

