@import "../../styles/vars/globals";

/**
 * @prop --admiralty-skeleton-background-colour: background colour for loading elements.
 * @prop --admiralty-skeleton-background-sheen-colour: background sheen animation colour for loading elements
 * @prop --admiralty-skeleton-animation-duration: duration of the sheen going across the skeleton
**/

$skeleton-background-colour: var(--admiralty-skeleton-background-colour, var(--admiralty-loading-colour));
$skeleton-background-sheen-colour: var(--admiralty-skeleton-background-sheen-colour, var(--admiralty-loading-sheen-colour));

$skeleton-animation-duration: var(--admiralty-skeleton-animation-duration, 1.4s);
