<div class="select-wrap">
    <mat-form-field appearance="outline">
        <mat-select
          #selectComponent
          panelClass="material-select-panel"
          (openedChange)="handleChange()"
        >
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
        <span
          class="fa"
          [class.fa-chevron-down]="!selectComponent.panelOpen"
          [class.fa-chevron-up]="selectComponent.panelOpen"
        >
      </span>
    </mat-form-field>
</div>
