@import "../../styles/vars/globals";

$read-more-border-colour: var(--admiralty-colour-info);
$read-more-heading-font-weight: var(--admiralty-font-weight);
$read-more-text-weight: 500;
$read-more-focus-colour: var(--admiralty-focus-outline-colour) !default;
