@use "../../scss/vars/colours";
@use "../../scss/vars/typography";

section.expansion {
  padding: 2px 0;

  .expansion-content {
    display: none;
    max-height: 0;
    overflow: visible;
    border-left: 4px solid colours.$colour-utility-info;
  }
  &.expanded .expansion-content {
    display: block;
    max-height: initial;
    padding: 2px 5px;
  }

  button {
    background-color: transparent;
    border: none;
    white-space: unset;
    color: initial;
    cursor: pointer;
    margin: 8px 0px;
    padding: 4px;
    align-items: baseline;
    text-align: left;
    text-decoration: underline;

    &.expanded {
      font-weight: typography.$font-weight-medium;
    }

    &::before{
      content: url("svg/mat_fwd_arrow_icon.svg");
      color: colours.$colour-admiralty-blue;
      margin-left: 5px;
      margin-right: 8px;
    }

    &.expanded::before {
      content: url("svg/mat_down_arrow_icon.svg");
      margin-left: 5px;
      margin-right: 8px;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px colours.$colour-utility-focus;
    }

  }
}
