@import 'read-more.vars.scss';

section.expansion {
  padding: 2px 0;

  .expansion-content {
    display: none;
    max-height: 0;
    overflow: visible;
    border-left: 4px solid $read-more-border-colour;
  }
  &.expanded .expansion-content {
    display: block;
    max-height: initial;
    padding: 2px 5px;
  }

  button {
    background-color: transparent;
    border: none;
    white-space: unset;
    color: $read-more-text-colour;
    cursor: pointer;
    margin: 8px 0px;
    padding: 4px;
    align-items: baseline;
    text-align: left;
    text-decoration: underline;
    font-weight: $read-more-heading-font-weight;

    &.expanded span {
      font-weight: $read-more-text-weight;
    }

    .expansion-heading-icon {
      margin-left: 5px;
      margin-right: 8px;
      vertical-align: top;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px $read-more-focus-colour;
      @include focus-highlight;
    }
  }
}
