@import 'read-more.vars.scss';

section.expansion {
  padding: $read-more-padding;

  .expansion-content {
    display: none;
    max-height: 0;
    overflow: visible;
    border-left: 4px solid $read-more-border-colour;
  }
  &.expanded .expansion-content {
    display: block;
    max-height: initial;
    padding: $read-more-expanded-content-padding;
  }

  button {
    background-color: transparent;
    border: none;
    white-space: unset;
    color: $read-more-text-colour;
    font-weight: unset;
    cursor: pointer;
    margin: $read-more-button-margin;
    padding: $read-more-button-padding;
    align-items: baseline;
    text-align: left;
    text-decoration: underline;
    text-underline-offset: 0.15em;

    &.expanded span {
      font-weight: $read-more-font-weight;
    }

    .expansion-heading-icon {
      margin: $read-more-button-expansion-heading-icon-margin;
      vertical-align: top;
    }

    &:hover {
      text-decoration-thickness: 0.15em;
    }

    &:focus {
      @include focus-highlight;
    }
  }
}
