@import "../../styles/vars/globals";

$type-ahead-background-colour: var(--admiralty-background-colour);
$type-ahead-border-colour: var(--admiralty-text-colour);
$type-ahead-highlighted-background-colour: var(--admiralty-colour-primary);
$type-ahead-highlighted-text-colour: var(--admiralty-colour-primary-contrast);
