@import '../../styles/vars/globals';

/**
 * @prop --admiralty-header-menu-title-font-size: Font size of the header menu title
 * @prop --admiralty-header-menu-title-font-weight: Font weight of the header menu title
**/

$header-menu-item-title-text-size: var(--admiralty-header-menu-title-font-size, var(--admiralty-font-size-0));
$header-menu-item-title-text-weight: var(--admiralty-header-menu-title-font-weight, var(--admiralty-font-weight-medium));

$header-menu-item-active-colour: var(--admiralty-colour-primary);
$header-menu-item-title-text-colour: var(--admiralty-colour-primary);
$header-menu-item-hover-background-colour: var(--admiralty-hover-background-colour);
$header-menu-item-divider-colour: var(--admiralty-colour-light);
$header-menu-item-line-height: var(--admiralty-header-menu-item-line-height, var(--admiralty-line-height-0));
