@import '../../styles/vars/globals';

$header-menu-item-active-colour: var(--admiralty-colour-primary);
$header-menu-item-title-text-colour: var(--admiralty-colour-primary);
$header-menu-item-title-text-size: 18px;
$header-menu-item-title-text-weight: 500;
$header-menu-item-hover-background-colour: var(--admiralty-hover-background-colour);
$header-menu-item-divider-colour: var(--admiralty-colour-light);
