@use "../../scss/vars/colours" as colours;
@use "../../scss/base/responsive";
@use "../../scss/vars/typography";

@mixin active {
  box-shadow: inset 0 -5px colours.$colour-admiralty-blue;
}

.menu-item {
  cursor: pointer;

  .menu-title {
    font-size: typography.$font-size-normal;

    &:focus {
      box-shadow: colours.$colour-utility-focus inset 0 0 0 3px;
    }
  }
}

button {
  all: unset;
  height: 100%;
  width: 100%;
  // font-weight: typography.$font-weight-medium;
}

@include responsive.desktop-only {
  .menu-item {
    display: flex;
    flex: 0;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    line-height: 1.33em;
    margin-bottom: 0;
    min-width: 4em;
    max-width: 11.1em;
    padding: 0 1.65em;
    position: relative;
    text-align: center;

    &:hover {
      @include active;
      background-color: colours.$colour-nav-bg-hover;

      // .sub-menu {
      //   display: flex;
      // }
    }

    &.active {
      @include active;

      // .sub-menu {
      //   display: flex;
      // }
    }

    .menu-title {
      font-weight: typography.$font-weight-medium;
    }

    .sub-menu {
      display: none;
      flex-direction: column;
      position: absolute;
      border: 1px solid colours.$colour-divider;
      right: 0;
      top: 100%;

      &.make-visible {
        display: flex;
      }
    }
  }
}

@include responsive.not-desktop {
  .menu-item {
    display: block;
    box-sizing: border-box;
    color: colours.$colour-admiralty-blue;
    background-color: unset;
    text-align: unset;
    text-decoration: unset;

    .menu-title {
      padding: 12px;
      font-weight: 500;

      &:hover {
        background-color: colours.$colour-nav-bg-hover;
      }

      // &:focus {
      //   box-shadow: colours.$colour-utility-focus inset 0 0 0 3px;
      // }
    }
  }
}
