<h1>Accessibility principles</h1>
<p class="intro">
        Our designs are accessible and are based on the four design principles that underpin the WCAG 2.1 requirements.
</p>

<ol>
    <li><a href="#anchor1">Perceivable</a></li>
    <li><a href="#anchor2">Operable</a></li>
    <li><a href="#anchor3">Understandable</a></li>
    <li><a href="#anchor4">Robust</a></li>
</ol>

<p>We focus on principles, not technology and emphasise the need to think about the different ways that people interact with our content where possible.</p>

<h3 id="anchor1">1. Perceivable</h3>

<p>Where possible this means we:</p>

<ul>
    <li>provide text alternatives (‘alt text’) for non-text content</li>
    <li>provide transcripts for audio and video</li>
    <li>provide captions for video</li>
    <li>make sure content is structured logically and can be navigated and read by a screen reader where applicable</li>
    <li>use the proper mark-up for features (for example, forms and data tables), so the relationships between content are defined properly</li>
    <li>not use colour as the only way to explain or distinguish something</li>
    <li>use text colours that show up clearly against the background colour</li>
    <li>make sure that features can be used when text size is increased</li>
    <li>not use images of text</li>
    <li>make sure designs are scalable and responsive - for example to the user’s device, page orientation and font size they like to use</li>
</ul>

<h3 id="anchor2">2. Operable</h3>

<p>Where appropriate, we make sure users can find and use our content, regardless of how they choose to access it on a device. Where possible this means we:</p>

<ul>
    <li><a href="#anchor1">make sure things work for keyboard-only users</li>
    <li>let people play, pause and stop any moving content</li>
    <li>do not use blinking or flashing content</li>
    <li>use descriptive titles for pages</li>
    <li>make sure users can move through content in a way that makes sense</li>
    <li>use descriptive links so users know where a link will take them, or what downloadable linked content is</li>
    <li>use meaningful headings and labels, making sure that any accessible labels match or closely resemble the label you’re using in the interface</li>
    <li>make it easy for keyboard users to see the item their keyboard or assistive technology is currently focused on</li>
</ul>

<h3 id="anchor3">3. Understandable</h3>

<p>We make sure people can understand our web content and how our service works. This means we:</p>

<ul>
    <li>use plain English</li>
    <li>try and keep sentences short</li>
    <li>try not use words and phrases that people won’t recognise - and provide an explanation where necessary</li>
    <li>explain all abbreviations and acronyms, unless they are well known and in common use</li>
    <li>make it clear what language the content is written in, and indicate if this changes</li>
    <li>make sure features look consistent and behave in predictable ways</li>
    <li>make sure all form fields have visible and meaningful labels - and that they’re marked up properly</li>
    <li>make it easy for people to identify and correct errors in forms</li>
</ul>

<h3 id="anchor4">4. Robust</h3>

<p>We attempt to make sure our web content can be interpreted reliably by a wide variety of user agents (including reasonably outdated, current and anticipated browsers and assistive technologies). This means we:</p>

<ul>
    <li>use valid HTML so user agents, including assistive technologies, can accurately interpret and parse content</li>
    <li>try to ensure our code lets assistive technologies know what user interface components are for, what state they’re currently in and if they change</li>
    <li>make sure important status messages are marked up in a way that informs user of their presence and purpose</li>
</ul>