@import '../../styles/vars/globals';

/**
 * @prop --admiralty-text-area-font-weight: Font weight for the text area

 * @prop --admiralty-text-area-padding: Padding for text area
**/

$textarea-padding: var(--admiralty-text-area-padding, var(--admiralty-spacing-3) 18px);

$textarea-font-weight: var(--admiralty-text-area-font-weight, var(--admiralty-font-weight-normal));

$textarea-text-colour: var(--admiralty-text-colour);
$textarea-line-height: var(--admiralty-line-height);
$textarea-border-colour: var(--admiralty-text-colour);
$textarea-background-colour: var(--admiralty-background-colour);
$textarea-shadow-colour: var(--admiralty-text-colour);
$textarea-focus-colour: var(--admiralty-focus-colour) !default;
$textarea-error-border-colour: var(--admiralty-colour-danger);
$textarea-disabled-text-colour: var(--admiralty-disabled-colour);
$textarea-disabled-border-colour: var(--admiralty-disabled-colour);
