@import 'textarea.vars';

.text-area-container {
  textarea {
    display: block;
    position: relative;
    width: 100%;
    min-height: 170px;
    border: 2px solid $textarea-border-colour;
    color: $textarea-text-colour;
    padding: 12px 18px;
    outline: none;
    resize: vertical;
    overflow: auto;
    box-sizing: border-box;
    vertical-align: top;
    font-weight: $textarea-font-weight;

    background-color: $textarea-background-colour;

    &:focus-visible {
      outline: 3px solid $textarea-focus-colour;
      box-shadow: $textarea-shadow-colour inset 0 0 0 2px;
    }

    &.invalid {
      border-color: $textarea-error-border-colour;

      &:focus-visible {
        border-color: unset;
        outline: 3px solid $textarea-focus-colour;
      }
    }

    &.disabled {
      color: $textarea-disabled-text-colour;
      border-color: $textarea-disabled-border-colour;
    }
  }
}
