@import 'table.vars';

:host{
  display: table;
}

caption {
  font-size: $table-caption-text-size;
  font-weight: $table-caption-text-weight;
  color: $table-caption-text-colour;
  margin-bottom: $table-caption-margin-bottom;
  text-align: left;
}
