@import 'table.vars';

:host{
  display: table;
}

caption {
  font-size: 30px;
  font-weight: $table-caption-text-weight;
  color: $table-caption-text-colour;
  margin-bottom: 30px;
  text-align: left;
}
