$fa-font-path: "../node_modules/@fortawesome/fontawesome-free/webfonts" !default;

@use '../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@use '../node_modules/@fortawesome/fontawesome-free/scss/solid' with (
  $fa-font-path: $fa-font-path
);
@use '../node_modules/@fortawesome/fontawesome-free/scss/brands' with (
  $fa-font-path: $fa-font-path
);

@use '../styles/core.scss' with (
  $font-path: '../styles/webfonts'
);
