body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
}

ul {
  margin: 12px 0 12px 0;
}

ul li {
  margin-bottom: 6px;
}

ul ul {
  padding-left: 40px;
}

admiralty-footer {
  margin-top: 48px;
}

h2 {
  margin: 18px 0 18px 0;
}

h3,
h4,
h5 {
  margin: 18px 0 12px 0;
}
