.contentContainer {
  padding: 70px 142px 70px 142px;
  background-color: var(--admiralty-background-colour);
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.splitContentWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.middle {
  display: flex;
  flex: 1;
}

.sideBar {
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
}

.desktopSideBar {
  display: none;
}

.mainContent {
  flex: 1;
  min-width: 0;
}

@media (min-width: 1024px) {
  .sideBar {
    display: none;
  }

  .desktopSideBar {
    display: block;
    flex: 0 0 250px;
    position: sticky;
    top: 0;
    align-self: flex-start;
    height: calc(100vh - 5em);
    max-height: calc(100vh - 5em);
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.pageFooter {
  margin: 0;
}

@media (max-width: 1023px) {
  .sideBar {
    position: static;
    width: 100%;
    max-width: 250px;
    height: auto;
    max-height: none;
  }
}
