.contentContainer {
  padding: 70px 142px 70px 142px;
  background-color: #eeeeee;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.splitContentWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.middle {
  display:flex;
  flex: 1;
}

.sideBar {
  overflow-y: auto;
  overflow-x: hidden;
  position: sticky;
  top: 0;
  height: 100vh;
}

.mainContent {
  max-width: 1200px; /* value includes sidebar */
  width: 100%;
  margin: 0 auto;   /* centers horizontally */
  padding: 0 16px;
  box-sizing: border-box;
}

.pageFooter {
  margin: 0;
}
