<div class="select-container">
  <ukho-input-header [id]="id"
                     [label]="label"
                     [hint]="hint"
                     [disabled]="disabled">
  </ukho-input-header>
  <div class="wrapper" [style.maxWidth.px]="width" [ngClass]="{ invalid: !valid && touched, disabled: disabled }">
    <select
      [ngClass]="{ invalid: !valid && touched, disabled: disabled }"
      #select
      [id]="id"
      (change)="onChange($event.target.value)"
      (blur)="onTouch()"
      [disabled]="disabled">
      <ng-content></ng-content>
    </select>
  </div>
</div>

<div *ngIf="validationMessages" class="text-input-error">
  <p [id]="errorLabelId" *ngIf="!valid && touched && error" class="error-text">
    {{ validationMessages[error] }}
  </p>
</div>
