@import 'select.vars';
.disabled {
  color: $select-disabled-text-colour;
}

.select-wrapper {
  position: relative;
}

.select-down-icon {
  font-size: $select-icon-size;
  font-weight: $select-text-weight;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 8px;
}

select {
  appearance: none;
  background-color: $select-background-colour;
  border: 2px solid $select-border-colour;
  box-sizing: border-box;
  color: $select-text-colour;
  font-size: $select-text-size;
  line-height: 24px;
  margin-bottom: 6px;
  position: relative;
  font-weight: $select-text-weight;
  padding: 12px;
  width: 100%;

  option {
    font-weight: $select-option-text-weight;
  }

  &.invalid {
    border-color: $select-error-border-colour;
  }

  &:focus-visible {
    outline: 3px solid $select-focus-colour;
    box-shadow: inset 0 0 0 2px $select-border-colour;
  }

  &.disabled {
    border-color: $select-disabled-border-colour;
  }
}
