@use "../../styles/base/colours";

.tab-group-headers {
  display: flex;
  border: 1px solid colours.$colour-line;

  .tab-group-header-tab {
    height: 60px;
    padding: 18px 24px;
    box-sizing: border-box;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: colours.$colour-nav-bg-hover;
    }

    &:focus {
      outline: 3px solid colours.$colour-utility-focus;
    }

    &.tab-active {
      box-shadow: inset 0 -5px colours.$colour-admiralty-blue;
    }
  }
}

.tab-group-body-container {
  border-bottom: 1px solid colours.$colour-line;
  border-left: 1px solid colours.$colour-line;
  border-right: 1px solid colours.$colour-line;
  padding: 24px;

  .tab-group-body {
    display: none;
    &:focus {
      outline: 3px solid colours.$colour-utility-focus;
    }
  }

  .tab-group-body-active {
    display: block;
  }
}
