name: 'Design System Release Packages'
description: 'Downloads build artifacts and releases them'
inputs:
  GITHUB_TOKEN:
    description: GITHUB_TOKEN used to create release
    required: true
  ADMIN_TOKEN:
    description: ADMIN_TOKEN used to access the git repo
    required: true
runs:
  using: 'composite'
  steps:
    - uses: actions/checkout@v4
    - name: Prepare repository
      run: git fetch --unshallow --tags
      shell: bash
    - uses: ./.github/workflows/actions/download-archive
      with:
        name: admiralty-core
        path: ./dist
        filename: admiralty-core.zip
    - uses: ./.github/workflows/actions/download-archive
      with:
        name: admiralty-angular
        path: ./dist
        filename: admiralty-angular.zip
    - uses: ./.github/workflows/actions/download-archive
      with:
        name: admiralty-react
        path: ./dist
        filename: admiralty-react.zip
    - name: Set Git Config
      run: |
        git config --global user.name "${GITHUB_ACTOR}"
        git config --global user.email "${GITHUB_ACTOR}@users.noreply.github.com"
      shell: bash
    - name: Create Release
      env:
        GITHUB_TOKEN: ${{ inputs.GITHUB_TOKEN }}
        PROTECTED_BRANCH_REVIEWER_TOKEN: ${{ inputs.ADMIN_TOKEN }}
      run: |
        yarn install --immutable
        npx auto shipit -vv
      shell: bash
