@import 'card.vars';
@import '../../styles/vars/globals';

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid $card-border-colour;

  & > h6 {
    font-size: $card-heading-font-size;
    height: 60px;
    line-height: $card-heading-line-height;
    border: 1px solid $card-heading-border-colour;
    color: $card-heading-text-colour;
    background-color: $card-heading-colour;
    margin: 0;
    padding: 0 30px;
    @include not-desktop {
      padding: 0px 18px;
      height: 48px;
      // line-height: 48px;
    }
  }

  & > div {
    border-top: none;
    flex-grow: 1;
    padding: 30px;
    @include not-desktop {
      padding: 24px 18px;
    }
  }
}

.text-input-form {
  .text-input-wrap {
    margin-bottom: 30px;
  }

  .text-input-wrap:last-child {
    margin-bottom: 0;
  }
}
