@import '../../styles/vars/globals';

/**
 * @prop --admiralty-card-heading-font-size: Font size of the card's heading
**/

$card-border-colour: var(--admiralty-colour-light);
$card-heading-colour: var(--admiralty-colour-primary);
$card-heading-border-colour: var(--admiralty-colour-primary);
$card-heading-text-colour: var(--admiralty-colour-primary-contrast);
$card-heading-font-size: var(--admiralty-card-heading-font-size, var(--admiralty-font-size-0));
$card-heading-line-height: var(--admiralty-card-heading-line-height, var(--admiralty-line-height-6));
