@import "../../styles/vars/globals";

/**
 * @prop --admiralty-card-heading-font-size: Font size of the card's heading.

 * @prop --admiralty-card-border-colour: Border colour of the card.
 * @prop --admiralty-card-heading-colour: Heading colour of the card.
 * @prop --admiralty-card-heading-border-colour: Heading border colour of the card.
 * @prop --admiralty-card-heading-text-colour: Heading text colour of the card.
 * @prop --admiralty-card-background-colour: Background colour of the card.
**/

$card-border-colour: var(--admiralty-card-border-colour, var(--admiralty-colour-light));
$card-heading-colour: var(--admiralty-card-heading-colour, var(--admiralty-colour-light));
$card-heading-border-colour: var(--admiralty-card-heading-border-colour, var(--admiralty-colour-light));
$card-heading-text-colour: var(--admiralty-card-heading-text-colour, var(--admiralty-colour-light));
$card-background-colour: var(--admiralty-card-background-colour, var(--admiralty-background-colour));
$card-heading-font-size: var(--admiralty-card-heading-font-size, var(--admiralty-font-size-0));
