@import 'card.vars';
@import '../../styles/vars/globals';

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid $card-border-colour;
  background-color: $card-background-colour;

  & > h6 {
    font-size: $card-heading-font-size;
    height: 60px;
    line-height: 60px;
    border: 1px solid $card-heading-border-colour;
    color: $card-heading-text-colour;
    background-color: $card-heading-colour;
    margin: $card-heading-margin;
    padding: $card-heading-padding;

    @include not-desktop {
      padding: $card-heading-not-desktop-padding;
      height: 48px;
      line-height: 48px;
    }
  }

  & > div {
    border-top: none;
    flex-grow: 1;
    padding: $card-padding;
    @include not-desktop {
      padding: $card-padding-not-desktop;
    }
  }
}
