@import "../../styles/vars/globals";

/**
 * @prop --admiralty-card-heading-font-size: Font size of the card's heading.

 * @prop --admiralty-card-border-colour: Border colour of the card.
 * @prop --admiralty-card-heading-colour: Heading colour of the card.
 * @prop --admiralty-card-heading-border-colour: Heading border colour of the card.
 * @prop --admiralty-card-heading-text-colour: Heading text colour of the card.
 * @prop --admiralty-card-background-colour: Background colour of the card.

 * @prop --admiralty-card-padding: Padding of the card.
 * @prop --admiralty-card-not-desktop-padding: Padding of the card when not in desktop view.

 * @prop --admiralty-card-heading-padding: Padding for the heading.
 * @prop --admiralty-card-heading-margin: Margin for the heading.
 * @prop --admiralty-card-heading-not-desktop-padding: Padding for the heading when not in desktop view.
**/

$card-border-colour: var(--admiralty-card-border-colour, var(--admiralty-colour-light));
$card-heading-colour: var(--admiralty-card-heading-colour);
$card-heading-border-colour: var(--admiralty-card-heading-border-colour);
$card-heading-text-colour: var(--admiralty-card-heading-text-colour, var(--admiralty-colour-primary-contrast));
$card-background-colour: var(--admiralty-card-background-colour);
$card-heading-font-size: var(--admiralty-card-heading-font-size, var(--admiralty-font-size-0));

$card-padding: var(--admiralty-card-padding, 30px);
$card-padding-not-desktop: var(--admiralty-card-not-desktop-padding, var(--admiralty-spacing-6) 18px);

$card-heading-padding: var(--admiralty-card-heading-padding, var(--admiralty-spacing-0) var(--admiralty-spacing-7));
$card-heading-margin: var(--admiralty-card-heading-margin, var(--admiralty-spacing-0));
$card-heading-not-desktop-padding: var(--admiralty-card-heading-not-desktop-padding, var(--admiralty-spacing-0) var(--admiralty-spacing-4));

