@use '../../scss/vars/colours';
@use '../../scss/base/a11y';

section.expansion {
  padding: 2px 0;
  border-bottom: 1px solid transparent;
  &.bordered {
    border-bottom: 1px solid colours.$colour-divider;
  }

  .expansion-content {
    display: none;
    max-height: 0;
    overflow: visible;
  }
  &.expanded .expansion-content {
    display: block;
    max-height: initial;
    padding-bottom: 12px;
  }

  button {
    @extend h3;
    background-color: transparent;
    border: none;
    height: initial;
    min-width: unset;
    max-width: unset;
    white-space: unset;
    color: initial;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0 22px;
    padding: 0;
    display: flex;
    align-items: baseline;
    width: 100%;
    text-align: left;
    position: relative;

    .expansion-heading-icon {
      color: colours.$colour-admiralty-blue;
      margin-left: 30px;
    }
    &:focus {
      outline: none;
    }
    h3 {
      flex-grow: 1;
      margin-bottom: 0;

      &.expansion-heading-right-align {
        text-align: right;
      }
    }

    &:focus {
      @include a11y.focus-highlight;
    }
  }
}
