@import "../../styles/vars/globals";

$expansion-header-text-size: 16px;
$expansion-header-text-weight: 400;
$expansion-header-focus-colour: var(--admiralty-focus-outline-colour) !default;

$expansion-border-colour: var(--admiralty-colour-light) !default;
$expansion-header-text-colour: var(--admiralty-colour-primary) !default;
$expansion-header-icon-colour: var(--admiralty-colour-primary) !default;
