@import 'expansion.vars';

section.expansion {
  padding: $expansion-padding;
  border-bottom: 1px solid transparent;
  &.bordered {
    border-bottom: 1px solid $expansion-border-colour;
  }

  .expansion-content {
    display: none;
    max-height: 0;
    overflow: visible;
  }
  &.expanded .expansion-content {
    display: block;
    max-height: initial;
    padding-bottom: $expansion-content-padding-bottom;
  }

  button {
    background-color: transparent;
    border: none;
    height: initial;
    min-width: unset;
    max-width: unset;
    white-space: unset;
    cursor: pointer;
    margin: $expansion-button-margin;
    padding: $expansion-button-padding;
    display: flex;
    align-items: baseline;
    width: 100%;
    text-align: left;
    position: relative;

    .expansion-heading-icon {
      color: $expansion-header-icon-colour;
      margin-left: $expansion-button-icon-margin-left;
    }
    &:focus {
      outline: none;
    }
    h3 {
      flex-grow: 1;
      margin-bottom: $expansion-button-heading-margin-bottom;
      font-size: $expansion-title-text-size;
      font-weight: $expansion-title-text-weight;

      &.expansion-heading-right-align {
        text-align: right;
      }
    }

    &:focus {
      @include focus-highlight;
    }
  }
}
