<h1 id="creating-a-new-project">Creating a new project</h1>
<p>This document will explain how to create a new frontend project.</p>
<h2 id="prerequisites">Prerequisites</h2>
<p>Developers should have a basic knowledge of Javascript (ideally TypeScript) and Node packaging.</p>
<ul>
    <li><a href="https://app.pluralsight.com/paths/skills/javascript">https://app.pluralsight.com/paths/skills/javascript</a></li>
    <li><a href="https://app.pluralsight.com/library/courses/getting-started-typescript/table-of-contents">https://app.pluralsight.com/library/courses/getting-started-typescript/table-of-contents</a></li>
</ul>
<h3 id="tooling">Tooling</h3>
<h4 id="node">Node</h4>
<p>To execute Javascript applications locally (including the tooling used in the JS ecosystem), you will require Node.</p>
<p>For those using the official UKHO Linux Workstation, you can install Node with the following command.</p>
<pre><code class="lang-bash"><div class="highlight"><pre>sudo yum install nodejs
</pre></div>

</code></pre>
<p>Users of alternative environments can install Node through the instructions on it&#39;s website.</p>
<ul>
    <li><a href="https://nodejs.org/en/">https://nodejs.org/en/</a></li>
</ul>
<h4 id="yarn">Yarn</h4>
<p>Yarn is a package manager for the Node ecosystem similar to NPM. You can consider this tool the equivalent of Maven/Gradle in Java or NuGet in .Net.</p>
<p>For those using the official UKHO Linux Workstation, you can install Yarn with the following command.</p>
<pre><code class="lang-bash"><div class="highlight"><pre>sudo yum install yarn
</pre></div>

</code></pre>
<p>Developers with other environments can download Yarn from it&#39;s website and follow the installation instructions.</p>
<ul>
    <li><a href="https://yarnpkg.com/en/docs/install">https://yarnpkg.com/en/docs/install</a></li>
</ul>
<h4 id="angular-cli">Angular CLI</h4>
<p>Once Yarn is installed, we can use it to globally install Node binaries to our user account. To install the Angular CLI, execute the following.</p>
<pre><code class="lang-bash"><div class="highlight"><pre>yarn global add @angular/cli
</pre></div>

</code></pre>
<p>This will then allow the use of the <code>ng</code> command. Ensure the output of <code>yarn global bin</code> is accessible on your system path variable.</p>
<h2 id="create-an-application">Create an application</h2>
<p>This guide will walk through setting up a new frontend project.</p>
<h3 id="create-a-new-project">Create a new project</h3>
<p>The fastest and easiest way to create a new UKHO Angular project is using the cookiecutter template in GitHub. Clone the following repository and follow the instructions there.</p>
<ul>
    <li><a href="https://github.com/UKHO/cookiecutter-angular">https://github.com/UKHO/cookiecutter-angular</a></li>
</ul>
