<h1 id="setup-azure-pipelines">Setup Azure Pipelines</h1>
<p>For CI/CD an Azure Pipelines file can be included at the root of the project. Such a pipeline definition may look as follows, and include steps to <code>lint</code>, <code>test</code> and <code>build</code> the project. Each step will need to install the project dependencies.</p>
<pre><code class="lang-yaml"><div class="highlight"><pre><span class="l-Scalar-Plain">resources</span><span class="p-Indicator">:</span>
  <span class="l-Scalar-Plain">containers</span><span class="p-Indicator">:</span>
    <span class="p-Indicator">-</span> <span class="l-Scalar-Plain">container</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">node</span>
      <span class="l-Scalar-Plain">image</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">circleci/node:10-stretch-browsers</span>
      <span class="l-Scalar-Plain">options</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">-u 0</span>

<span class="l-Scalar-Plain">jobs</span><span class="p-Indicator">:</span>
  <span class="p-Indicator">-</span> <span class="l-Scalar-Plain">job</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">lint</span>
    <span class="l-Scalar-Plain">container</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">node</span>
    <span class="l-Scalar-Plain">pool</span><span class="p-Indicator">:</span>
      <span class="l-Scalar-Plain">name</span><span class="p-Indicator">:</span> <span class="s">&#39;UKHO</span><span class="nv"> </span><span class="s">Ubuntu</span><span class="nv"> </span><span class="s">1804&#39;</span>
      <span class="l-Scalar-Plain">demands</span><span class="p-Indicator">:</span>
        <span class="p-Indicator">-</span> <span class="l-Scalar-Plain">agent.os -equals Linux</span>
    <span class="l-Scalar-Plain">steps</span><span class="p-Indicator">:</span>
      <span class="p-Indicator">-</span> <span class="l-Scalar-Plain">script</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">yarn</span>
        <span class="l-Scalar-Plain">displayName</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">Yarn</span>
      <span class="p-Indicator">-</span> <span class="l-Scalar-Plain">script</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">yarn run lint</span>
        <span class="l-Scalar-Plain">displayName</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">Run linter</span>
  <span class="p-Indicator">-</span> <span class="l-Scalar-Plain">job</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">test</span>
    <span class="l-Scalar-Plain">container</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">node</span>
    <span class="l-Scalar-Plain">pool</span><span class="p-Indicator">:</span>
      <span class="l-Scalar-Plain">name</span><span class="p-Indicator">:</span> <span class="s">&#39;UKHO</span><span class="nv"> </span><span class="s">Ubuntu</span><span class="nv"> </span><span class="s">1804&#39;</span>
      <span class="l-Scalar-Plain">demands</span><span class="p-Indicator">:</span>
        <span class="p-Indicator">-</span> <span class="l-Scalar-Plain">agent.os -equals Linux</span>
    <span class="l-Scalar-Plain">steps</span><span class="p-Indicator">:</span>
      <span class="p-Indicator">-</span> <span class="l-Scalar-Plain">script</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">yarn</span>
        <span class="l-Scalar-Plain">displayName</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">Yarn</span>
      <span class="p-Indicator">-</span> <span class="l-Scalar-Plain">script</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">yarn run test</span>
        <span class="l-Scalar-Plain">displayName</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">Run unit tests</span>
  <span class="p-Indicator">-</span> <span class="l-Scalar-Plain">job</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">build</span>
    <span class="l-Scalar-Plain">container</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">node</span>
    <span class="l-Scalar-Plain">pool</span><span class="p-Indicator">:</span>
      <span class="l-Scalar-Plain">name</span><span class="p-Indicator">:</span> <span class="s">&#39;UKHO</span><span class="nv"> </span><span class="s">Ubuntu</span><span class="nv"> </span><span class="s">1804&#39;</span>
      <span class="l-Scalar-Plain">demands</span><span class="p-Indicator">:</span>
        <span class="p-Indicator">-</span> <span class="l-Scalar-Plain">agent.os -equals Linux</span>
    <span class="l-Scalar-Plain">steps</span><span class="p-Indicator">:</span>
      <span class="p-Indicator">-</span> <span class="l-Scalar-Plain">script</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">yarn</span>
        <span class="l-Scalar-Plain">displayName</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">Yarn</span>
      <span class="p-Indicator">-</span> <span class="l-Scalar-Plain">script</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">yarn run build</span>
        <span class="l-Scalar-Plain">displayName</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">Build application</span>
</pre></div>

</code></pre>
