<h1 id="add-design-system">Add Design System</h1>
<p>The UKHO Design System (<a href="https://design.ukho.dev">https://design.ukho.dev</a>) provides components, styling and patterns for frontend development at the UKHO.</p>
<p>The <code>@ukho/styles</code> library provides SCSS-format stylesheets for inclusion in frontend projects. It also provides a compiled <code>ukho.min.css</code> for non-Sass projects.</p>
<p>The <code>@ukho/components</code> library provides Angular-enabled components to use in frontend projects. These components provide out-of-the-box functionality and can rapidly integrate with an application.</p>
<h2 id="installation">Installation</h2>
<p>To install the Design System and it&#39;s dependencies, run the following.</p>
<pre><code class="lang-bash"><div class="highlight"><pre>yarn add @ukho/styles @ukho/components @fortawesome/fontawesome-free @angular/cdk
</pre></div>

</code></pre>
<blockquote>
    <p>The Design System requires Fontawesome for icons.</p>
</blockquote>
<h3 id="cdn">CDN</h3>
<p>For those building basic web sites not using Yarn or NPM, you can include the minified styles from the unpkg CDN.</p>
<pre><code class="lang-html"><div class="highlight"><pre><span class="nt">&lt;link</span> <span class="na">rel=</span><span class="s">&quot;stylesheet&quot;</span> <span class="na">type=</span><span class="s">&quot;text/css&quot;</span> <span class="na">href=</span><span class="s">&quot;https://unpkg.com/browse/@ukho/styles@1.3.21/dist/ukho.min.css&quot;</span> <span class="nt">/&gt;</span>
</pre></div>

</code></pre>
<h2 id="usage">Usage</h2>
<blockquote>
    <p>The developer reference of the component library provides component sandboxes, sample code and prop tables with descriptions on usage, and can be found at <a href="https://design.ukho.dev/storybook/">https://design.ukho.dev/storybook/</a></p>
</blockquote>
<p>To make use of a component from the Design System within an application, after having installed the Design System as above, you need to import the NgModule for the component which you wish to use, in your application&#39;s module.</p>
<pre><code class="lang-javascript"><div class="highlight"><pre><span class="kr">import</span> <span class="p">{</span> <span class="nx">BrowserModule</span> <span class="p">}</span> <span class="nx">from</span> <span class="s1">&#39;@angular/platform-browser&#39;</span><span class="p">;</span>
<span class="kr">import</span> <span class="p">{</span> <span class="nx">NgModule</span> <span class="p">}</span> <span class="nx">from</span> <span class="s1">&#39;@angular/core&#39;</span><span class="p">;</span>

<span class="kr">import</span> <span class="p">{</span> <span class="nx">FormsModule</span><span class="p">,</span> <span class="nx">ReactiveFormsModule</span> <span class="p">}</span> <span class="nx">from</span> <span class="s1">&#39;@angular/forms&#39;</span><span class="p">;</span>
<span class="kr">import</span> <span class="p">{</span> <span class="nx">TextinputModule</span> <span class="p">}</span> <span class="nx">from</span> <span class="s1">&#39;@ukho/components&#39;</span><span class="p">;</span>
<span class="kr">import</span> <span class="p">{</span> <span class="nx">AppComponent</span> <span class="p">}</span> <span class="nx">from</span> <span class="s1">&#39;./app.component&#39;</span><span class="p">;</span>
<span class="kr">import</span> <span class="p">{</span> <span class="nx">AppRoutingModule</span> <span class="p">}</span> <span class="nx">from</span> <span class="s1">&#39;./app-routing.module&#39;</span><span class="p">;</span>

<span class="err">@</span><span class="nx">NgModule</span><span class="p">({</span>
  <span class="nx">declarations</span><span class="o">:</span> <span class="p">[</span>
    <span class="nx">AppComponent</span>
  <span class="nx">imports</span><span class="o">:</span> <span class="p">[</span>
    <span class="nx">BrowserModule</span><span class="p">,</span>
    <span class="nx">AppRoutingModule</span><span class="p">,</span>
    <span class="nx">TextinputModule</span><span class="p">,</span> <span class="c1">// Design System text input module imported</span>
  <span class="p">],</span>
  <span class="nx">bootstrap</span><span class="o">:</span> <span class="p">[</span><span class="nx">AppComponent</span><span class="p">],</span>
<span class="p">})</span>
<span class="kr">export</span> <span class="kr">class</span> <span class="nx">AppModule</span> <span class="p">{}</span>
</pre></div>

</code></pre>
<p>Once imported, the component can be used in templates.</p>
<pre><code class="lang-html"><div class="highlight"><pre><span class="nt">&lt;ukho-textinput</span> <span class="na">label=</span><span class="s">&quot;Example Field&quot;</span> <span class="na">type=</span><span class="s">&quot;input&quot;</span><span class="nt">&gt;&lt;/ukho-textinput&gt;</span>
</pre></div>

</code></pre>
