<h1>Developer Guide</h1>
<p class="intro">This guide describes the practices and tools for developing frontend applications at the UKHO.</p>

<h2>Documentation</h2>
<p>Use the links in the sidebar to navigate to relevant documentation on how to get started using the UKHO Design System.</p>

<h2>Storybook</h2>
<p>A deployment of Storybook provides developer documentation, a sandbox and code samples for the Design System components.</p>
<form style="margin-bottom: 30px;">
    <button class="primary icon" formaction="https://design.ukho.dev/storybook/" onMouseOver="this.style.cursor='pointer'">
        <p>Component Documentation</p>
        <i class="fa fa-chevron-right"></i>
    </button>
</form>
