<h1 id="unit-testing">Unit Testing</h1>
<h2 id="add-jest">Add Jest</h2>
<p>Jest is a modern Javascript test runner developed at Facebook. It uses JSDOM to emulate the DOM instead of spinning up a browser context for each test run.</p>
<blockquote>
    <p>Team Proteus have found that using Jest over Karma significantly improves cycle time when applying test driven development.</p>
</blockquote>
<p>Jest includes code coverage reports and will parallelise test executions.</p>
<pre><code class="lang-bash"><div class="highlight"><pre>yarn remove karma karma-chrome-launcher karma-coverage-istanbul-reporter karma-jasmine karma-jasmine-html-reporter
rm ./karma.conf.js ./src/test.ts
</pre></div>

</code></pre>
<p>Then install Jest and the Jest builder for Angular.</p>
<pre><code class="lang-bash"><div class="highlight"><pre>yarn add -D jest @types/jest @angular-builders/jest
</pre></div>

</code></pre>
<p>You can now use the following command to execute unit tests in your project.</p>
<pre><code class="lang-bash"><div class="highlight"><pre>yarn run <span class="nb">test</span>
</pre></div>

</code></pre>
