@import '../../styles/vars/globals';

/**
 * @prop --admiralty-header-font-size: Font size of the header
 * @prop --admiralty-header-font-weight: Font weight of the header
 * @prop --admiralty-header-title-font-size: Font size of the header title
 * @prop --admiralty-header-title-not-desktop-font-size: Font size of the header title when not in desktop view
 * @prop --admiralty-header-title-font-weight: Font weight of the header title
 * @prop --admiralty-header-brand-font-size: Font weight of the header brand
 * @prop --admiralty-header-menu-icon-font-size: Font size of the header menu icon
 * @prop --admiralty-header-menu-icon-font-weight: Font weight of the header menu icon

 * @prop --admiralty-header-branding-padding:
 * @prop --admiralty-header-branding-not-desktop-padding:

 * @prop --admiralty-header-vertical-separator-margin:
 * @prop --admiralty-header-vertical-separator-not-desktop-margin:

 * @prop --admiralty-header-title-margin-top:
 * @prop --admiralty-header-title-margin-bottom:

 * @prop --admiralty-header-menu-mobile-button-icon-padding:

 * @prop --admiralty-header-menu-section-tablet-only-margin-left:
**/

$header-branding-padding: var(--admiralty-header-branding-padding, 1.3em 0 1.3em 1.3em);
$header-branding-not-desktop-padding: var(--admiralty-header-branding-not-desktop-padding, var(--admiralty-spacing-3) 0 var(--admiralty-spacing-3) var(--admiralty-spacing-3));
$header-vertical-separator-margin: var(--admiralty-header-vertical-separator-margin, 0 var(--admiralty-spacing-6));
$header-vertical-separator-not-desktop-margin: var(--admiralty-header-vertical-separator-not-desktop-margin, 0 var(--admiralty-spacing-3));
$header-title-margin-top: var(--admiralty-header-title-margin-top, var(--admiralty-spacing-1));
$header-title-margin-bottom: var(--admiralty-header-title-margin-bottom, var(--admiralty-spacing-unset));
$header-menu-mobile-button-icon-padding: var(--admiralty-header-menu-mobile-button-icon-padding, var(--admiralty-spacing-3));
$header-menu-section-tablet-only-margin-left: var(--admiralty-header-menu-section-tablet-only-margin-left, 50%);

$header-text-size: var(--admiralty-header-font-size, var(--admiralty-font-size-0));
$header-brand-text-size: var(--admiralty-header-brand-font-size, var(--admiralty-font-size-0));
$header-text-weight: var(--admiralty-header-font-weight, var(--admiralty-font-weight-normal)); // TODO: Need to confirm if this is still required.
$header-title-text-size: var(--admiralty-header-title-not-desktop-font-size, var(--admiralty-font-size-2));
$header-title-not-desktop-text-size: var(--admiralty-header-title-font-size, var(--admiralty-font-size-4));
$header-title-text-weight: var(--admiralty-header-title-font-weight, var(--admiralty-font-weight-medium));
$header-menu-icon-font-size: var(--admiralty-header-menu-icon-font-size, var(--admiralty-font-size-2));
$header-menu-icon-font-weight: var(--admiralty-header-menu-icon-font-weight, var(--admiralty-font-weight-bold));
$header-text-line-height: 24px;

$header-background-colour: var(--admiralty-background-colour); // TODO: replace with variable
$header-border-colour: var(--admiralty-colour-light);
$header-logo-colour: var(--admiralty-colour-primary);
$header-separator-colour: var(--admiralty-colour-light);
$header-outline-colour: var(--admiralty-text-colour);
$header-icon-colour: var(--admiralty-colour-primary);

