@use '../../scss/vars/colours' as colours;
@use '../../scss/base/responsive';
@use '../../scss/vars/typography';

.admiralty-header {
  font-size: 18px;
  font-weight: typography.$font-weight-light;
  line-height: 24px;
}

.header-menu {
  border-bottom: 1px solid #d8d8d8;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  height: 5em;
  min-height: 5em;
  position: relative;

  @include responsive.not-desktop {
    height: 56px;
    min-height: 56px;
    position: relative;
  }
}

.header-branding {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  font-size: 18px;
  padding: 1.3em 0 1.3em 1.3em;

  @include responsive.not-desktop {
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    flex-grow: 1;
  }

  a.header-logo {
    background-color: transparent;
    color: colours.$colour-admiralty-blue;

    img {
      height: 100%;
      width: 9em;
    }

    &:focus {
      outline: 3px solid #fd0;
      outline-offset: 3px;
    }
  }

  .vertical-seperator {
    border-right: 1px solid colours.$colour-divider;
    margin-left: 24px;
    margin-right: 24px;
    @include responsive.not-desktop {
      margin-left: 12px;
      margin-right: 12px;
    }
  }

  .header-title {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    font-size: 2em;
    line-height: 2em;
    margin-bottom: unset;
    user-select: none;

    @include responsive.not-desktop {
      font-size: 24px;
      line-height: 24px;
      white-space: pre-wrap;
    }

    a {
      cursor: pointer;
      font-size: 1em;
      font-weight: typography.$font-weight-medium;
      line-height: 1;
      max-width: fit-content;
      text-decoration: none;

      @include responsive.not-desktop {
        font-size: 24px;
      }
      &:focus {
        outline: 3px solid #fd0;
        outline-offset: 3px;
      }
    }
  }
}

.header-menus {
  display: flex;
  justify-content: flex-end;

  .mobile-menu-toggle {
    display: none;

    @include responsive.not-desktop {
      &.display-hamburger {
        display: flex;
      }
    }
    flex-direction: column;
    justify-content: center;

    button {
      background-color: unset;

      admiralty-icon {
        font-size: 24px;
        font-weight: 900;
        padding: 12px;
        cursor: pointer;
        min-width: 24px;
        min-height: 24px;
        text-align: center;
        user-select: none;
        color: colours.$colour-admiralty-blue;
      }

      &:focus {
        outline: none;
        box-shadow: colours.$colour-utility-focus inset 0 0 0 3px;
      }
    }
  }

  @include responsive.not-desktop {
    .menu-sections {
      display: none;

      min-height: 56px;
      position: relative;
      right: 0;

      position: absolute;
      top: 100%;
      z-index: 999;
      min-width: 100%;
      @include responsive.tablet-only {
        min-width: 50%;
        margin-left: 50%;
      }

      background-color: colours.$colour-white;
      border: 1px solid colours.$colour-bg-header;

      &.mob-menus-visible {
        display: block;
      }
    }
  }

  .menu-sections,
  .menu-items,
  .header-profile {
    @include responsive.desktop-only {
      display: flex;
      flex: 0;
      flex-direction: row;
    }
  }
}
