@import '../../styles/vars/globals';

/**
 * @prop --admiralty-autocomplete-label-font-size: Font size for the autocompletes label
 * @prop --admiralty-autocomplete-option-font-size: Font size for the autocompletes option
 * @prop --admiralty-autocomplete-icon-font-size: Font size for the autocompletes icon
 * @prop --admiralty-autocomplete-icon-font-weight: Font weight for the autocompletes icon

 * @prop --admiralty-autocomplete-option-font-weight: Font weight for the autocompletes option

 * @prop --admiralty-autocomplete-input-padding: Padding for autocomplete
 * @prop --admiralty-autocomplete-input-display-all-padding: Padding for autocomplete when displaying all options
 * @prop --admiralty-autocomplete-option-padding: Padding for autocomplete options

 * @prop --admiralty-autocomplete-input-margin-bottom: Margin bottom for the autocomplete
 * @prop --admiralty-autocomplete-input-menu-margin: Margin for the menu of the autocomplete
 * @prop --admiralty-autocomplete-input-option-margin-bottom: Margin bottom for the options of the autocomplete
 * @prop --admiralty-autocomplete-option-no-results-margin-top: Autocomplete no results margin top
 * @prop --admiralty-autocomplete-option-no-results-margin-bottom: Autocomplete no results margin bottom
 * @prop --admiralty-autocomplete-option-no-results-hover-margin-top: Autocomplete no results hover margin top
 * @prop --admiralty-autocomplete-option-no-results-hover-margin-bottom: Autocomplete no results hover margin bottom

**/

$autocomplete-background-colour: var(--admiralty-background-colour) !default;
$autocomplete-text-colour: var(--admiralty-text-colour) !default;
$autocomplete-focus-colour: var(--admiralty-focus-colour) !default;
$autocomplete-input-border-colour: var(--admiralty-text-colour) !default;
$autocomplete-error-border-colour: var(--admiralty-colour-danger) !default;
$autocomplete-disabled-border-colour: var(--admiralty-disabled-colour) !default;

$autocomplete-option-border-colour: var(--admiralty-colour-light-shade) !default;
$autocomplete-option-hover-background-colour: var(--admiralty-colour-info) !default;
$autocomplete-option-hover-text-colour: var(--admiralty-colour-info-contrast) !default;

$autocomplete-option-no-results-background-colour: var(--admiralty-background-colour) !default;
$autocomplete-option-no-results-text-colour: var(--admiralty-text-colour) !default;

$autocomplete-dropdown-icon-colour: var(--admiralty-disabled-colour) !default;

$autocomplete-label-font-size: var(--admiralty-autocomplete-label-font-size, var(--admiralty-font-size-0));
$autocomplete-option-font-size: var(--admiralty-autocomplete-option-font-size, var(--admiralty-font-size-0));
$autocomplete-icon-font-size: var(--admiralty-autocomplete-icon-font-size, var(--admiralty-font-size-2));
$autocomplete-icon-font-weight: var(--admiralty-autocomplete-icon-font-weight, var(--admiralty-font-weight-normal));

$autocomplete-option-font-weight: var(--admiralty-autocomplete-option-font-weight, var(--admiralty-font-weight-normal));

// Padding
$autocomplete-input-padding: var(--admiralty-autocomplete-input-padding, var(--admiralty-spacing-3));
$autocomplete-input-display-all-padding: var(--admiralty-autocomplete-input-display-all-padding, 12px 35px 12px 12px);
$autocomplete-option-padding: var(--admiralty-autocomplete-option-padding, var(--admiralty-spacing-2)); // Prev: 10px | Now: 8px

// Margins
$autocomplete-input-margin-bottom: var(--autocomplete-input-margin-bottom, var(--admiralty-spacing-0));
$autocomplete-input-menu-margin: var(--autocomplete-input-menu-margin, var(--admiralty-spacing-0));
$autocomplete-input-option-margin-bottom: var(--admiralty-autocomplete-input-option-margin-bottom, var(--admiralty-spacing-0));
$autocomplete-option-no-results-margin-top: var(--admiralty-autocomplete-option-no-results-margin-top, 50px);
$autocomplete-option-no-results-margin-bottom: var(--admiralty-autocomplete-option-no-results-margin-bottom, 50px);
$autocomplete-option-no-results-hover-margin-top: var(--admiralty-autocomplete-option-no-results-hover-margin-top, 50px);
$autocomplete-option-no-results-hover-margin-bottom: var(--admiralty-autocomplete-option-no-results-hover-margin-bottom, 50px);
