@import "./autocomplete.vars";

.autocomplete__wrapper {
  position: relative;
}

.autocomplete__hint,
.autocomplete__input {
  appearance: none;
  border: 2px solid #0b0c0c;
  border-radius: 0; /* Safari 10 on iOS adds implicit border rounding. */
  box-sizing: border-box;
  margin-bottom: 0; /* BUG: Safari 10 on macOS seems to add an implicit margin. */
  line-height: 1.5;
  width: 100%;
}

.autocomplete__input {
  background-color: transparent;
  position: relative;
}

.autocomplete__hint {
  color: #505a5f;
  position: absolute;
}

.autocomplete__input-wrapper {
  position: relative;
}

.autocomplete__input--default {
  padding: 12px;
}

.autocomplete__input--focused {
  outline: 3px solid $autocomplete-focus-colour;
  outline-offset: 0;
  box-shadow: inset 0 0 0 2px $autocomplete-text-colour;
}

.autocomplete__input--show-all-values {
  padding: 12px 35px 12px 12px; /* Space for arrow. Other padding should match .autocomplete__input--default. */
  cursor: pointer;
}

.autocomplete__input--invalid {
  border-color: $autocomplete-error-border-colour;
}

.autocomplete__input--disabled {
  border-color: $autocomplete-disabled-border-colour;
}

.autocomplete__menu {
  background-color: $autocomplete-background-colour;
  border: 2px solid #0b0c0c;
  border-top: 0;
  color: #0b0c0c;
  margin: 0;
  max-height: 342px;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
  width: calc(100% - 4px);
}

.autocomplete__menu--visible {
  display: block;
}

.autocomplete__menu--hidden {
  display: none;
}

.autocomplete__menu--overlay {
  box-shadow: rgba(0, 0, 0, 0.256863) 0px 2px 6px;
  left: 0;
  position: absolute;
  top: 100%;
  z-index: 100;
}

.autocomplete__menu--inline {
  position: relative;
}

.autocomplete__option {
  border-bottom: solid #b1b4b6;
  border-width: 1px 0;
  color: $autocomplete-text-colour;
  cursor: pointer;
  display: block;
  position: relative;
  margin-bottom: 0;
}

.autocomplete__option:before {
  content: none;
}

.autocomplete__option > * {
  pointer-events: none;
}

.autocomplete__option:first-of-type {
  border-top-width: 0;
}

.autocomplete__option:last-of-type {
  border-bottom-width: 0;
}

.autocomplete__option--focused,
.autocomplete__option:hover {
  background-color: $autocomplete-option-hover-background-colour;
  border-color: $autocomplete-option-hover-background-colour;
  color: $autocomplete-option-hover-text-colour;
  outline: none;
}

.autocomplete__option--no-results {
  background-color: $autocomplete-option-no-results-background-colour;
  color: $autocomplete-option-no-results-text-colour;
  text-align: center;

  margin-top: 50px;
  margin-bottom: 50px;
  cursor: not-allowed;
}
.autocomplete__option--no-results:hover {
  background-color: $autocomplete-option-no-results-background-colour;
  border-color: $autocomplete-option-no-results-background-colour;
  color: $autocomplete-option-no-results-text-colour;
  text-align: center;

  margin-top: 50px;
  margin-bottom: 50px;
  cursor: not-allowed;
}

.autocomplete__hint,
.autocomplete__input,
.autocomplete__option {
  font-size: 1rem;
  font-weight: 300;
}

.autocomplete__hint,
.autocomplete__option {
  padding: 10px;
}

admiralty-icon {
  font-size: 24px;
  font-weight: 300;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 14px;
}

admiralty-icon.disabled {
  color: $autocomplete-dropdown-icon-colour;
}

admiralty-input-invalid {
  margin-top: 6px;
}
