.autocomplete-input-wrapper {
  position: relative;
}

.autocomplete-input {
  position: relative;
}

.autocomplete-input-show-all-values {
  cursor: pointer;
}

.autocomplete-dropdown-icon {
  display: inline-block;
  position: absolute;
  font-size: 24px;
  right: 12px;
  width: 24px;
  height: 24px;
  bottom: 14px;
  pointer-events: none;
}

.invalid .autocomplete-dropdown-icon {
  bottom: 44px;
}

.autocomplete-menu {
  background-color: #ffffff;
  border: 2px solid #0b0c0c;
  border-top: 0;
  color: #0b0c0c;
  margin: 0;
  max-height: 240px;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
  width: calc(100% - 4px);
}

.invalid .autocomplete-menu {
  position: relative;
  bottom: 27px;
}

.autocomplete-menu-visible {
  display: block;
}

.autocomplete-menu-hidden {
  display: none;
}

.autocomplete-option {
  cursor: pointer;
  display: block;
  position: relative;
  padding: 12px;
  margin-bottom: 0;
  line-height: 24px;
  font-size: 18px;
}

.autocomplete-option:before {
  content: unset;
}

.autocomplete-option > * {
  pointer-events: none;
}

.autocomplete-option:first-of-type {
  border-top-width: 0;
}

.autocomplete-option:last-of-type {
  border-bottom-width: 0;
}

.autocomplete-option--focused,
.autocomplete-option:hover {
  background-color: #1d70b8;
  border-color: #1d70b8;
  color: white;
  outline: none;
}

.autocomplete-option-no-results {
  background-color: #f3f2f1;
  color: #505a5f;
  cursor: not-allowed;
}
