@use "../../styles/base/colours";
@use "../../styles/base/responsive";

strong {
  border: 2px solid;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: colours.$colour-admiralty-blue;
  padding: 6px 8px 3px;
  margin-right: 10px;
}

:host {
  display: block;
  line-height: 40px;
  width: 100%;
  max-width: responsive.$max-content-width;
  margin-right: auto;
  margin-left: auto;
  padding: 0 18px;
  @include responsive.desktop-only {
    padding: 0 20px;
  }
}
