<h1>Atomic design principles</h1>
<p class="intro">
        We use atomic design methodology to inform our design decisions across our digital products.
</p>

<blockquote>“We're tasked with making interfaces for more users in more contexts using more browsers on more devices with more screen sizes and more capabilities than ever before. That's a daunting task indeed. Thankfully, design systems are here to help.”<br>
<strong>Brad Frost, creator of the atomic design methodology</strong></blockquote>

<h3>Introduction</h3>

<p>Atomic design is based around the concept that every element of a digital product, whether it’s a website or a piece of software, can be broken down into separate components that can be grouped into:</p>

<ul>
    <li>Atoms</li>
    <li>Molecules</li>
    <li>Organisms</li>
</ul>

<p>These provide the building blocks that can then lead to the creation of templates and pages – terms that are familiar to the designers, developers and users of digital products.</p>

<h3>Our implementation</h3>

<p>In our design system, we’ve taken the atomic design methodology and used it to create the <a href="/toolkit/styles/">styles</a>, <a href="/toolkit/components/">components</a> and <a href="/toolkit/patterns/">patterns</a> that can be found in the toolkit.</p>

<p>Our styles correspond to atoms and examples include our brand font and colours.</p> 

<p>Our components and patterns consist of molecules, such as our form elements, and organisms, including our navigation components.</p> 

<p>The patterns section of the design system will evolve to include more examples of organisms like the user login pattern that already exists. Patterns could also include templates and pages.</p>

<p>This is a very similar approach to what the Government Digital Service (GDS) used when they created the <a href="https://design-system.service.gov.uk/">GOV.UK design system</a>.</p>

<p>This methodology will help us to design better, and more quickly, by allowing us to focus our attention on user needs rather than worrying about what colours to choose or what a radio button looks like. Consistency and pace of development can also be helped by allowing components and patterns to be reused across multiple products.</p>
    