<h1>Design principles</h1>
<p class="intro">
    These are our overarching principles for design.
</p>
<ol>
    <li><a href="#anchor1">Start with user needs</a></li>
    <li><a href="#anchor2">Design with consistency</a></li>
    <li><a href="#anchor3">Design with data</a></li>
    <li><a href="#anchor4">Do the hard work to make it simple</a></li>
    <li><a href="#anchor5">We iterate. Then iterate again</a></li>
    <li><a href="#anchor6">Understand context</a></li>
    <li><a href="#anchor7">We build digital services, not websites</a></li>
    <li><a href="#anchor8">Be consistent, not uniform</a></li>
    <li><a href="#anchor9">Make things open: it makes things better</a></li>
</ol>

<h3 id="anchor1">1. Start with user needs</h3>
<p>
    We design by identifying and applying user needs. By knowing what the user needs are, we can design the right product.
</p>

<h3 id="anchor2">2. Design with consistency</h3>
<p>
    We know our brand and business-need and design products for users that enhance this. Design consistency means we can build resources that others can use, and link to the work of others also.
</p>

<h3 id="anchor3">3. Design with data</h3>
<p>
    We let data drive decision-making, not hunches or guesswork. We keep doing this after taking our services live, prototyping and testing with users then iterating in response.
</p>

<h3 id="anchor4">4. Do the hard work to make it simple</h3>
<p>
    We work hard to make products simple to use. Making something look simple is easy - making something simple to use is much harder.
</p>

<h3 id="anchor5">5. We iterate. Then iterate again</h3>
<p>
    We understand that iteration reduces risk. It makes big failures unlikely and turns small failures into lessons. We engage users and stakeholders in the design process, making refinements based on feedback.
</p>

<h3 id="anchor6">6. Understand context</h3>
<p>
    We don’t design for a screen, we design for people. We think hard about the context in which they’re using our services and use user research to enhance their experience.
</p>

<h3 id="anchor7">7. We build digital services, not websites</h3>
<p>
    Our services help people to do something. Our job is to uncover user needs and build the service that meets those needs. We ensure the digital world connects to the real world.
</p>

<h3 id="anchor8">8. Be consistent, not uniform</h3>
<p>
    We should use the same language and the same design system wherever possible. This helps people get familiar with our services, but when this isn’t possible, we should make sure our approach is consistent. We collaborate through the design process and evolve it when we find better ways of doing things or the needs of users change.
</p>

<h3 id="anchor9">9. Make things open: it makes things better</h3>
<p>
    We should share what we’re doing whenever we can. With colleagues, with users, with the world. Share code, share designs, share ideas, share intentions, share failures.
</p>

