@import 'table-cell.vars';

:host {
  display: table-cell;
  box-sizing: border-box;
  color: $table-cell-text-colour;
  font-size: $table-cell-text-size;
  line-height: $table-cell-line-height;
  padding: 6px 20px;
  border-right: 1px solid $table-cell-border-colour;
  border-bottom: 1px solid $table-cell-border-colour;
  font-weight: $table-cell-text-weight;
}
