@use '../../scss/vars/colours';
@use '../../scss/vars/typography';

:host {
  display: table-cell;
  box-sizing: border-box;
  color: colours.$colour-admiralty-blue;
  font-size: 18px;
  line-height: 30px;
  padding: 6px 20px;
  border-right: 1px solid colours.$colour-divider;
  border-bottom: 1px solid colours.$colour-divider;
  font-weight: typography.$font-weight-light;
}
