@use 'responsive';
@use 'colours';

.page-banner {
    background-image: url("../images/homepage-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 90px;
    margin-bottom: 48px;
    @include responsive.not-desktop {
        padding: 30px;
    }
}

.banner-text {
    border-top: 10px solid colours.$colour-admiralty-blue;
    width: 40%;
    @include responsive.not-desktop {
        width: auto;
    }

    p {
        background: white;
        opacity: 0.8;
        padding: 30px;
    }
}
