@import 'colours';

.admiralty-stacked {
    max-width: 295px;
}

.admiralty-linear {
    max-width: 775px;
}

.ukho-stacked {
    max-width: 295px;
}

.ukho-linear {
    max-width: 470px;
}

.logo-img {
    padding: 30px;
    margin-bottom: 30px;
}

.product-logo-img {
    margin: 18px 0 18px 0;
    width: 90%;
    max-width: 300px;
}

.logo-container {
    text-align: center;
}