@use 'colours';
@use 'responsive';
@use 'typography';

.custom-select {
  position: relative;
  font-family: Arial;
  background-color: colours.$colour-textinput-bg;
  border: 2px solid colours.$colour-textinput-border;
  max-width: 300px;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.custom-select .select-selected.select-arrow-active {
  background-color: colours.$colour-white;
}

// /* Style the arrow inside the select element: */
// .select-selected:after {
//   position: absolute;
//   content: "";
//   top: 14px;
//   right: 10px;
//   width: 0;
//   height: 0;
//   border: 6px solid transparent;
//   border-color: #fff transparent transparent transparent;
// }

// /* Point the arrow upwards when the select box is open (active): */
// .select-selected.select-arrow-active:after {
//   border-color: transparent transparent #fff transparent;
//   top: 7px;
// }

.arrow-icon-wrap {
  position: absolute;
  right: 20px;
  top: 10px;
  pointer-events: none;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: colours.$colour-textinput-text;
  padding: 8px 16px;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  border: 2px solid colours.$colour-textinput-border;
  border-top: none;
  padding-top: 30px;
  position: absolute;
  background-color: colours.$colour-white;
  width: calc(100% + 4px);
  top: 100%;
  left: -2px;
  right: 0;
  z-index: 99;
}

.select-items div {
  font-size: 21px;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
  font-weight: 400;
}