// Reset
@use 'reset';
@use 'node_modules/normalize.css/normalize';

// Fonts
// Use "@forward with" when following issue resolved
// https://github.com/sass/sass/issues/2744
$font-path: '../webfonts' !default;
$fa-font-path: '../webfonts' !default;

@use 'fonts' with (
  $font-path: $font-path
);
@use 'node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@use 'node_modules/@fortawesome/fontawesome-free/scss/solid' with (
  $fa-font-path: $fa-font-path
);
@use 'node_modules/@fortawesome/fontawesome-free/scss/brands' with (
  $fa-font-path: $fa-font-path
);

// Core
@use 'base';
@use 'layout';
@use 'responsive';
@use 'typography';
@use 'header';
@use 'footer';
