@use "../../scss/vars/colours";
@use "../../scss/vars/typography";

label {
  margin-bottom: 6px;
  display: inline-block;
  font-weight: typography.$font-weight-medium;

  &.disabled {
    color: colours.$colour-textinput-text-disabled;
  }
}
