@import "../../styles/vars/globals";

/**
 * @prop --admiralty-label-font-weight: Font weight of the label
 * @prop --admiralty-label-margin-bottom: Margin bottom for the label
**/

$label-margin-bottom: var(--admiralty-label-margin-bottom, 6px);

$label-text-weight: var(--admiralty-label-font-weight, var(--admiralty-font-weight-medium));

$label-disabled-text-colour: var(--admiralty-disabled-text-colour);
