name: 'Design System Build'

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: 'pnpm'
          cache-dependency-path: 'pnpm-lock.yaml'
      - uses: ./.github/workflows/actions/build-all
        name: Build

  test-core-spec:
    needs: [ build ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: 'pnpm'
          cache-dependency-path: 'pnpm-lock.yaml'
      - uses: ./.github/workflows/actions/test-core-spec
        name: Test Core Spec

  release-packages:
    if: "!contains(github.event.head_commit.message, 'ci skip') && !contains(github.event.head_commit.message, 'skip ci')"
    needs: [test-core-spec,build]
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
      issues: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: 'pnpm'
          cache-dependency-path: 'pnpm-lock.yaml'
      - uses: ./.github/workflows/actions/release-packages
        name: Release Packages
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ADMIN_TOKEN: ${{ secrets.ADMIN_TOKEN }}
      - uses: ./.github/workflows/actions/release-email
        name: Send Release Email
        with:
          SENDGRID_API_KEY: ${{ secrets.SENDGRID_API_KEY }}
          FROM_EMAIL: ${{ vars.FROM_EMAIL}}
          RECIPIENTS: ${{ vars.RECIPIENTS }}
          SEND_RELEASE_EMAIL: ${{ vars.SEND_RELEASE_EMAIL }}
          SG_TEMPLATE_ID: ${{ vars.SG_TEMPLATE_ID }}
