name: "Chromatic Deployment"

on: push

jobs:
  chromatic-deployment:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          # Version Spec of the version to use. Examples: 12.x, 10.15.1, >=10.15.0.
          node-version: 20.x
      - uses: actions/checkout@v4
        with:
          fetch-depth: '0'
      - name: Install Packages
        run: |
          pnpm install --frozen-lockfile
        working-directory: ./packages/core
      - uses: ./.github/workflows/actions/build-all
        name: Build
      - name: Deploy to Chromatic
        uses: chromaui/action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          workingDir: ./packages/core
          exitOnceUploaded: true
